<div class="text-center" style="padding-top:1%">
	<img src="~/images/Recibir Correspondencia.png" class="rounded" alt="..." style="max-width:10%">
	<br />
	<h2>Correspondencia enviada</h2>
</div>

<div class="top-content">
	<div class="row-items">
		<div class="item">
			<h6 style="font-weight:600;">Id envio, nombre o num. oficio:</h6>
		</div>
		<div class="row-items item">
			<div class="item">
				<p>
					@Html.TextBox("SearchVerEnviados", null, new { id = "SearchVerEnviados" })
				</p>
			</div>
			<div class="item">
				<input type="button" class="btn-success" onclick="verCorrespondenciaEnviada('inputEnviados');" value="Buscar" />@* //LA FUNCION DE JAVASCRIPT ESTA EN LA VISTA PRINCIPAL CORRESPONDENCIA *@
			</div>
			<a style="font-size:16px;cursor: pointer;" onclick="verCorrespondenciaEnviada('linkTodos');">Ver todos los resultados</a>
		</div>
		<div class="item"><h5 style="font-weight:600;">¿Quien entrega?:</h5></div>
		<div class="item">
			<select class="form-control form-select-lg mb-3" id="selectQuienEnvia" onchange="verCorrespondenciaEnviada('selectQuienEnvia');">
				<option value="@ViewBag.QuienEnvia">@ViewBag.QuienEnvia</option>
				@foreach (var usuario in ViewBag.usuariosEnArea as List<string>)
				{
					<option value="@usuario">@usuario</option>
				}
			</select>
		</div>
		<div class="item"><h5 style="font-weight:600;">¿Quien recibe?:</h5></div>
		<div class="item">
			<select class="form-control form-select-lg mb-3" id="selectQuienRecibe" onchange="verCorrespondenciaEnviada('selectQuienRecibe');">
				<option value="@ViewBag.QuienRecibe">@ViewBag.QuienRecibe</option>
				@foreach (var usuario in ViewBag.usuariosEnArea as List<string>)
				{
					<option value="@usuario">@usuario</option>
				}

			</select>
		</div>
		<div class="item"><h5 style="font-weight:600;">Fecha entrega</h5></div>
		<div class="item">
			<input type="date" name="FechaEntrega" id="FechaEntrega" style="font-size: 9px" class="form-control" asp-format="{0:yyyy-MM-ddTHH:mm}"
				   onchange="verCorrespondenciaEnviada('fechaEntrega');" />
		</div>
		<div class="item"><h5 style="font-weight:600;">Fecha recibido</h5></div>
		<div class="item">
			<input type="date" name="FechaRecibido" id="FechaRecibido" style="font-size: 9px" class="form-control" asp-format="{0:yyyy-MM-ddTHH:mm}"
				   onchange="verCorrespondenciaEnviada('fechaRecibido');" />
		</div>
	</div>
</div>


@if (Model != null && Model.Count > 0)
{
	@if (!string.IsNullOrEmpty(ViewBag.filtroActual as string))
	{
		<h4 style="font-weight:600;">@ViewBag.filtroActual</h4>
	}

	<div style="width: 150%; right:250px;position:relative; overflow-x: scroll; padding-top:20px;">
		<table class="table table-bordered" style="width: 100%; min-width: 1500px; border-collapse: separate; border-spacing: 0; ">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>No° Oficio</th>
					<th>Figura Judicial</th>
					<th>Asunto</th>
					<th>Autoridad</th>
					<th>Observaciones</th>
					<th>FechaRegistro</th>
					<th>Quien entrega oficio</th>
					<th>Oficio entregado</th>
					<th>Fecha de entrega</th>
					<th style="width: 250px;">Quien recibe acuse</th>
					<th>Acuse Recibido</th>
					<th>Fecha de recibido</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr id="renglon_@item.IdenvioCorrespondencia" style="background-color:@(item.Confirmado == 1 ? "#DCFFD2" : "transparent");">
						@{
							@*esta variable habilita la clase editable cell en las celdas que se pueden modificar*@
							bool editable = item.Entregado == 0;
						}
						<input type="hidden" name="idCorrespondencia" value="@item.IdenvioCorrespondencia" />

						<td>@item.IdenvioCorrespondencia</td>


						@* DATA FIELD ES PARA SABER QUE CAMPO SE MODIFICA *@


						@if (editable)
						{
							<td class="editable-cell">
								<span class="name-part">
									<label class="label labelEnvio">Nombre:</label>
									<span class="value" contenteditable="@(editable ? "true" : "false")" data-field="Nombre">@item.Nombre</span>
								</span>
								<span class="name-part">
									<label class="label labelEnvio">Apaterno:</label>
									<span class="value" contenteditable="@(editable ? "true" : "false")" data-field="Apaterno">@item.Apaterno</span>
								</span>
								<span class="name-part">
									<label class="label labelEnvio">Amaterno:</label>
									<span class="value" contenteditable="@(editable ? "true" : "false")" data-field="Amaterno">@item.Amaterno</span>
								</span>
							</td>

						}
						else
						{
							<td>@($"{item.Nombre} {item.Apaterno} {item.Amaterno}")</td>
						}

						@* 	<td contenteditable="@(editable ? "true" : "false")" data-field="NombreCompleto" class=" @(editable ? "editable-cell" : "")">
							@($"{item.Nombre} {item.Apaterno} {item.Amaterno}")
						</td>

						<td contenteditable ="@(editable ? "true" : "false")" class="editable-cell nombre-completo-cell">
							<span contenteditable="@(editable ? "true" : "false")" data-field="Nombre">@item.Nombre</span>
							<span contenteditable="@(editable ? "true" : "false")" data-field="Apaterno">@item.Apaterno</span>
							<span contenteditable="@(editable ? "true" : "false")" data-field="Amaterno">@item.Amaterno</span>
						</td> *@
						<td contenteditable="@(editable ? "true" : "false")" data-field="NoOficio" class=" @(editable ? "editable-cell" : "")">
							@item.NoOficio
						</td>

						<td contenteditable="@(editable ? "true" : "false")" data-field="FiguraJudicial" class=" @(editable ? "editable-cell" : "")">
							@item.FiguraJudicial
						</td>


						<td contenteditable="@(editable ? "true" : "false")" data-field="Asunto" class=" @(editable ? "editable-cell" : "")">
							@item.Asunto
						</td>

						<td contenteditable="@(editable ? "true" : "false")" data-field="Autoridad" class=" @(editable ? "editable-cell" : "")">
							@item.Autoridad
						</td>
						<td contenteditable="@(editable ? "true" : "false")" data-field="Observaciones" class=" @(editable ? "editable-cell" : "")">
							@item.Observaciones
						</td>

						<td>@item.FechaRegistro?.ToString("dd/MM/yyyy HH:mm")</td>
						<td>@item.QuienEntrega</td>

						<td>
							<input class="checkbox-entregadoRecibido"
								   data-id="@item.IdenvioCorrespondencia"
								   data-tipo="entregado"
								   type="checkbox"
								   @(item.Entregado == 1 ? "checked" : "")
								   disabled />
						</td>

						<td class="fecha-entregado">@item.FechaEntrega?.ToString("dd/MM/yyyy HH:mm")</td>
						<td>@item.QuienRecibe</td>

						<td>
							<input class="checkbox-entregadoRecibido"
								   data-id="@item.IdenvioCorrespondencia"
								   data-tipo="recibido"
								   type="checkbox"
								   @(item.Recibido == 1 ? "checked" : "")
								   disabled />
						</td>

						<td class="fecha-recibido">@item.FechaRecibido?.ToString("dd/MM/yyyy HH:mm")</td>
						<td>
							<div class="col-md-1">
								@if (editable && !User.IsInRole("VerCorrespondencia"))
								{


									<button style="margin-top: 10px;" class="btn btn-danger" onclick="BorrarCorrespondencia(@item.IdenvioCorrespondencia)">
										<i class='fa fa-trash'></i>
									</button>



								}
								@if (!editable && item.Recibido == 1 && (item.Confirmado == null || item.Confirmado == 0))
								{
									<button style="margin-top: 10px;"
											id="btnConfirmacion_@item.IdenvioCorrespondencia"
 										class="btn btn-success"
											onclick="modificarCorrespondenciaEnviada(@item.IdenvioCorrespondencia, 'botonConfirmacion')">
										<i class="fa fa-arrow-left"></i>
									</button>
								}

								@if (!editable && item.Recibido == 1 && item.Confirmado == 1)
								{
									<div class="text-center" style="padding-top:1%">
										<img src="~/images/flecha_verde.png"
											 class="rounded img-fluid"
											 alt="..."
											 style="max-width: 40px;">
									</div>
								}
							</div>
						</td>

					</tr>
				}
			</tbody>
		</table>
	</div>
	<div class="pagination-controls mt-2">
		@if (ViewBag.PageNumber > 1)
		{
			<button class="btn btn-secondary" onclick="loadPageVerEnviados(@(ViewBag.PageNumber - 1))">
				Anterior
			</button>
		}

		<span>Página @ViewBag.PageNumber de @ViewBag.TotalPages</span>

		@if (ViewBag.PageNumber < ViewBag.TotalPages)
		{
			<button class="btn btn-secondary" onclick="loadPageVerEnviados(@(ViewBag.PageNumber + 1))">
				Siguiente
			</button>
		}
	</div>

}
else
{
	<h2>Sin resultados</h2>
}