@model scorpioweb.Models.Ejecucion

@{
    Layout = null;
}

<script>

    var listaSimilitud = new Array;

    $(document).ready(function () {
        function autocomplete(inp, arr) {
            var currentFocus;
            inp.addEventListener("input", function (e) {
                var a, b, i, val = this.value;
                closeAllLists();
                if (!val) { return false; }
                currentFocus = -1;
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                this.parentNode.appendChild(a);
                for (i = 0; i < arr.length; i++) {
                    if (arr[i].toUpperCase().includes(val.toUpperCase())) {
                        b = document.createElement("DIV");
                        b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                        b.innerHTML += arr[i].substr(val.length);
                        b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>"; b.addEventListener("click", function (e) {
                            inp.value = this.getElementsByTagName("input")[0].value;

                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                }
            });

            inp.addEventListener("keydown", function (e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {

                    currentFocus++;

                    addActive(x);
                } else if (e.keyCode == 38) { //up

                    currentFocus--;

                    addActive(x);
                } else if (e.keyCode == 13) {

                    e.preventDefault();
                    if (currentFocus > -1) {

                        if (x) x[currentFocus].click();
                    }
                }
            });
            function addActive(x) {

                if (!x) return false;

                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);

                x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {

                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                }
            }
            function closeAllLists(elmnt) {
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });

            $('#TieneceAcumuladas').change(function () {
                var dat = $(this).children("option:selected").val();
                if (dat == "SI") {
                    $("#CeAcumuladas").css("display", "block");
                }
                else {
                    $("#CeAcumuladas").css("display", "none");
                }
            });
        }
        var catalogo = JSON.parse('@Html.Raw(Json.Serialize(@ViewBag.centrosPenitenciarios))');
        var catalogojuez = JSON.parse('@Html.Raw(Json.Serialize(@ViewBag.directorio))');
        autocomplete(document.getElementById("LugarInternamiento"), catalogo);
        autocomplete(document.getElementById("Juzgado"), catalogojuez);
    });

    function myFunction(materno) {
        var nombre = document.getElementById("nombreee").value;
        var paterno = document.getElementById("paternoee").value;
        var materno = materno;
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Api/testSimilitud",
            traditional: true,
            data: {
                nombre, paterno, materno,
            },
            success: function (response) {
                $('#tblSimilitud').html('');
                var row = '';
                if (response.lista.length == 0) {
                    //alert("No se encontro ningún registro que coincida")
                    return;
                }
                for (let i = 0; i < response.lista.length; i++) {
                    if (response.lista[i].clave != null) {
                        row = row + "<tr style='background-color: #F7F2E7'>"
                    } else {
                        row = row + "<tr>"
                    }
                    row = row
                        + "<tr>"
                        + "<td><input type='checkbox' onclick='unirCURS(\"" + response.lista[i].tabla + "\", " + response.lista[i].id + ")'></td>"
                        + "<td>" + response.lista[i].id + "</td>"
                        + "<td>" + response.lista[i].nombre + "</td>"
                        + "<td>" + response.lista[i].tabla + "</td>"
                        + "<td>" + response.lista[i].dato + "</td>"
                        if (response.lista[i].foto != "NA") {
                            row = row + "<td><img src='/" + response.lista[i].foto + "' class='img-thumbnail' width='200' height='200'></td>"
                        } else {
                            row = row + "<td width='200' height='200'></td>"
                        }
                    row = row + "<td>";
                    if (response.lista[i].tabla == "Ejecucion") {
                        row = row
                            + "<div class=\"col-md-3\"><a style='margin-top: 10px; margin-left:5px; margin-rigth:5px;' onclick='buscarDatos(\"" + response.lista[i].nombre + "\")' class='btn btn-success' > <i class='fa fa-eye'></i> Ver</a ></div>";
                    }
                    else {
                        row = row
                            + "<div class=\"col-md-3\"><a style='margin-top: 10px; margin-left:5px; margin-rigth:5px;' onclick='usarDatos(\"" + response.lista[i].id + "\", \"" + response.lista[i].tabla + "\")' class='btn btn-primary' > <i class='fa fa-exchange'></i> Usar</a ></div>";
                    }
                    row = row + "</td>";
                    row = row + "</tr>";
                };
                if (row != '') {
                    $('#tblSimilitud').append(row);
                }
                $("#similitudModal").modal();
            },
            error: function (response) {
                alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                console.log(response);
            }
        });
    };



    function unirCURS(tabla, id) {
        var encontro = false;
        var index = -1;
        // Busca si ya existe un objeto con el mismo id y tabla en la lista
        for (var i = 0; i < listaSimilitud.length; i++) {
            if (listaSimilitud[i].id === id && listaSimilitud[i].tabla === tabla) {
                encontro = true;
                index = i;
                break;
            }
        }
        // Si no se encuentra, se agrega el nuevo objeto a la lista
        if (!encontro) {
            listaSimilitud.push({ id, tabla });
        } else { // Si se encuentra, se elimina del array
            listaSimilitud.splice(index, 1);
        }
        // Convertir la lista a una cadena JSON
        var datosJson = JSON.stringify(listaSimilitud);

        // Asignar la cadena JSON al campo oculto en el formulario
        document.getElementById("datosArray").value = datosJson;

    }

    function buscarDatos(nombre) {
        //PASO EL VALOR DESDE LA TABLA DE EL MODAL "testsimilitud",A LA FUNCIUON "pasarvalor",
        //ESTE USA  window.parent.miFuncionEnPaginaPrincipal(nombre) PARA MANDARLO A LA PAGUINA PRINCIPAL;
        window.parent.miFuncionEnPaginaPrincipal(nombre);
    };


    function usarDatos(id, tabla) {
        document.getElementById("tabla").value = tabla;
        document.getElementById("idselecionado").value = id;
        $.ajax({
            url: "/Api/Savcardatos",
            type: "POST",
            dataType: "json",
            cache: false,
            traditional: true,
            data: {
                id, tabla,
            },
            success: function (response) {
                //document.getElementById("nombre").value = response.lista[0].nombre;
                //document.getElementById("paterno").value = response.lista[0].paterno;
                //document.getElementById("materno").value = response.lista[0].materno;
                document.getElementById("CURS").value = response.lista[0].p.claveUnicaScorpio;
            }
        });
        $("#similitudModal").modal("hide");
    };

    function btnclose() {
        $('#similitudModal').modal('toggle');
    }
</script>

<div class="row">
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-md-12">
        <div class="form-group">
            <label asp-for="Nombre" class="control-label"></label>
            <input required asp-for="Nombre" id="nombreee" name="nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
            <label class="control-label">Apellido Paterno</label>
            <input required asp-for="Paterno" id="paternoee" name="paterno" class="form-control" />
            <span asp-validation-for="Paterno" class="text-danger"></span>
        </div>
        <div class="form-group col-md-12">
            <label class="control-label">Apellido Materno</label>
            <input required asp-for="Materno" id="materno" name="materno" class="form-control" onblur="myFunction(value)" />
            <span asp-validation-for="Materno" class="text-danger"></span>
        </div>
        <div class="form-group col-md-12">
            <label class="control-label">Y/O</label>
            <input asp-for="Yo" class="form-control" />
            <span asp-validation-for="Yo" class="text-danger"></span>
        </div>
        <div class="form-group col-md-12">
            <label class="control-label">Carpeta de Ejecucion</label>
            <input required asp-for="Ce" class="form-control" />
            <span asp-validation-for="Ce" class="text-danger"></span>
        </div>
        <div class="form-group col-md-12">
            <label class="control-label">Juzgado de Origen</label>
            <select class="form-control" name="Juzgado" id="Juzgado"
                    asp-items="@(new SelectList(ViewBag.Liatajuzgado, "Value"))">
            </select>
        </div>
        @*<div class="form-group autocomplete col-md-12">
            <label class="control-label">Juzgado</label>
            <input asp-for="Juzgado" class="form-control" />
            <span asp-validation-for="Juzgado" class="text-danger"></span>
        </div>*@
        <div class="form-group col-md-12">
            <label class="control-label">
                ¿Cuenta con Carpeta de Ejecucion acumuladas?
            </label>
            <select asp-for="TieneceAcumuladas" class="form-control" id="TieneceAcumuladas">
                <option value="NO">No</option>
                <option value="SI">Si</option>
            </select>
            <span asp-validation-for="TieneceAcumuladas" class="text-danger"></span>
        </div>
        <div class="form-group col-md-12" id="CeAcumuladas" name="CeAcumuladas" style="display:none">
            <label class="control-label">Carpeta de Ejecucion Acumuladas</label>
            <input asp-for="CeAcumuladas" class="form-control" />
            <span asp-validation-for="CeAcumuladas" class="text-danger"></span>
        </div>
        <div class="form-group col-md-12" style="display:none;">
            <label class="control-label">Usuario</label>
            <input readonly asp-for="Usuario" value="@ViewBag.User" class="form-control" />
            <span asp-validation-for="Usuario" class="text-danger"></span>
        </div>
        <div class="form-group autocomplete col-md-12">
            <label lass="control-label">Lugar de Internamiento</label>
            <input class="form-control" name="LugarInternamiento" id="LugarInternamiento" maxlength="45" />
        </div>
        <div class="form-group col-md-12">
            <label class="control-label">Estado Actual</label>
            <select class="form-control" name="EstadoActual" id="EstadoActual"
                    asp-items="@(new SelectList(ViewBag.EstadoActual, "Value"))">
            </select>
        </div>
        <div class="form-group col-md-12" id="Encargado" name="Encargado" style="display:none">
            <label class="control-label">Encargado</label>
            <input readonly asp-for="Encargado" class="form-control" />
            <span asp-validation-for="Encargado" class="text-danger"></span>
        </div>

        <input readonly type="hidden" id="CURS" name="CURS" type="text" maxlength="18" class="form-control" />
        <input readonly type="hidden" id="tabla" name="tabla" type="text" maxlength="18" class="form-control" />
        <input readonly type="hidden" id="idselecionado" name="idselecionado" type="text" maxlength="18" class="form-control" />
        <input hidden name="datosArray" id="datosArray" type="text" />
        <div class="form-group">
            <button class="btn btn-primary" type="submit">
                <i class="fa fa-save"></i> Guardar
            </button>
        </div>
    </form>
</div>

<div id="similitudModal" class="modal fade" tabindex="1" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:850px; background-color:#fff">
        <div class="modal-content">
            @*            <div class="text-right"  style="background-color:#0078a7">
            <button type="button" hrf data-dismiss="modal">x</button>
            </div>*@
            <div class="modal-header float-center" style="background-color:#0078a7">
                <button type="button" class="close" onclick="btnclose()" aria-label="Close">
                    <i class="fa fa-close"></i>
                </button>
                <h3 id="modal_body" style="text-align:center; color:#000">Similitud </h3>
            </div>
            <div class="modal-body">
                <div>
                    <table class="table" name="" id="">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Tabla</th>
                                <th>Dato Extra</th>
                                <th>Foto</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tblSimilitud">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary fa fa-close" onclick="btnclose()">Cerrar</button>
            </div>
        </div>
    </div>
</div>