@model scorpioweb.Models.Ejecucion

@{
     Layout = null;
}

<script>
    $(document).ready(function () {
        function autocomplete(inp, arr) {
                var currentFocus;
                inp.addEventListener("input", function (e) {
                    var a, b, i, val = this.value;
                    closeAllLists();
                    if (!val) { return false; }
                    currentFocus = -1;
                    a = document.createElement("DIV");
                    a.setAttribute("id", this.id + "autocomplete-list");
                    a.setAttribute("class", "autocomplete-items");
                    this.parentNode.appendChild(a);
                    for (i = 0; i < arr.length; i++) {
                        if (arr[i].toUpperCase().includes(val.toUpperCase())) {
                            b = document.createElement("DIV");
                            b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                            b.innerHTML += arr[i].substr(val.length);
                            b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>"; b.addEventListener("click", function (e) {
                                inp.value = this.getElementsByTagName("input")[0].value;

                                closeAllLists();
                            });
                            a.appendChild(b);
                        }
                    }
                });

                inp.addEventListener("keydown", function (e) {
                    var x = document.getElementById(this.id + "autocomplete-list");
                    if (x) x = x.getElementsByTagName("div");
                    if (e.keyCode == 40) {

                        currentFocus++;

                        addActive(x);
                    } else if (e.keyCode == 38) { //up

                        currentFocus--;

                        addActive(x);
                    } else if (e.keyCode == 13) {

                        e.preventDefault();
                        if (currentFocus > -1) {

                            if (x) x[currentFocus].click();
                        }
                    }
                });
                function addActive(x) {

                    if (!x) return false;

                    removeActive(x);
                    if (currentFocus >= x.length) currentFocus = 0;
                    if (currentFocus < 0) currentFocus = (x.length - 1);

                    x[currentFocus].classList.add("autocomplete-active");
                }
                function removeActive(x) {

                    for (var i = 0; i < x.length; i++) {
                        x[i].classList.remove("autocomplete-active");
                    }
                }
                function closeAllLists(elmnt) {
                    var x = document.getElementsByClassName("autocomplete-items");
                    for (var i = 0; i < x.length; i++) {
                        if (elmnt != x[i] && elmnt != inp) {
                            x[i].parentNode.removeChild(x[i]);
                        }
                    }
                }
                document.addEventListener("click", function (e) {
                    closeAllLists(e.target);
                });
        }
        var catalogo = JSON.parse('@Html.Raw(Json.Serialize(@ViewBag.centrosPenitenciarios))');
        autocomplete(document.getElementById("LugarInternamiento"), catalogo);

        var catalogojuez = JSON.parse('@Html.Raw(Json.Serialize(@ViewBag.directorio))');
        autocomplete(document.getElementById("Juzgado"), catalogojuez);

        if ('@ViewBag.acumuladas' == "SI") {
            $("#DivCeAcumuladas").css("display", "block");
        }
    });

    $('#TieneceAcumuladas').change(function () {
        var dat = $(this).children("option:selected").val();
        if (dat == "SI") {
            $("#DivCeAcumuladas").css("display", "block");
        }
        else {
            $('#CeAcumuladas').val('');
            $("#DivCeAcumuladas").css("display", "none");

        }
    });


    function myFunction(materno) {
        var nombre = document.getElementById("nombreee").value;
        var paterno = document.getElementById("paternoee").value;
        var materno = materno;

        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Api/testSimilitud",
            traditional: true,
            data: {
                nombre, paterno, materno,
            },
            success: function (response) {
                $('#tblSimilitud').html('');
                var row = '';
                if (response.lista.length == 0) {
                    //alert("No se encontro ningún registro que coincida")
                    return;
                }
                for (let i = 0; i < response.lista.length; i++) {
                    row = row
                        + "<tr>"
                        + "<td>" + response.lista[i].id + "</td>"
                        + "<td>" + response.lista[i].nombre + "</td>"
                        + "<td>" + response.lista[i].tabla + "</td>"
                        + "<td>" + response.lista[i].dato + "</td>"
                    row = row + "<td>";
                    if (response.lista[i].tabla == "ServiciosPrevios") {
                        row = row
                            + "<div class=\"col-md-3\"><a style='margin-top: 10px; margin-left:5px; margin-rigth:5px;' onclick='buscarDatos(\"" + response.lista[i].nombre + "\")' class='btn btn-success' > <i class='fa fa-eye'></i> Ver</a ></div>";
                    }
                    else {
                        row = row
                            + "<div class=\"col-md-3\"><a style='margin-top: 10px; margin-left:5px; margin-rigth:5px;' onclick='usarDatos(\"" + response.lista[i].id + "\", \"" + response.lista[i].tabla + "\")' class='btn btn-primary' > <i class='fa fa-exchange'></i> Usar</a ></div>";
                    }
                    row = row + "</td>";
                    row = row + "</tr>";
                };
                if (row != '') {
                    $('#tblSimilitud').append(row);
                }
                $("#similitudModal").modal();
            },
            error: function (response) {
                alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                console.log(response);
            }
        });
    };


    function buscarDatos(nombre) {
        //PASO EL VALOR DESDE LA TABLA DE EL MODAL "testsimilitud",A LA FUNCIUON "pasarvalor",
        //ESTE USA  window.parent.miFuncionEnPaginaPrincipal(nombre) PARA MANDARLO A LA PAGUINA PRINCIPAL;
        window.parent.miFuncionEnPaginaPrincipal(nombre);
    };


    function usarDatos(id, tabla) {
        document.getElementById("tabla").value = tabla;
        document.getElementById("idselecionado").value = id;
        $.ajax({
            url: "/Api/Savcardatos",
            type: "POST",
            dataType: "json",
            cache: false,
            traditional: true,
            data: {
                id, tabla,
            },
            success: function (response) {
                //document.getElementById("nombre").value = response.lista[0].nombre;
                //document.getElementById("paterno").value = response.lista[0].paterno;
                //document.getElementById("materno").value = response.lista[0].materno;
                document.getElementById("CURS").value = response.lista[0].claveUnicaScorpio;
            }
        });
        $("#similitudModal").modal("hide");
    };

    function btnclose() {
        $('#similitudModal').modal('toggle');
    }

</script>


<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input readonly type="hidden" asp-for="IdEjecucion" />
            <input readonly type="hidden" asp-for="FechaCarga" class="form-control" />
            <input type="hidden" readonly asp-for="ClaveUnicaScorpio" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Apellido Paterno</label>
                <input asp-for="Paterno" class="form-control" />
                <span asp-validation-for="Paterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Apellido Materno</label>
                <input asp-for="Materno" class="form-control" />
                <span asp-validation-for="Materno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yo" class="control-label"></label>
                <input asp-for="Yo" class="form-control" />
                <span asp-validation-for="Yo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ce" class="control-label"></label>
                <input asp-for="Ce" class="form-control" />
                <span asp-validation-for="Ce" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Juzgado de Origen</label>
                <select class="form-control" name="Juzgado" id="Juzgado" 
                        asp-items="@(new SelectList(ViewBag.LiataJuzgado, @ViewBag.LiataJuzgadoEdit))">
                </select>
            </div>
           @* <div class="form-group autocomplete  col-md-12">
                <label class="control-label">Juzgado</label>
                <input asp-for="Juzgado" class="form-control" />
                <span asp-validation-for="Juzgado" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label class="control-label">
                    ¿Cuanta con Carpeta de Ejecucion acumuladas?
                </label>
                <select asp-for="TieneceAcumuladas" class="form-control" id="TieneceAcumuladas" value="@ViewBag.acumuladas">
                    <option value="NO">No</option>
                    <option value="SI">Si</option>
                </select>
                <span asp-validation-for="TieneceAcumuladas" class="text-danger"></span>
            </div>
            <div class="form-group" id="DivCeAcumuladas" name="DivCeAcumuladas" style="display:none">
                <label class="control-label">Carpeta de Ejecucion Acumuladas</label>
                <input required asp-for="CeAcumuladas" class="form-control" id="CeAcumuladas" name="CeAcumuladas" />
                <span asp-validation-for="CeAcumuladas" class="text-danger"></span>
            </div>
            <div class="form-group autocomplete">
                <label class="control-label">Lugar de Internamiento</label>
                <input asp-for="LugarInternamiento" class="form-control" />
                <span asp-validation-for="LugarInternamiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Estado Actual</label>
                <select class="form-control" name="EstadoActual" id="EstadoActual"
                        asp-items="@(new SelectList(ViewBag.EstadoActual, @ViewBag.EstadoActualEdit))">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Encargado</label>
                <select class="form-control" name="Encargado" id="Encargado"
                        asp-items="@(new SelectList(ViewBag.ListaEjecucion, @ViewBag.ListaEjecucionEdit))">
                </select>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary fa fa-save"> Guardar</button>   
            </div>
            
        </form>
    </div>
</div>



