@model PaginatedList<scorpioweb.Models.Ejecucion>
   
    
    <h2>Asignación de Encargado</h2>
    @if (ViewBag.WarningsUser > 0)
    {
        <a href="/Archivo/ArchivoPrestamoDigital" class="link-archivo">
            <h3 style="text-align:right; color:blue">Tu solicitud fue atendida: @ViewBag.WarningsUser</h3>
        </a>
    }
<form asp-action="Reacignacion" method="get">
    <div>
        <div class="col-md-6">
            <label>
                Búsqueda por nombre o Carpeta de Ejecucion
                <input type="text" name="SearchString" id="SearchString" value="@ViewData["currentFilter"]" />
            </label>
        </div>
        <button type="submit" class="btn btn-default" style="margin-left:-20px">
            <i class="fa fa-search"></i>
            Buscar
        </button>
        <a style="margin-left:10px" asp-action="Reacignacion">Regresar al listado completo</a>
    </div>
</form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nombre completo
                </th>
                <th>
                    Carpeta de ejecucion 
                </th> 
                <th>
                    Juzgado 
                </th>
                <th>
                    Capturista
                </th>
                <th>
                    Encargado
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Paterno) @Html.DisplayFor(modelItem => item.Materno) @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ce)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Juzgado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Encargado)
                    </td>
                    <td>
                        <form asp-action="EditSupervisor">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <input type="hidden" asp-for="@item.IdEjecucion" name="IdEjecucion" id="IdEjecucion" />
                                <select class="form-control" name="Encargado" id="Encargado"
                                        asp-items="@(new SelectList(ViewBag.ListadoUsuarios, "Text","Text"))">
                                    <option>Seleccionar</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Guardar
                                </button>
                                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.IdEjecucion">
                                    <i class="fa fa-eye"></i>
                                    Detalles
                                </a>
                            </div>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>


