@model scorpioweb.Models.Bitacora

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form onsubmit="return confirm('¿Deseas guardar los datos?');" asp-action="CreateBitacora" asp-route-nombre="@ViewBag.nombre" asp-route-cp="@ViewBag.cp" asp-route-idpersona="@ViewBag.idpersona" asp-route-idcp="@ViewBag.idcp" asp-route-supervisor="@ViewBag.supervisor" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input readonly name="IdBitacora" id="IdBitacora" class="form-control" style="display:none" />
            <input readonly name="FracionesImpuestasIdFracionesImpuestas" id="FracionesImpuestasIdFracionesImpuestas" class="form-control" style="display:none" value="@ViewBag.FracionesImpuestasIdFracionesImpuestas" />
            <div class="form-group col-md-8">
                <label asp-for="Fecha" class="control-label"></label>
                <input required asp-for="Fecha" type="date" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
           <div class="form-group col-md-4">
                <label class="control-label">IdOficialia</label>
                <select class="form-control" name="idoficialia" id="idoficialia"
                        asp-items="@(new SelectList(ViewBag.expoficialia, "Value"))">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Supervisado / Víctima</label>
                <select class="form-control" name="tipoPersona" id="tipoPersona">
                    <option value="SUPERVISADO">Supervisado</option>
                    <option value="VICTIMA">Víctima</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Acción de Supervisión</label>
                <select class="form-control" name="tipoVisita" id="tipoVisita">
                    <option value="PRESENCIAL">Presencial</option>
                    <option value="FIRMA PERIODICA">Firma Periódica</option>
                    <option value="WHATSAPP">WhatsApp</option>
                    <option value="TELEFONICA">Telefónica</option>
                    <option value="INFORME">Informe de Supervisión</option>
                    <option value="CORREO ELECTRONICO">Correo Electrónico</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Texto" class="control-label"></label>
                <textarea asp-for="Texto" class="form-control" cols="20" rows="5"></textarea>
                <span asp-validation-for="Texto" class="text-danger"></span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="evidencia" name="evidencia" lang="es">
            </div>
            <input readonly name="IdSupervision" id="IdSupervision" class="form-control" style="display:none" />
            <input readonly name="SupervisionIdSupervision" id="SupervisionIdSupervision" class="form-control" value="@ViewBag.SupervisionIdSupervision" style="display:none" />
            <br />
            <div class="form-group" style="padding-top:15PX">
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>

            </div>
        </form>
    </div>
</div>