@model scorpioweb.Models.Supervision

@{
    ViewData["Title"] = "Supervisión";
}
@* Necesario para los modales en el servidor *@
<script src="~/js/jquery-1.11.1.min.js"></script>

<h2>Supervisión</h2>
<div class="col-md-12">
    <div class=col-md-4>
        <h4 style="text-align:center" class="blockquote text-center">Id Persona:</h4>
        <h4 style="text-align:center" class="blockquote text-center">@ViewBag.idpersona</h4>
    </div>
    <div class=col-md-4>
        <h4 style="text-align:center" class="blockquote text-center">Nombre:</h4>
        <h4 style="text-align:center" class="blockquote text-center">@ViewBag.nombre</h4>
    </div>
    <div class=col-md-4>
        <h4 style="text-align:center" class="blockquote text-center">Causa Penal
        <h4 style="text-align:center" class="blockquote text-center">@ViewBag.cp</h4>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdSupervision" />
            <div class="form-group">
                <label asp-for="Inicio" class="control-label"></label>
                <input asp-for="Inicio" type="date" class="form-control" />
                <span asp-validation-for="Inicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Termino" class="control-label"></label>
                <input asp-for="Termino" type="date" class="form-control" />
                <span asp-validation-for="Termino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Estado de Supervisión</label>
                @*@if (User.IsInRole("Masteradmin") || User.IsInRole("AdminMCSCP"))
                {*@
                    <select class="form-control" name="EstadoSupervision"
                            asp-items="@(new SelectList(ViewBag.listaEstadoSupervision, "Value", "Text", @ViewBag.idEstadoSupervision))">
                    </select>
                @*}*@
                @*else
                {
                    <input asp-for="EstadoSupervision" class="form-control" readonly/>
                    <span asp-validation-for="EstadoSupervision" class="text-danger"></span>
                }  *@           
            </div>
            <div class="form-group" style="display:none " readonly>
                <label asp-for="PersonaIdPersona" class="control-label"></label>
                <input asp-for="PersonaIdPersona" class="form-control" />
                <span asp-validation-for="PersonaIdPersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Estado de Cumplimiento</label>
                <select class="form-control" name="EstadoCumplimiento"
                        asp-items="@(new SelectList(ViewBag.listaEstadoCumplimiento, "Value", "Text", @ViewBag.idEstadoCumplimiento))">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">TTA</label>
                <select class="form-control" name="Tta"
                        asp-items="@(new SelectList(ViewBag.listaTTA, "Value", "Text", @ViewBag.idTTA))">
                </select>
            </div>
            <div class="form-group" style="display:none " readonly>
                <label asp-for="CausaPenalIdCausaPenal" class="control-label"></label>
                <input asp-for="CausaPenalIdCausaPenal" class="form-control" style="display:none " readonly />
                <span asp-validation-for="CausaPenalIdCausaPenal" class="text-danger"></span>
            </div>
            @if (ViewBag.usuario)
            {
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i> Guardar
                    </button>
                </div>
            }            
        </form>
    </div>
</div>
<div>
    <a asp-action="Supervision" asp-route-id="@Model.IdSupervision" class="btn btn-link">Regresar</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
