@model scorpioweb.Models.Cambiodeobligaciones
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    var tipo = 0;
    $(document).ready(function () {
        $('#SeDioCambio').change(function () {
            var dat = $(this).children("option:selected").val();
            if (dat == "SI") {
                $("#DivMotivoAprobacion").css("display", "block");
                $("#DivFechaAprobacion").css("display", "block");
            }
            else {
                $("#DivMotivoAprobacion").css("display", "none");
                $("#DivFechaAprobacion").css("display", "none");
            }
        });

    });
</script>

@{
    ViewData["Title"] = "Cambio de Obligaciones";
}

<h2>Cambio de obligaciónes</h2>
<div class="col-md-12">
    <div class=col-md-4>
        <h4 style="text-align:center" class="blockquote text-center">Id Persona:</h4>
        <h4 style="text-align:center" class="blockquote text-center">@ViewBag.idpersona</h4>
    </div>
    <div class=col-md-4>
        <h4 style="text-align:center" class="blockquote text-center">Nombre:</h4>
        <h4 style="text-align:center" class="blockquote text-center">@ViewBag.nombre</h4>
    </div>
    <div class=col-md-4>
        <h4 style="text-align:center" class="blockquote text-center">
            Causa Penal
            <h4 style="text-align:center" class="blockquote text-center">@ViewBag.cp</h4>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCambiodeobligaciones">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCambiodeObligaciones" />
            <div class="form-group">
                <label class="control-label">Se dio Cambio</label>
                <select class="form-control" name="SeDioCambio" id="SeDioCambio"
                        asp-items="@(new SelectList(ViewBag.listaSediocambio, "Value", "Text", @ViewBag.idSediocambio))">
                </select>
            </div>
            @if (ViewBag.cambio == null || ViewBag.cambio == "SI")
            {
                <div class="form-group" id="DivFechaAprobacion">
                    <label class="control-label">Fecha de Aprobación</label>
                    <input asp-for="FechaAprobacion" class="form-control" type="date" />
                    <span asp-validation-for="FechaAprobacion" class="text-danger"></span>
                </div>
                <div class="form-group" id="DivMotivoAprobacion">
                    <label class="control-label"> Motivo de Aprobación</label>
                    <select class="form-control" name="MotivoAprobacion" id="MotivoAprobacion"
                        asp-items="@(new SelectList(ViewBag.listaMotivoAprobacion, "Value", "Text", @ViewBag.idMotivoAprobacion))">
                    </select>
                </div>
            }
            @if (ViewBag.cambio == null || ViewBag.cambio == "NO" || ViewBag.cambio == "NA")
            {
                <div class="form-group" style="display: none;" id="DivFechaAprobacion">
                    <label class="control-label">Fecha de Aprobación</label>
                    <input asp-for="FechaAprobacion" class="form-control" type="date" />
                    <span asp-validation-for="FechaAprobacion" class="text-danger"></span>
                </div>
                <div class="form-group" style="display: none;" id="DivMotivoAprobacion">
                    <label class="control-label"> Motivo de Aprobación</label>
                    <input asp-for="MotivoAprobacion" class="form-control" />
                    <span asp-validation-for="MotivoAprobacion" class="text-danger"></span>
                </div>
            }
            <input type="hidden" asp-for="SupervisionIdSupervision" />
            @if (ViewBag.usuario)
            {
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i> Guardar
                    </button>
                </div>
            }
        </form>
    </div>
</div>

<div>
    <a asp-action="Supervision" asp-route-id="@Model.SupervisionIdSupervision" class="btn btn-link">Regresar</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
