@model scorpioweb.Models.Aer

@{
    ViewData["Title"] = "EditAer";
}

<h2>EditAer</h2>

<h4>Aer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditAer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdAer" />
            <div class="form-group">
                <label class="control-label">Cuentacon Evaluacion</label>
                <select class="form-control" name="CuentaEvaluacion"
                        asp-items="@(new SelectList(ViewBag.listaCuentaEvaluacion, "Value", "Text", @ViewBag.idCuentaEvaluacion))">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Fecha de Entrega</label>
                <input asp-for="FechaEntrega" class="form-control" />
                <span asp-validation-for="FechaEntrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Evaluador de Caso</label>
                <input asp-for="EvaluadorCaso" class="form-control" />
                <span asp-validation-for="EvaluadorCaso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Periodicidad de Firma</label>
                <select class="form-control" name="RiesgoDetectado"
                        asp-items="@(new SelectList(ViewBag.listaRiesgoDetectado, "Value", "Text", @ViewBag.idRiesgoDetectado))">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Riesgo Sustraccion</label>
                <select class="form-control" name="RiesgoSustraccion"
                        asp-items="@(new SelectList(ViewBag.listaRiesgoSustraccion, "Value", "Text", @ViewBag.idRiesgoSustraccion))">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Riesgo Obstaculizacion</label>
                <select class="form-control" name="RiesgoObstaculizacion"
                        asp-items="@(new SelectList(ViewBag.listaRiesgoObstaculizacion, "Value", "Text", @ViewBag.idRiesgoObstaculizacion))">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Riesgo Victima</label>
                <select class="form-control" name="RiesgoVictima"
                        asp-items="@(new SelectList(ViewBag.listaRiesgoVictima, "Value", "Text", @ViewBag.idRiesgoVictima))">
                </select>
            </div>
            <input type="hidden" asp-for="SupervisionIdSupervision" />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
