@model scorpioweb.Models.Victima

@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <form onsubmit="return confirm('¿Deseas modificar los datos?');" asp-action="EditVictima   " enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input hidden asp-for="IdVictima" />
            <div class="form-group">
                <label class="control-label"> Nombre de Victima</label>
                <input asp-for="NombreV" class="form-control" />
                <span asp-validation-for="NombreV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edad" class="control-label"></label>
                <input asp-for="Edad" class="form-control" />
                <span asp-validation-for="Edad" type="number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" type="tel" pattern="[0-9]{10}" maxlength="10"/>
                <span asp-validation-for="Telefono" type="number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">¿Conoce a el detenido? </label>
                <select class="form-control" name="ConoceDetenido" id="ConoceDetenido"
                        asp-items="@(new SelectList(ViewBag.ConoceDetenido, "Value", "Text", @ViewBag.idConoceDetenido))">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Tipo de relación </label>
                <select class="form-control" name="TipoRelacion" id="TipoRelacion"
                        asp-items="@(new SelectList(ViewBag.TipoRelacion, "Value", "Text", @ViewBag.idTipoRelacion))">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label"> Tiempo de Conocerlo</label>
                <select class="form-control" name="TiempoConocerlo" id="TiempoConocerlo"
                        asp-items="@(new SelectList(ViewBag.TiempoConocerlo, "Value", "Text", @ViewBag.idTiempoConocerlo))">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Vive con el Supervisado</label>
                <select class="form-control" name="ViveSupervisado" id="ViveSupervisado"
                        asp-items="@(new SelectList(ViewBag.ViveSupervisado, "Value", "Text", @ViewBag.idViveSupervisado))">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Colonia/Fraccionamiento</label>
                <input asp-for="Victimacol" class="form-control" />
                <span asp-validation-for="Victimacol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Observaciónes</label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="SupervisionIdSupervision" />
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i> Guardar
                </button>
            </div>
        </form>
    </div>
</div>