@model scorpioweb.Models.Aer
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
    var tipo = 0;
    $(document).ready(function () {
        $('#CuentaEvaluacion').change(function () {
            var dat = $(this).children("option:selected").val();
            if (dat == "SI") {
                $("#DivFechaEntrega").css("display", "block");
                $("#DivEvaluadorCaso").css("display", "block");
            }
            else {
                $("#DivFechaEntrega").css("display", "none");
                $("#DivEvaluadorCaso").css("display", "none");
            }
        });
    });
</script>
@{
    ViewData["Title"] = "EditAer";
}

<h2>AER</h2>
<h4>Nombre: @ViewBag.nombre</h4>
<h4>CP: @ViewBag.cp</h4>
<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditAer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdAer" />
            <div class="form-group">
                <label class="control-label">Cuenta con Evaluación</label>
                <select class="form-control" name="CuentaEvaluacion" id="CuentaEvaluacion"
                        asp-items="@(new SelectList(ViewBag.listaCuentaEvaluacion, "Value", "Text", @ViewBag.idCuentaEvaluacion))">
                </select>
            </div>
            @if (ViewBag.eveluacion == "SI")
            {
                <div class="form-group" id="DivFechaEntrega">
                    <label class="control-label">Fecha de Entrega</label>
                    <input asp-for="FechaEntrega" class="form-control" />
                    <span asp-validation-for="FechaEntrega" class="text-danger"></span>
                </div>
                <div class="form-group" id="DivEvaluadorCaso">
                    <label class="control-label">Evaluador de Caso</label>
                    <input asp-for="EvaluadorCaso" class="form-control" />
                    <span asp-validation-for="EvaluadorCaso" class="text-danger"></span>
                </div>
            }
            @if (ViewBag.eveluacion == "NO" || ViewBag.evaluacion == "NA" || ViewBag.evaluacion == null)
            {
                <div class="form-group" id="DivFechaEntrega" style="display: none;">
                    <label class="control-label">Fecha de Entrega</label>
                    <input asp-for="FechaEntrega" class="form-control" />
                    <span asp-validation-for="FechaEntrega" class="text-danger"></span>
                </div>
                <div class="form-group" id="DivEvaluadorCaso" style="display: none;">
                    <label class="control-label">Evaluador de Caso</label>
                    <input asp-for="EvaluadorCaso" class="form-control" />
                    <span asp-validation-for="EvaluadorCaso" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <label class="control-label">Riesgo detectado</label>
                <select class="form-control" name="RiesgoDetectado"
                        asp-items="@(new SelectList(ViewBag.listaRiesgoDetectado, "Value", "Text", @ViewBag.idRiesgoDetectado))">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Riesgo Sustracción</label>
                <select class="form-control" name="RiesgoSustraccion"
                        asp-items="@(new SelectList(ViewBag.listaRiesgoSustraccion, "Value", "Text", @ViewBag.idRiesgoSustraccion))">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Riesgo Obstaculización</label>
                <select class="form-control" name="RiesgoObstaculizacion"
                        asp-items="@(new SelectList(ViewBag.listaRiesgoObstaculizacion, "Value", "Text", @ViewBag.idRiesgoObstaculizacion))">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Riesgo Víctima</label>
                <select class="form-control" name="RiesgoVictima"
                        asp-items="@(new SelectList(ViewBag.listaRiesgoVictima, "Value", "Text", @ViewBag.idRiesgoVictima))">
                </select>
            </div>
            <input type="hidden" asp-for="SupervisionIdSupervision" />
            <div class="form-group">
                <button type="submit" value="" class="btn btn-primary">
                    <i class="fa fa-save"></i> Guardar
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="PersonaSupervision">Regresar a lista</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
