@model scorpioweb.Models.Bitacora

@{
    ViewData["Title"] = "Bitacora";
}
<script>

    showModal = (url, title, id) => {
        $.ajax({
            type: "GET",
            url: url + "?id=" + id,
            success: function (res) {
                $("#form-modal .modal-body").html(res);
                $("#form-modal .modal-title").html(title);
                $("#form-modal").modal('show');
            },
            error: function (res) {

            }
        })
    }

    $(document).ready(function () {
        $("#btnAgregarRegistro").click(function () {
            document.ready = document.getElementById("tipoPersona").value = 'SUPERVISADO'
            document.ready = document.getElementById("textoBitacora").value = ''
            document.ready = document.getElementById("tipoVisita").value = 'PRESENCIAL'
            //document.ready = document.getElementById("evidencia").value = ''
            $('#modalAgregarRegistro').modal('show')
        });

        $('#btnGuardarRegistro').on("click", function (e) {
            e.preventDefault();
            var IdSupervision = document.getElementById("IdSupervision").value;
            var tp = document.getElementById("tipoPersona");
            var tipoPersona = tp.options[tp.selectedIndex].value;
            var textoBitacora = document.getElementById("textoBitacora").value;
            var tv = document.getElementById("tipoVisita");
            var tipoVisita = tv.options[tv.selectedIndex].value;
            var fd new FormData();
            var files = $('#evidencia')[0].files[0];
            fd.append('evidencia', files);

            //var evidencia = document.getElementById("evidencia").value;

            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/Supervisiones/guardarRegistro",
                traditional: true,
                data: {
                    datosRegistro: [IdSupervision, tipoPersona, textoBitacora, tipoVisita/*, fd*/],
                },
                success: function (response) {
                    if (response.success) {
                        $("#modalAgregarRegistro").modal('hide');
                        location.reload();
                    } else {
                        alert(response.responseText);
                    }
                },
                error: function (response) {
                    alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                    location.reload();
                }
            });
        });
    });
</script>

<h2>Bitacora</h2>
<h4>Nombre: @ViewBag.nombre</h4>
<h4>CP: @ViewBag.cp</h4>

<table class="table" style="text-align:center">
    <thead style="text-align:center">
        <tr>
            <th>
                Fecha
            </th>
            <th>
                Tipo de Persona
            </th>
            <th>
                Tipo de Visita
            </th>
            <th>
                Observación
            </th>
            <th>
                Evidencia
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewData["bitacora"] as IEnumerable<scorpioweb.Models.Bitacora>)
        {
            <tr>
                <td>
                    @if (item.Fecha != null)
                    {
                        @(item.Fecha.Value.ToString("dd MMMM yyyy"))
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoPersona)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoVisita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Texto)
                </td>
                <td>
                    <a id="btnEditar" href="@Html.DisplayFor(modelItem => item.RutaEvidencia)">
                        <i class="fa fa-paperclip fa-6"></i> 
                    </a>
                </td>
                <td>
                    <a id="btnEditar" onclick="showModal('@Url.Action("EditBitacora","Supervisiones",null,Context.Request.Scheme)','Edita Bitacora',@item.IdBitacora)" class="btn btn-success">
                        <i class="fa fa-pencil"></i> Editar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <button type="button" class="btn btn-primary" id="btnAgregarRegistro" name="btnAgregarRegistro">
        <i class="fa fa-plus"></i>
        Agregar Registro
    </button>
</div>
<div>
    <a asp-action="PersonaSupervision" class="btn btn-link">
        Regresar a lista
    </a>
</div>

<div class="modal fade" id="modalAgregarRegistro" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#0078A7;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding-top: 8px; font-size: 30px">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" style="font-size: 30px; color:#fff;">Agregar Registro</h5>
            </div>
            <div class="modal-body">
                <div>
                    <label class="control-label">Tipo de persona</label>
                    <select class="form-control" name="tipoPersona" id="tipoPersona">
                        <option value="SUPERVISADO">Supervisado</option>
                        <option value="VICTIMA">Víctima</option>
                    </select>
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label">Tipo de visita</label>
                    <select class="form-control" name="tipoVisita" id="tipoVisita">
                        <option value="PRESENCIAL">Presencial</option>
                        <option value="TELEFONICA">Telefónica</option>
                        <option value="WHATSAPP">WhatsApp</option>
                    </select>
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label">Texto</label>
                    <textarea maxlength="700" class="form-control" rows="5" name="textoBitacora" id="textoBitacora"></textarea>
                </div>
                <div style="padding-top:20px" class="custom-file">
                    <input type="file" class="custom-file-input" id="evidencia" name="evidencia" lang="es">
                </div>
                <input readonly name="IdSupervision" id="IdSupervision" class="form-control" value="@ViewBag.IdSupervisionGuardar" style="display:none" />
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnCloseRegistro" name="btnCloseRegistro">
                    <i class="fa fa-close"></i>
                    Cerrar
                </button>
                <button type="button" class="btn btn-primary" id="btnGuardarRegistro" name="btnGuardarRegistro">
                    <i class="fa fa-save"></i>
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>







