@model PaginatedList<scorpioweb.Models.SupervisionPyCP>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

@{
    ViewBag.Title = "Persona Supervision";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<script>
    function cambiofechas(ids, campo, value) {
        var e = document.getElementById("EstadoSupervision");
        var estados = e.value;
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Supervisiones/UpdatePersonasupervision",
            traditional: true,
            data: {
                superid: ids,
                campo: campo,
                fecha: value,
                estados: estados,
            },
            success: function (response) {
            },
            error: function (response) {
                location.reload();
            }
        });
    };

    function cambiofechainter(idpe, value) {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Supervisiones/UpdatePersonasupervision",
            traditional: true,
            data: {
                planeacionid: idpe,
                intermedio: value,
            },
            success: function (response) {
            },
            error: function (response) {
                location.reload();
            }
        });
    };
    function cambioestado(ids, personaid, causapenalid, value) {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Supervisiones/UpdatePersonasupervision",
            traditional: true,
            data: {
                superid: ids,
                personaid: personaid,
                causapenalid:causapenalid,
                estados: value,
            },
            success: function (response) {
            },
            error: function (response) {
                location.reload();
            }
        });
    };
    function borrarsuper(id) {
        var idsuper = id;
        var usuario = '@ViewBag.user';
        var cambiar = confirm("¿Desea borrar el registro?");
        if (cambiar == true) {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Supervisiones/antesdelete",
            traditional: true,
            data: {
                datosuper: [idsuper],
            },
            success: function (response) {
                if (response.borrar == false) {
                    alert("No se ha borrado porque el supervisado tiene fracciones impuestas o Bitacora");
                } else {
                    function borrarcp(id) {
                        var usuario = '@ViewBag.user';
                        let razon = prompt("Porque desea borrar el registro?", "");
                        if (razon == null || razon == "") {
                            return;
                            text = "NA";
                        } else {
                            text = razon;
                        }
                        $.ajax({
                            type: "POST",
                            dataType: "json",
                            url: "/Supervisiones/deletesuper",
                            traditional: true,
                            data: {
                                datosuper: [id, razon, usuario],
                            },
                            success: function (response) {
                                if (response.borrar == true) {
                                    alert("El Registro ha sido borrado");
                                    location.reload();
                                } else {
                                    alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                                }
                            },
                            error: function (response) {
                                alert(response.error);

                            }
                        });
                    };
                    borrarcp(id);
                }
            },
            error: function (response) {
                alert(response.error);
                alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
            }
        });
        }
        return innerFunc;
    };

</script>

<h2>Personas Supervisión </h2>
@if (ViewBag.WarningsUser > 0)
{
    <a href="/Archivo/ArchivoPrestamoDigital" class="link-archivo">
        <h3 style="text-align:right; color:blue">Tu solicitud fue atendida: @ViewBag.WarningsUser</h3>
    </a>
}

<form asp-action="PersonaSupervision" method="get">
    <div class="form-actions no-color">
        <div class="col-xs-3">
            <label>
                Búsqueda por nombre o CP
            </label>
            <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
        </div>
        <div class="col-xs-3">
            <label>
                Estado de supervisión
            </label>
            <select class="form-control" name="estadoSuper" id="estadoSuper"
                asp-items="@(new SelectList(ViewBag.listaFiltroEstadoSupervision, "Text", "Text", @ViewData["EstadoS"]))">
            </select>
        </div>
        <div class="col-xs-2">
            <label>
                Figura judicial
            </label>
            <select class="form-control" name="figuraJudicial" id="figuraJudicial"
                asp-items="@(new SelectList(ViewBag.listaFiguraJudicial, "Text", "Text", @ViewData["FiguraJ"]))">
            </select>
        </div>
        <br/>
        <div class="col-xs-2">
            <button type="submit" class="btn btn-default" style="margin-top:5px">
                <i class="fa fa-search"></i>
                Buscar
            </button>
        </div>
        <br/>
        <a asp-action="PersonaSupervision">Regresar al listado completo</a>
    </div>
</form>

<table class="table" style="font-size:10px">
    <thead>
        <tr>

            <th>
                <a>ID</a>
            </th>
            <th>
                <a asp-action="PersonaSupervision" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Nombre</a>
            </th>
            <th>
                <a asp-action="PersonaSupervision" asp-route-sortOrder="@ViewData["CausaPenalSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Causa Penal</a>
            </th>
            <th>
                <a>Delito</a>
            </th>
            <th>
                <a>Figura Judicial</a>
            </th>
            <th>
                <a>Fecha Inicio</a>
            </th>
            <th>
                <a>Fecha Término</a>
            </th>
            <th>
                <a>Fecha Informe (Informe Intermedio)</a>
            </th>
            <th>
                <a asp-action="PersonaSupervision" asp-route-sortOrder="@ViewData["EstadoSupervisionParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Estado de supervisión</a>
            </th>
            <th>
                <a>Supervisor</a>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.personaVM.IdPersona)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.personaVM.Paterno) @Html.DisplayFor(modelItem => item.personaVM.Materno) @Html.DisplayFor(modelItem => item.personaVM.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.causapenalVM.CausaPenal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.delitoVM.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fraccionesimpuestasVM.FiguraJudicial)
                </td>

                @*@if (@ViewBag.Admin == true|| @ViewBag.Masteradmin == true)
                {*@
                <input name="IdSupervision" id="IdSupervision" readonly style="display:none" value="@item.supervisionVM.IdSupervision" />
                <input name="IdPlaneacionEstrategica" id="IdPlaneacionEstrategica" readonly style="display:none" value="@item.planeacionestrategicaVM.IdPlaneacionEstrategica" />
                <td>
                    <input style="font-size: 9px" onchange="cambiofechas(@item.supervisionVM.IdSupervision, name, value)" name="Inicio" id="Inicio" class="form-control" asp-for="@item.supervisionVM.Inicio" asp-format="{0:yyyy-MM-ddTHH:mm}" />
                </td>
                <td>
                    <input style="font-size: 9px" onchange="cambiofechas(@item.supervisionVM.IdSupervision, name, value)" name="Termino" id="Termino" class="form-control" asp-for="@item.supervisionVM.Termino" asp-format="{0:yyyy-MM-ddTHH:mm}" />
                </td>
                <td>
                    <input style="font-size: 9px" onchange="cambiofechainter(@item.planeacionestrategicaVM.IdPlaneacionEstrategica, value)" name="FechaInforme" id="FechaInforme" class="form-control" asp-for="@item.planeacionestrategicaVM.FechaInforme" asp-format="{0:yyyy-MM-ddTHH:mm}" />
                </td>
                <td>
                    <select class="form-control" name="EstadoSupervision" id="EstadoSupervision" style="font-size:9px" onchange="cambioestado(@item.supervisionVM.IdSupervision,@item.personaVM.IdPersona, @item.causapenalVM.IdCausaPenal, value)"
                    asp-items="@(new SelectList(ViewBag.listaEstadoSupervision, "Text", "Text",item.supervisionVM.EstadoSupervision))">
                    </select>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.personaVM.Supervisor)
                </td>
                @*}*@
                @*else
                {
                    <td style="font-size:9px">
                        @(item.supervisionVM.Inicio != null ? item.supervisionVM.Inicio.Value.ToString("dd-MMMM-yyyy") : String.Empty)
                    </td>
                    <td style="font-size:9px">
                        @(item.supervisionVM.Termino != null ? item.supervisionVM.Termino.Value.ToString("dd-MMMM-yyyy") : String.Empty)
                    </td>
                    <td style="font-size:9px">
                        @(item.planeacionestrategicaVM.FechaInforme != null ? item.planeacionestrategicaVM.FechaInforme.Value.ToString("dd-MMMM-yyyy") : String.Empty)
                    </td>
                    <td>
                        @if (@item.supervisionVM.EstadoSupervision == null)
                        {
                            <p style="font-size:10px">PENDIENTE</p>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.supervisionVM.EstadoSupervision)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.personaVM.Supervisor)
                    </td>
                }*@
                <td>
                    <a type="button" class="btn btn-danger" id="borrar" title="Borrar" onclick="borrarsuper(@item.supervisionVM.IdSupervision)">
                        <i class="fa fa-trash"></i> 
                    </a>
                </td>
                <td>
                    <a type="button" class="btn btn-success" id="edicion" title="Edición" href="/Supervisiones/Supervision/@item.supervisionVM.IdSupervision">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
                <td>
                    <a type="button" class="btn btn-default" id="edicion" title="Presentaciónes" href="/Personas/PresentacionPeriodicaPersona/@item.personaVM.IdPersona">
                        <i class="fa fa-calendar"></i> Presentaciónes
                    </a>
                </td>
                @if ( (User.IsInRole("AdminMCSCP") || User.IsInRole("Masteradmin")))
                {
                 <td>
                        <a type="button" class="btn btn-warning" id="edicion" title="Presentaciónes" href="/Supervisiones/EditFraccionesimpuestas/?id=@item.supervisionVM.IdSupervision&nombre=@item.personaVM.NombreCompleto&cp=@item.causapenalVM.CausaPenal&idpersona=@item.personaVM.IdPersona&supervisor=@item.personaVM.Supervisor&idcp=@item.causapenalVM.IdCausaPenal">
                            <i class="fa fa-check-square"></i> Fracciones
                    </a>
                </td>
                }
                
                
                <td>
                    @if (item.cierredecasoVM.RutaArchivo != null)
                    {
                        <a style="font-size: x-large;" id="btnEditar" href="~/Cierredecaso/@Html.DisplayFor(modelItem => item.cierredecasoVM.RutaArchivo)" target="_blank">
                            <i class="fa fa-paperclip fa-9x"></i>
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<p>
    Página @(Model.TotalPages < Model.PageIndex ? 0 : Model.PageIndex) de @Model.TotalPages
</p>
<a asp-action="PersonaSupervision"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-estadoSuper="@ViewData["EstadoS"]"
   asp-route-figuraJudicial="@ViewData["FiguraJ"]"
   class="btn btn-default @prevDisabled">
    Anterior
</a>
<a asp-action="PersonaSupervision"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-estadoSuper="@ViewData["EstadoS"]"
   asp-route-figuraJudicial="@ViewData["FiguraJ"]"
   class="btn btn-default @nextDisabled">
    Siguiente
</a>
