@model PaginatedList<scorpioweb.Models.SupervisionPyCP>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<script>
    showModal = (url, title, id) => {
        $.ajax({
            type: "GET",
            url: url+"?id="+id,
            success: function (res) {
                $("#form-modal .modal-body").html(res);
                $("#form-modal .modal-title").html(title);
                $("#form-modal").modal('show');
            },
            error: function (res) {
                
            }
        })
    }
     function candado(id, candado){
        var personaidpersona = id;
         $.ajax({
            type: "POST",
             dataType: "json",
             url: "/Personas/LoockCandado",
             traditional: true,
             data: {
            datoCandado: [candado, personaidpersona],
             },
             success: function (response) {
                 if (response.success) {
            location.reload();
                 } else {
            alert(response.responseText);
                 }
             },
  
            error: function (response) {
            location.reload();
                }
            });
        }
</script>

<h2>Personas Supervisión </h2>

<form asp-action="PersonaSupervision" method="get">
    <div class="form-actions no-color">
        <p>
            Búsqueda por nombre o causa penal: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <button type="submit" class="btn btn-default">
                <i class="fa fa-search"></i>
                Buscar
            </button>
            <a asp-action="PersonaSupervision">Regresar al listado completo</a>
        </p>
    </div>
</form>

<table class="table" style="font-size:10px">
    <thead>
        <tr>
            <th>
                <a>ID</a>
            </th>
            <th>
                <a asp-action="PersonaSupervision" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Nombre</a>
            </th>
            <th>
                <a asp-action="PersonaSupervision" asp-route-sortOrder="@ViewData["CausaPenalSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Causa Penal</a>
            </th>
            <th>
                <a>Figura Judicial</a>
            </th>
            <th>
                <a>Fecha Inicio</a>
            </th>
            <th>
                <a>Fecha Término</a>
            </th>
            <th>
                <a>Fecha Informe (Informe Intermedio)</a>
            </th>
            <th>
                <a asp-action="PersonaSupervision" asp-route-sortOrder="@ViewData["EstadoSupervisionParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Estado de supervisión</a>
            </th>

            @*<th>
            <a>Tiempo Supervisión (Días)</a>
        </th>*@
            <th>
                <a>Supervisor</a>

            </th>
        </tr>
    </thead>
    <tbody>  
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.personaVM.IdPersona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.personaVM.Paterno) @Html.DisplayFor(modelItem => item.personaVM.Materno) @Html.DisplayFor(modelItem => item.personaVM.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.causapenalVM.CausaPenal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fraccionesimpuestasVM.FiguraJudicial)
            </td>
            @if (@ViewBag.RolesUsuario == "AdminMCSCP" || @ViewBag.RolesUsuario == "Masteradmin")
            {
                <form asp-action="EdicionMenuSuper">

                    <input name="IdSupervision" id="IdSupervision" readonly style="display:none" value="@item.supervisionVM.IdSupervision"    />
                    <input name="IdPlaneacionEstrategica" id="IdPlaneacionEstrategica" readonly style="display:none" value="@item.planeacionestrategicaVM.IdPlaneacionEstrategica"    />
                    <td style="font-size:9px">
                        <input name="Inicio" id="Inicio" class="form-control" value=@item.supervisionVM.Inicio?.Date/>
                    </td>
                    <td style="font-size:9px">
                        <input name="Termino" id="Termino" class="form-control" value=@item.supervisionVM.Termino?.Date />
                    </td>
                    <td style="font-size:9px">
                        <input name="FechaInforme" id="FechaInforme" class="form-control" value=@item.planeacionestrategicaVM.FechaInforme?.Date />
                    </td>
                    <td>
                        <select class="form-control" name="EstadoSupervision" id="EstadoSupervision"
                                asp-items="@(new SelectList(@ViewBag.listaEstadoSupervision, "Value", "Text",item.supervisionVM.EstadoSupervision))">
                        </select>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.personaVM.Supervisor)
                    </td>
                    <td>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                        </div>
                    </td>
               </form>
            }
            else
            {
                <td style="font-size:9px">
                    @(item.supervisionVM.Inicio != null ? item.supervisionVM.Inicio.Value.ToString("dd-MMMM-yyyy") : String.Empty)
                </td>
                <td style="font-size:9px">
                    @(item.supervisionVM.Termino != null ? item.supervisionVM.Termino.Value.ToString("dd-MMMM-yyyy") : String.Empty)
                </td>
                <td style="font-size:9px">
                    @(item.planeacionestrategicaVM.FechaInforme != null ? item.planeacionestrategicaVM.FechaInforme.Value.ToString("dd-MMMM-yyyy") : String.Empty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.supervisionVM.EstadoSupervision)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.personaVM.Supervisor)
                </td>


            }
            @*@if (item.supervisionVM.Inicio != null && item.supervisionVM.Termino != null && item.supervisionVM.EstadoSupervision == "VIGENTE")
        {
            @if (@item.tiempoSupervision < 10)
            {
                <td style="color:white; background-color:red">
                    @(item.tiempoSupervision)
                </td>
            }
            else
            {
                <td>
                    @(item.tiempoSupervision)
                </td>
            }
        }
        else
        {
            <td>
            </td>
        }*@


            <td>
                <a type="button" class="btn btn-success" id="edicion" href="/Supervisiones/Supervision/@item.supervisionVM.IdSupervision">
                    <i class="fa fa-pencil"></i> Editar
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="PersonaSupervision"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Anterior
</a>
<a asp-action="PersonaSupervision"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Siguiente
</a>

