@model PaginatedList<scorpioweb.Models.SupervisionPyCP>
    

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Personas Supervisión </h2>

<form asp-action="PersonaSupervision" method="get">
    <div class="form-actions no-color">
        <p>
            Búsqueda por nombre o causa penal: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <button type="submit" class="btn btn-default">
                <i class="fa fa-search"></i>
                Buscar
            </button> |
            <a asp-action="PersonaSupervision">Regresar al listado completo</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="PersonaSupervision" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Nombre</a>
            </th>
            <th>
                <a asp-action="PersonaSupervision" asp-route-sortOrder="@ViewData["CausaPenalSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Causa Penal</a>
            </th>
            <th>
                <a asp-action="PersonaSupervision" asp-route-sortOrder="@ViewData["EstadoCumplimientoSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Estado de supervisión</a>
            </th>
        </tr>
    </thead>
    <tbody>  
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.personaVM.Paterno) @Html.DisplayFor(modelItem => item.personaVM.Materno) @Html.DisplayFor(modelItem => item.personaVM.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.causapenalVM.CausaPenal)
                </td>
                <td>
                    <form asp-action="PersonaSupervision" asp-route-id="@item.supervisionVM.IdSupervision">
                        <input type="hidden" asp-for="@item.supervisionVM.IdSupervision" name="IdSupervision" />
                        <input type="hidden" asp-for="@item.supervisionVM.EstadoCumplimiento" name="EstadoCumplimiento" />
                        <input type="hidden" asp-for="@item.supervisionVM.CausaPenalIdCausaPenal" name="CausaPenalIdCausaPenal" />
                        <input type="hidden" asp-for="@item.supervisionVM.PersonaIdPersona" name="PersonaIdPersona" />
                        <input type="hidden" asp-for="@item.supervisionVM.Inicio" name="Inicio" />
                        <input type="hidden" asp-for="@item.supervisionVM.Termino" name="Termino" />
                        @if (item.supervisionVM.EstadoSupervision == "PENDIENTE")
                        {
                            <select class="form-control" name="EstadoSupervision" id="EstadoSupervision">
                                <option value="PENDIENTE">PENDIENTE</option>
                                <option value="VIGENTE">VIGENTE</option>
                                <option value="CONCLUIDO">CONCLUIDO</option>
                            </select>
                        }
                        @if (item.supervisionVM.EstadoSupervision == "CONCLUIDO")
                        {
                            <select class="form-control" name="EstadoSupervision" id="EstadoSupervision">
                                <option value="CONCLUIDO">CONCLUIDO</option>
                                <option value="PENDIENTE">PENDIENTE</option>
                                <option value="VIGENTE">VIGENTE</option>

                            </select>
                        }
                        @if (item.supervisionVM.EstadoSupervision == "VIGENTE")
                        {
                            <select class="form-control" name="EstadoSupervision" id="EstadoSupervision">
                                <option value="VIGENTE">VIGENTE</option>
                                <option value="PENDIENTE">PENDIENTE</option>
                                <option value="CONCLUIDO">CONCLUIDO</option>
                            </select>
                        }

                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i> Guardar Cambios
                    </button>
                    </form>
                </td>
                <th>
                    <a type="button" class="btn btn-default" id="domicilio" href="/Supervisiones/Supervision/@item.supervisionVM.IdSupervision">
                        <i class="fa fa-pencil"></i> Edición</a>
                </th>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="PersonaSupervision"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Anterior
</a>
<a asp-action="PersonaSupervision"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Siguiente
</a>

