@model IEnumerable<scorpioweb.Models.SupervisionPyCP>
@{
    ViewData["Title"] = "MenuEdicion";
    Layout = "/Views/Shared/_Layout.cshtml";
}



<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="PersonaSupervision" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Id Supervision</a>
            </th>
            <th>
                Supervisor
            </th>
            <th>
                <a asp-action="PersonaSupervision" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Inicio</a>
            </th>
            <th>
                Termino
            </th>
            <th>
                Estado de supervision
            </th>
            <th>
                PersonaIdPersona
            </th>
            <th>
                CausaPenalIdCausaPenal
            </th>
        </tr>
    </thead>

    <tbody>


        @foreach (var item in ViewData["joinTablesSupervision"] as IEnumerable<scorpioweb.Models.SupervisionPyCP>)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.personaVM.Nombre)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.causapenalVM.CausaPenal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.supervisionVM.IdSupervision)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.supervisionVM.EstadoSupervision)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.supervisionVM.EstadoCumplimiento)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.supervisionVM.PersonaIdPersona)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.supervisionVM.CausaPenalIdCausaPenal)
                </th>
                <td>
                    <a asp-action="Supervision" asp-route-id="@item.supervisionVM.IdSupervision">Edicion</a> |
                    @*<a asp-action="Details" asp-route-id="@item.IdSupervision">Details</a> |*@
                    @*<a asp-action="Delete" asp-route-id="@item.IdPersona">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
