@model IEnumerable<scorpioweb.Models.SupervisionPyCP>

@{
    ViewData["Title"] = "MenuEdicion";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/css/tabla.css">



@foreach (var item in ViewData["joinTablesSupervision"] as IEnumerable<scorpioweb.Models.SupervisionPyCP>)
{
    <h2 class="blockquote text-center" style="padding-top:3%;">@item.personaVM.Nombre @item.personaVM.Paterno @item.personaVM.Materno  @item.causapenalVM.CausaPenal</h2>
    break;
}
@foreach (var item in ViewData["joinTablesSupervision"] as IEnumerable<scorpioweb.Models.SupervisionPyCP>)
{
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-6" style="padding-top:3%;">
                <a asp-action="Edit" asp-route-id="@item.supervisionVM.IdSupervision" id="datosGenerales" class="btn btn-primary btn-lg btn-block btn-huge">Supervision</a>
            </div>
            <div class="col-md-6" style="padding-top:3%;">
                <a asp-action="EditFraccionesimpuestas" asp-route-id="@item.supervisionVM.IdSupervision" id="domicilio" class="btn btn-primary btn-lg btn-block btn-huge">Fracciónes Impuestas</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="padding-top:3%;">
                <a asp-action="EditCambiodeobligaciones" asp-route-id="@item.supervisionVM.IdSupervision" id="escolaridad" class="btn btn-primary btn-lg btn-block btn-huge">Cambio de Obligaciones</a>
            </div>
            <div class="col-md-6" style="padding-top:3%;">
                <a asp-action="EditCierredecaso" asp-route-id="@item.supervisionVM.IdSupervision" id="trabajo" class="btn btn-primary btn-lg btn-block btn-huge">Cierre de caso</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="padding-top:3%;">
                <a asp-action="EditPlaneacionestrategica" asp-route-id="@item.supervisionVM.IdSupervision" id="actividadesSociales" class="btn btn-primary btn-lg btn-block btn-huge">Planeación Estrategica</a>
            </div>
            <div class="col-md-6" style="padding-top:3%;">
                <a asp-action="EditAer"asp-route-id="@item.supervisionVM.IdSupervision"  id="abandonoEstado" class="btn btn-primary btn-lg btn-block btn-huge">AER</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="padding-top:3%;">
                <a asp-action="EditRevocacion" asp-route-id="@item.supervisionVM.IdSupervision" id="salud" class="btn btn-primary btn-lg btn-block btn-huge">Revocacion</a>
            </div>
            <div class="col-md-6" style="padding-top:3%;">
                <a asp-action="EditSuspensionseguimiento" asp-route-id="@item.supervisionVM.IdSupervision" id="datosGenerales" class="btn btn-primary btn-lg btn-block btn-huge">Suspension Seguimiento</a>
            </div>
        </div>
    </div>
    break;
}


    <br />
    <a asp-action="PersonaSupervision" style="font-size:20px;">Regresar a lista de usuarios</a>
