@model PaginatedList<scorpioweb.Models.Oficialia>

@{
    ViewData["Title"] = "Registros Oficialia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* Necesario para los modales en el servidor *@
<script src="~/js/jquery-1.11.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#inicial").change(function () {
            $("#buscar").click();
        });
        $("#final").change(function () {
            $("#buscar").click();
        });
        $("#UsuarioTurnar").change(function () {
            $("#buscar").click();
        });
        $("#Capturista").change(function () {
            $("#buscar").click();
        });
    });
</script>

<h2>Edición de Registros de Oficialía</h2>

<form asp-action="EditRegistros" method="get">
    <div class="container" style="padding-bottom:1%">
        <input type="text" class="col-xs-2 col-xs-offset-0" name="currentFilter" id="currentFilter" value="@ViewData["currentFilter"]" />
        <button type="submit" class="btn btn-info col-xs-1 p-1" id="buscar" name="buscar">
            <i class="fa fa-search"></i>
            Buscar
        </button>
    </div>
    <div class="col-xs-2">
        <h4>
            Fecha de Recepción:
        </h4>
    </div>
    <div class="col-xs-1">
        <label>
            Inicial
        </label>
        <input type="date" id="inicial" name="inicial" value="@ViewData["inicial"]" />
    </div>
    <div class="col-xs-1 col-xs-offset-1">
        <label>
            Final
        </label>
        <input type="date" id="final" name="final" value="@ViewData["final"]" />
    </div>
    <div class="col-xs-3 col-xs-offset-1">
        <label>
            Usuario a quien se turno
        </label>
        <select class="form-control" name="UsuarioTurnar" id="UsuarioTurnar"
                asp-items="@(new SelectList(ViewBag.supervisores, "Text", "Text", @ViewBag.UsuarioTurnar))">
        </select>
    </div>
    <div class="col-xs-3">
        <label>
            ¿Quién captura?
        </label>
        <select class="form-control" name="Capturista" id="Capturista"
                asp-items="@(new SelectList(ViewBag.usuariosOficialia, "Text", "Text", @ViewBag.Capturista))">
        </select>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Fecha de Recepción
            </th>
            <th>
                Fecha de Emisión
            </th>
            <th>
                Expide
            </th>
            <th>
                Asunto del Oficio
            </th>
            <th>
                Nombre del Imputado
            </th>
            <th>
                No. Oficio
            </th>
            <th>
                Causa Penal
            </th>
            <th>
                Usuario a Turnar
            </th>
            <th>
                Observaciones
            </th>
            <th>
                Archivo
            </th>
        </tr>
    </thead>
    <tbody style="font-size:small">
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdOficialia)
            </td>
            <td>
                @Convert.ToString(string.Format("{0:dd/ MMMM /yyyy}", @item.FechaRecepcion))
            </td>
            <td>
                @Convert.ToString(string.Format("{0:dd/ MMMM /yyyy}", @item.FechaEmision))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AsuntoOficio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePaternoMaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOficio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CausaPenal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioTurnar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td style="text-align:center">
                @if (item.RutaArchivo != null)
                {
                    <a href="~/EvidenciaOficialia/@Html.DisplayFor(modelItem => item.RutaArchivo)" target="_blank">
                        <i class="fa fa-paperclip fa-6"></i>
                    </a>
                }
            </td>
            @if (User.IsInRole("Masteradmin") || User.IsInRole("Oficialia"))
            {
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.IdOficialia" asp-route-titulo="Editar Oficialía">
                        <i class="fa fa-pencil"></i>
                        Editar
                    </a>
                    <a class="btn btn-primary" style="margin-top: 10px" asp-action="Duplicate" asp-route-id="@item.IdOficialia" asp-route-titulo="Registro Copiado">
                        <i class="fa fa-copy"></i>
                        Clonar
                    </a>
                    <form onsubmit="return confirm('¿Deseas borrar este registro?');" style="margin-top: 10px" asp-action="Delete" asp-route-id="@item.IdOficialia">
                        <button type="submit" class="btn btn-danger">
                            <i class="fa fa-trash"></i> Borrar
                        </button>
                    </form>
                </td>
            }
        </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div>
@if (User.IsInRole("Masteradmin") || User.IsInRole("Oficialia"))
{
    <div>
        <a asp-action="Captura" id="btnNuevoRegistro" name="btnNuevoRegistro" class="btn btn-primary">
            <i class="fa fa-plus"></i> Nuevo Registro
        </a>
    </div>
}
<a asp-action="EditRegistros"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-inicial="@ViewData["inicial"]"
   asp-route-final="@ViewData["final"]"
   asp-route-UsuarioTurnar="@ViewBag.UsuarioTurnar"
   asp-route-Capturista="@ViewBag.Capturista"
   class="btn btn-default col-xs-offset-6 col-sm-offset-7 col-lg-offset-9 @prevDisabled">
    Anterior
</a>
<a asp-action="EditRegistros"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-inicial="@ViewData["inicial"]"
   asp-route-final="@ViewData["final"]"
   asp-route-UsuarioTurnar="@ViewBag.UsuarioTurnar"
   asp-route-Capturista="@ViewBag.Capturista"
   class="btn btn-default @nextDisabled">
    Siguiente
</a>
</div>
