@model scorpioweb.Models.Oficialia

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* Necesario para los modales en el servidor *@
<script src="~/js/jquery-1.11.1.min.js"></script>

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<title>jQuery UI Autocomplete - Combobox</title>*@
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="~/js/jquery-1.12.4.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            showModal = (url, title, id) => {
                $.ajax({
                    type: "GET",
                    url: url + "?id=" + id,
                    success: function (res) {
                        $("#form-modal .modal-body").html(res);
                        $("#form-modal .modal-title").html(title);
                        $("#form-modal").modal('show');
                    },
                    error: function (res) {
                    }
                })
            }

            $('#btnGuardarDelito').on("click", function (e) {
                e.preventDefault();
                var tipodel = document.getElementById("tipoD").value;
                var modalidad = document.getElementById("modalidadD").value;
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/Causaspenales/GuardarDelito",
                    traditional: true,
                    data: {
                        datosDelito: [tipodel, modalidad],
                    },
                    success: function (response) {
                        if (response.success) {
                            alert(response.responseText);
                            document.ready = document.getElementById("tipoD").value = '';
                            document.ready = document.getElementById("modalidadD").value = '';
                            var otraDelito = confirm("¿Agregar otro delito?");
                            if (otraDelito == true) {
                                alert("Coloque los datos correspondientes");
                            } else {
                                $("#modalDelito").modal('hide');
                            }
                        } else {
                            alert(response.responseText);
                        }
                    },
                    error: function (response) {
                        alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                    }
                });
            });
            $('#btnGuardarCausaPenal').on("click", function (e) {
                e.preventDefault();
                var juez = document.getElementById("juez").value;
                var Cambio = document.getElementById("Cambio").value;
                var distrito = document.getElementById("distrito").value;
                var cp = document.getElementById("cp").value;

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/Causaspenales/CreateCausaPenal",
                    traditional: true,
                    data: {
                        juez, Cambio, distrito, cp,
                    },
                    success: function (response) {
                        if (response.success) {
                            $("#btnCausaPenal").css("display", "none");
                            $("#modalCausaPenal").modal('hide');
                            var idCausaPenal = document.getElementById("idCausaPenal");
                            idCausaPenal.value = response.responseText;
                            var cpInput = document.getElementById("CausaPenal");
                            cpInput.value = cp;
                        } else {
                            alert(response.responseText);
                        }
                    },
                    error: function (response) {
                        alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                    }
                });
            });
            $('#btnSave').on("click", function (e) {
                e.preventDefault();
                var cp = document.getElementById("CausaPenal");
                var idCausaPenal = document.getElementById("idCausaPenal");
                if (cp.value != "" && idCausaPenal.value == "") {
                    var flag = confirm("Se va a guardar un registro sin causa penal asignada. ¿Desea continuar?");
                    if (flag == false) {
                        return;
                    }
                }
                btnSubmit.click();
            });
            $('#btnDelete').on("click", function (e) {
                e.preventDefault();
                var idCausaPenal = document.getElementById("idCausaPenal");
                var cp = document.getElementById("CausaPenal");
                idCausaPenal.value = "";
                cp.value = "";
            });
            $('#btnBuscarCP').on("click", function (e) {
                e.preventDefault();
                var cp = document.getElementById("CausaPenal").value;
                var url = '@Url.Action("CPList", "Oficialia", new {cp = -1, tmp = -2}, Context.Request.Scheme)';
                url = url.replace(-1, cp);
                showModal(url, 'Eliga una causa penal', null);
            });
            $('#btnBuscarCE').on("click", function (e) {
                e.preventDefault();
                var ce = document.getElementById("CarpetaEjecucion").value;
                var url = '@Url.Action("CEList", "Oficialia", new {ce = -1, tmp = -2}, Context.Request.Scheme)';
                url = url.replace(-1, ce);
                showModal(url, 'Eliga una Carpeta de Ejecucion', null);
            }); 
            function autocomplete(inp, arr) {
                var currentFocus;
                inp.addEventListener("input", function (e) {
                    var a, b, i, val = this.value;
                    closeAllLists();
                    if (!val) { return false; }
                    currentFocus = -1;
                    a = document.createElement("DIV");
                    a.setAttribute("id", this.id + "autocomplete-list");
                    a.setAttribute("class", "autocomplete-items");
                    this.parentNode.appendChild(a);
                    for (i = 0; i < arr.length; i++) {
                        if (arr[i].toUpperCase().includes(val.toUpperCase())) {
                            b = document.createElement("DIV");
                            b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                            b.innerHTML += arr[i].substr(val.length);
                            b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>"; b.addEventListener("click", function (e) {
                                inp.value = this.getElementsByTagName("input")[0].value;
                                verificar()
                                closeAllLists();
                            });
                            a.appendChild(b);
                        }
                    }
                });

                inp.addEventListener("keydown", function (e) {
                    var x = document.getElementById(this.id + "autocomplete-list");
                    if (x) x = x.getElementsByTagName("div");
                    if (e.keyCode == 40) {

                        currentFocus++;

                        addActive(x);
                    } else if (e.keyCode == 38) { //up

                        currentFocus--;

                        addActive(x);
                    } else if (e.keyCode == 13) {

                        e.preventDefault();
                        if (currentFocus > -1) {

                            if (x) x[currentFocus].click();
                        }
                    }
                });
                function addActive(x) {

                    if (!x) return false;

                    removeActive(x);
                    if (currentFocus >= x.length) currentFocus = 0;
                    if (currentFocus < 0) currentFocus = (x.length - 1);

                    x[currentFocus].classList.add("autocomplete-active");
                }
                function removeActive(x) {

                    for (var i = 0; i < x.length; i++) {
                        x[i].classList.remove("autocomplete-active");
                    }
                }
                function closeAllLists(elmnt) {
                    var x = document.getElementsByClassName("autocomplete-items");
                    for (var i = 0; i < x.length; i++) {
                        if (elmnt != x[i] && elmnt != inp) {
                            x[i].parentNode.removeChild(x[i]);
                        }
                    }
                }
                document.addEventListener("click", function (e) {
                    closeAllLists(e.target);
                });
            }

            var catalogo = JSON.parse('@Html.Raw(Json.Serialize(@ViewBag.catalogo))');
            autocomplete(document.getElementById("tipoD"), catalogo);
            autocomplete(document.getElementById("DelitoTipo"), catalogo);
            var jueces = JSON.parse('@Html.Raw(Json.Serialize(@ViewBag.directorio))');
            autocomplete(document.getElementById("juez"), jueces);
            var expide = JSON.parse('@Html.Raw(Json.Serialize(@ViewBag.expide))');
            autocomplete(document.getElementById("Expide"), expide);
            var asunto = JSON.parse('@Html.Raw(Json.Serialize(@ViewBag.asunto))');
            autocomplete(document.getElementById("AsuntoOficio"), asunto);
            
            var ReferenteImputado = document.getElementById("ReferenteImputado")
            if (ReferenteImputado.value == "NO") {
                Imputado.style.display = "none"
            }
            else {
                Imputado.style.display = "block"
            }
            var ExisteVictima = document.getElementById("ExisteVictima")
            if (ExisteVictima.value == "NO") {
                Victima.style.display = "none"
            }
            else {
                Victima.style.display = "block"
            }
            var TieneTermino = document.getElementById("TieneTermino")
            var FechaTermino = document.getElementById("FechaTermino")
            if (TieneTermino.value == "NO") {
                FechaTermino.style.display = "none"
            }
            else {
                FechaTermino.style.display = "block"
            }

            $('#ReferenteImputado').change(function () {
                var dat = $(this).children("option:selected").val();
                if (dat == "SI") {
                    $("#Imputado").css("display", "block");
                }
                else {
                    $("#Imputado").css("display", "none");
                }
            });
            $('#ExisteVictima').change(function () {
                var dat = $(this).children("option:selected").val();
                if (dat == "SI") {
                    $("#Victima").css("display", "block");
                }
                else {
                    $("#Victima").css("display", "none");
                }
            });
            $('#TieneTermino').change(function () {
                var dat = $(this).children("option:selected").val();
                if (dat == "SI") {
                    $("#FechaTermino").css("display", "block");
                }
                else {
                    $("#FechaTermino").css("display", "none");
                }
            });

            var AsuntoInput = document.getElementById("AsuntoOficio").value.toUpperCase();
            var otroInput = document.getElementById("otroInput");
            if (AsuntoInput == "AUDIENCIA") {
                $("#otroInput").css("display", "block");
            }
            else {
                $("#otroInput").css("display", "none");
            }
        });

        function verificar() {
            var AsuntoInput = document.getElementById("AsuntoOficio").value.toUpperCase();
            var otroInput = document.getElementById("otroInput");
            if (AsuntoInput == "AUDIENCIA") {
                $("#otroInput").css("display", "block");
            }
            else {
                $("#otroInput").css("display", "none");
            }
        };
       
    </script>
</head>
<body>
    <h2 class="text-center" id="titulo" name="titulo">
        @ViewBag.titulo
    </h2>

    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 col-xs-12">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdOficialia" />
                <input type="hidden" asp-for="Capturista" />
                @if (User.Identity.Name.EndsWith("@nortedgepms.com"))
                {
                    <input readonly type="hidden" asp-for="Recibe" value="@User.Identity.Name" class="form-control" />
                }
                else
                {
                <div class="form-group">
                    <label asp-for="Recibe" class="control-label">
                        ¿Quién recibe?
                    </label>
                    <select asp-for="Recibe" class="form-control" name="Recibe" id="Recibe"
                            asp-items="@(new SelectList(ViewBag.recibe, "Text","Text"))">
                    </select>
                    <span asp-validation-for="Recibe" class="text-danger"></span>
                </div>
                }
                <div class="form-group">
                    <label asp-for="MetodoNotificacion" class="control-label">
                        Método de notificación
                    </label>
                    <select asp-for="MetodoNotificacion" class="form-control">
                        <option value="ELECTRONICO">Electrónico</option>
                        <option value="PRESENCIAL">Presencial</option>
                        <option value="TELEGRAMA">Telegrama</option>
                        <option value="WHATSAPP">Whatsapp</option>
                    </select>
                    <span asp-validation-for="MetodoNotificacion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumOficio" class="control-label">
                        N° de Oficio/Recibo de Ingreso
                    </label>
                    <input asp-for="NumOficio" class="form-control" />
                    <span asp-validation-for="NumOficio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaRecepcion" class="control-label">
                        Fecha y hora de recepción
                    </label>
                    <input required asp-for="FechaRecepcion" class="form-control" />
                    <span asp-validation-for="FechaRecepcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaEmision" class="control-label">
                        Fecha de emisión
                    </label>
                    <input required asp-for="FechaEmision" class="form-control" type="date" />
                    <span asp-validation-for="FechaEmision" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Expide" class="control-label">
                        Expide
                    </label>
                    <input asp-for="Expide" id="Expide" name="Expide" type="text" maxlength="150" class="form-control" />
                    <span asp-validation-for="Expide" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReferenteImputado" class="control-label">
                        ¿Es referente a un imputado/sentenciado?
                    </label>
                    <select asp-for="ReferenteImputado" class="form-control">
                        <option value="SI">Sí</option>
                        <option value="NO">No</option>
                    </select>
                    <span asp-validation-for="ReferenteImputado" class="text-danger"></span>
                </div>
                <div id="Imputado" name="Imputado">
                    <div class="form-group col-md-12 col-sm-12">
                        <label asp-for="Sexo" class="control-label">
                            Sexo
                        </label>
                        <select asp-for="Sexo" class="form-control">
                            <option value="HOMBRE">Hombre</option>
                            <option value="MUJER">Mujer</option>
                        </select>
                        <span asp-validation-for="Sexo" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12 col-sm-12">
                        <label asp-for="Nombre" class="control-label">
                            Nombre del Imputado
                        </label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12 col-sm-12">
                        <label asp-for="Paterno" class="control-label">
                            Apellido Paterno
                        </label>
                        <input asp-for="Paterno" class="form-control" />
                        <span asp-validation-for="Paterno" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12 col-sm-12">
                        <label asp-for="Materno" class="control-label">
                            Apellido Materno
                        </label>
                        <input asp-for="Materno" class="form-control" />
                        <span asp-validation-for="Materno" class="text-danger"></span>
                    </div>
@*                    <div class="form-group col-md-12 col-sm-12">
                        <label asp-for="CarpetaEjecucion" class="control-label">
                            Carpeta de Ejecución
                        </label>
                        <input asp-for="CarpetaEjecucion" class="form-control" />
                        <span asp-validation-for="CarpetaEjecucion" class="text-danger"></span>
                    </div>*@

                    <label class="col-md-12 col-sm-12" class="control-label">
                        Carpeta de Ejecución
                    </label>
                    <div class="form-group col-md-8">
                        <input asp-for="CarpetaEjecucion" id="CarpetaEjecucion" name="CarpetaEjecucion" class="form-control" />
                    </div>
                    <input asp-for="IdCarpetaEjecucion" class="form-control col-md-6" id="IdCarpetaEjecucion" name="IdCarpetaEjecucion" type="hidden" readonly />
                    <span asp-validation-for="IdCarpetaEjecucion" class="text-danger" type="hidden" readonly></span>
                    <button class="btn btn-default col-md-4" id="btnBuscarCE" name="btnBuscarCE" title="Buscar Carpete de Ejecucion">
                        <i class="fa fa-search"></i>
                        Buscar
                    </button>
                    <label class="control-label col-md-12 col-sm-12">
                        Causa Penal/Causa Minoril, Distrito, Juez
                    </label>
                    <div class="col-sm-4">
                        <input asp-for="CausaPenal" class="form-control" id="CausaPenal" name="CausaPenal" />
                    </div>
                    <button class="btn btn-default" id="btnBuscarCP" name="btnBuscarCP">
                        <i class="fa fa-search"></i>
                        Buscar
                    </button>
                    <button type="button" class="btn btn-success col-sm-offset-1" id="btnCausaPenal" name="btnCausaPenal" data-toggle="modal" data-target="#modalCausaPenal">
                        <i class="fa fa-plus"></i> Crea nueva causa penal
                    </button>
                    <input asp-for="IdCausaPenal" class="form-control" style="display:none" id="idCausaPenal" name="idCausaPenal" />
                    <span asp-validation-for="IdCausaPenal" class="text-danger"></span>
                    <span class="col-xs-12" style="color:#808080;padding-bottom:1em">Busque la causa penal o cree una nueva causa penal si no se encuentra</span>
                    <br />
                    <div class="form-group col-md-12 col-sm-12">
                        <label asp-for="DelitoTipo" class="control-label">
                            Delito
                        </label>
                        <input asp-for="DelitoTipo" class="form-control" />
                        <span asp-validation-for="DelitoTipo" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12 col-sm-12">
                        <label asp-for="ExisteVictima" class="control-label">
                            Existe una víctima de por medio
                        </label>
                        <select asp-for="ExisteVictima" class="form-control" id="ExisteVictima" name="ExisteVictima">
                            <option value="NO">No</option>
                            <option value="SI">Sí</option>
                        </select>
                        <span asp-validation-for="ExisteVictima" class="text-danger"></span>
                    </div>
                    <div id="Victima" name="Victima" style="padding-left:30px;" class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label asp-for="NombreVictima" class="control-label">
                                Nombre de la víctima
                            </label>
                            <input asp-for="NombreVictima" class="form-control" />
                            <span asp-validation-for="NombreVictima" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DireccionVictima" class="control-label">
                                Dirección Víctima
                            </label>
                            <input asp-for="DireccionVictima" class="form-control" />
                            <span asp-validation-for="DireccionVictima" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                @* col-xs-12 hace que no se mueva la pregunta al espacio vacio del boton de CP *@
                <div class="form-group col-xs-12 autocomplete" style="padding-left:0%;padding-right:0%;">
                    <label asp-for="AutoVinculacion" class="control-label">
                        ¿Cuenta con auto de vinculación?
                    </label>
                    <select asp-for="AutoVinculacion" class="form-control">
                        <option value="NA">N/A</option>
                        <option value="NO">No</option>
                        <option value="SI">Sí</option>
                    </select>
                    <span asp-validation-for="AutoVinculacion" class="text-danger"></span>
                </div>
                <div class="form-group col-xs-12" style="padding-left:0%;padding-right:0%;">
                    <label class="control-label">
                        ¿Cuál es el asunto del oficio?
                    </label>
                    <input required asp-for="AsuntoOficio" id="AsuntoOficio" name="AsuntoOficio" type="text" maxlength="150" class="form-control" onkeyup="verificar()" />
                </div>
                <div id="otroInput" style="display:none" >
                    <label class="control-label">Juzgado</label>
                    <select class="form-control" name="Juzgado" id="Juzgado"
                            asp-items="@(new SelectList(ViewBag.Liatajuzgado,ViewBag.LiataJuzgadoEdit))">
                    </select>
                </div>
               @* <div class="form-group col-xs-12" style="padding-left:0%;padding-right:0%;">
                    <label asp-for="AsuntoOficio" class="control-label">
                        ¿Cuál es el asunto del oficio?
                    </label>
                    <input required id="AsuntoOficio" id="AsuntoOficio" name="AsuntoOficio" type="text" maxlength="150" class="form-control" onkeyup="verificar()" />
                    <span asp-validation-for="AsuntoOficio" class="text-danger"></span>
                </div>
                <div id="otroInput" style="display: none;">
                    <label class="control-label">Juzgado</label>
                    <select class="form-control" name="Juzgado" id="Juzgado"
                            asp-items="@(new SelectList(ViewBag.Liatajuzgado,"Text"))">
                    </select>
                </div>*@
                <div class="form-group col-xs-12" style="padding-left:0%;padding-right:0%;">
                    <label asp-for="TieneTermino" class="control-label">
                        ¿Cuenta con termino?
                    </label>
                    <select asp-for="TieneTermino" class="form-control" id="TieneTermino" name="TieneTermino">
                        <option value="NO">No</option>
                        <option value="SI">Sí</option>
                    </select>
                    <span asp-validation-for="TieneTermino" class="text-danger"></span>
                </div>
                <div class="form-group col-xs-12" id="FechaTermino" name="FechaTermino">
                    <label asp-for="FechaTermino" class="control-label">
                        ¿Cuál es la fecha de termino?
                    </label>
                    <input asp-for="FechaTermino" class="form-control" type="datetime-local" />
                    <span asp-validation-for="FechaTermino" class="text-danger"></span>
                </div>
                <div class="form-group col-xs-12" style="padding-left:0%;padding-right:0%;">
                    <label asp-for="UsuarioTurnar" class="control-label">
                        Usuario a turnar
                    </label>
                    <select required asp-for="UsuarioTurnar" class="form-control" name="UsuarioTurnar" id="UsuarioTurnar"
                            asp-items="@(new SelectList(ViewBag.coordinadores, "Value"))">
                    </select>
                    <span asp-validation-for="UsuarioTurnar" class="text-danger"></span>
                </div>
                <div class="form-group col-xs-12" style="padding-left:0%;padding-right:0%;">
                    <label asp-for="Observaciones" class="control-label">
                        Observaciones
                    </label>
                    <textarea asp-for="Observaciones" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Observaciones" class="text-danger"></span>
                </div>
                <div class="custom-file">
                    <label class="control-label">Archivo</label>
                    <input type="file" class="custom-file-input" id="archivo" name="archivo">
                </div>
                <div class="form-group col-xs-12" style="padding-left:0%;padding-top:1%">
                    <button class="btn btn-primary" id="btnSave" name="btnSave">
                        <i class="fa fa-save"></i> Guardar
                    </button>
                    <button class="btn btn-primary" type="submit" id="btnSubmit" name="btnSubmit" style="display:none">
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="EditRegistros">Regresar</a>
    </div>

    <!-- Modal Causa Penal -->
    <div class="modal fade" id="modalCausaPenal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#0078A7;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-close"></i>
                    </button>
                    <h1 class="modal-title" style="font-size: 30px; color:#fff;" id="exampleModalLongTitle">Crear Causa Penal</h1>
                </div>
                <div class="form-group col-md-12 autocomplete">
                    <label class="control-label">Juez</label>
                    <input required name="juez" id="juez" type="text" maxlength="150" class="form-control" />
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label">Cambio</label>
                    <select required class="form-control" name="Cambio" id="Cambio">
                        <option value="No">No</option>
                        <option value="SI">Si</option>
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label">Distrito</label>
                    <select required class="form-control" name="distrito" id="distrito">
                        <option value="I">I</option>
                        <option value="II">II</option>
                        <option value="III">III</option>
                        <option value="IV">IV</option>
                        <option value="V">V</option>
                        <option value="VI">VI</option>
                        <option value="VII">VII</option>
                        <option value="VIII">VIII</option>
                        <option value="IX">IX</option>
                        <option value="X">X</option>
                        <option value="XI">XI</option>
                        <option value="XII">XII</option>
                        <option value="XIII">XIII</option>
                        <option value="XIV">XIV</option>
                        <option value="XV">XV</option>
                        <option value="XVI">XVI</option>
                    </select>
                </div>

                <div class="form-group col-md-12">
                    <label class="control-label">Causa Penal</label>
                    <input required id="cp" name="cp" type="text" class="form-control" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary col-xs-2" data-dismiss="modal">
                        <i class="fa fa-close"></i> Cerrar
                    </button>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalDelito">
                        <i class="fa fa-plus"></i> Delito asociados a la causa penal
                    </button>
                    <button type="submit" id="btnGuardarCausaPenal" name="btnGuardarCausaPenal" class="btn btn-primary">
                        <i class="fa fa-save"></i> Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Delito -->
    <div class="modal fade" id="modalDelito" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#0078A7;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-close"></i>
                    </button>
                    <h1 class="modal-title" style="font-size: 30px; color:#fff;" id="exampleModalLongTitle">Delito</h1>
                </div>
                <div class="form-group col-md-12 autocomplete" style="padding-top:15px;">
                    <label class="control-label">Tipo</label>
                </div>
                <div class="form-group col-md-12">
                    <input required name="tipoD" id="tipoD" type="text" maxlength="150" class="form-control" />
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label">Modalidad</label>
                    <input id="modalidadD" type="text" class="form-control" />
                </div>
                <div class="form-group col-md-12" style="padding-top:15px;">
                    <label class="control-label">Especifique Delito</label>
                    <input id="Edelito" type="text" class="form-control" />
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary col-xs-2" data-dismiss="modal" style="margin-right:280px">
                        <i class="fa fa-close"></i> Cerrar
                    </button>
                    <br />
                    <button type="button" id="btnGuardarDelito" name="btnGuardarDelito" class="btn btn-primary">
                        <i class="fa fa-save"></i> Guardar delito
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
