@model PaginatedList<scorpioweb.Models.Oficialia>

@*https://stackoverflow.com/questions/66919901/how-to-add-toggle-button-on-razor-page*@
@section Scripts
    {
    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        .slider.round {
            border-radius: 34px;
        }

            .slider.round:before {
                border-radius: 50%;
            }
    </style>
}

<script type="text/javascript">
    function toggle(id) {
        $.ajax({
            type: "POST",
            url: "/Oficialia/Toggle",
            traditional: true,
            data: {
                id,
            },
            error: function (response) {
                alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
            }
        });
    }
    $(document).ready(function () {
        $("#inicial").change(function () {
            $("#buscar").click();
        });
        $("#final").change(function () {
                $("#buscar").click();
        });
    });
</script>

<form asp-action="Seguimiento" method="get" style="padding-top:2%">
    <div class="col-xs-2 col-xs-offset-1">
        <h4>
            Fecha de Recepción
        </h4>
    </div>
    <div class="container col-xs-9" style="padding-bottom:1%;padding-top:1%">
        <input type="text" class="col-xs-2 col-xs-offset-0" name="currentFilter" id="currentFilter" value="@ViewData["currentFilter"]" />
        <button type="submit" class="btn btn-info col-xs-1 p-1" id="buscar" name="buscar">
            <i class="fa fa-search"></i>
            Buscar
        </button>
    </div>
    <div class ="col-xs-12">
        <div class="col-xs-1">
            <label>
                Inicial
            </label>
            <input type="date" id="inicial" name="inicial" value="@ViewData["inicial"]" />
        </div>
        <div class="col-xs-1 col-xs-offset-1">
            <label>
                Final
            </label>
            <input type="date" id="final" name="final" value="@ViewData["final"]" />
        </div>
    </div>
</form>

<table class="table" style="padding: 15px;">
    <thead style="font-size: large">
        <tr>
            <th>
                ID
            </th>
            <th>
                Número del Oficio
            </th>
            <th>
            Fecha de Recepción
            </th>
            <th>
                Asunto del Oficio
            </th>
            <th>
                Nombre
            </th>
            <th>
                Seguimiento
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdOficialia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOficio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRecepcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AsuntoOficio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paterno) @Html.DisplayFor(modelItem => item.Materno) @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <label class="switch">
                    @if (@item.Seguimiento == "SI"){
                        <input type="checkbox" onclick="toggle(@item.IdOficialia)" checked>
                    }
                    else{
                        <input type="checkbox" onclick="toggle(@item.IdOficialia)" check=false>
                    }
                    <span class="slider round"></span>
                </label>
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Seguimiento"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default col-xs-offset-6 col-sm-offset-7 col-lg-offset-9 @prevDisabled">
    Anterior
</a>
<a asp-action="Seguimiento"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Siguiente
</a>
