@model scorpioweb.Models.Supervisioncl

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Supervisioncl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Inicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Termino)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Termino)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstadoSupervision)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstadoSupervision)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonaclIdPersonacl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonaclIdPersonacl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstadoCumplimiento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstadoCumplimiento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CausaPenalclIdCausaPenalcl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CausaPenalclIdCausaPenalcl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdSupervisioncl">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
