@model scorpioweb.Models.Bitacoracl

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form onsubmit="return confirm('¿Deseas modificar los datos?');" asp-action="EditBitacora" asp-route-nombre="@ViewBag.nombre" asp-route-cp="@ViewBag.cp" asp-route-idpersona="@ViewBag.idpersona" asp-route-idcp="@ViewBag.idcp" asp-route-supervisor="@ViewBag.supervisor" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdBitacoracl" readonly />
            <input type="hidden" asp-for="FechaRegistro" readonly />
            <input type="hidden" asp-for="BeneficiosclIdBeneficioscl" readonly />
            <div class="form-group col-md-6">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" type="date" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            @*<div class="form-group col-lg-4 autocomplete">
            <label class="control-label"> Id Oficialia</label>
            <input asp-for="OficialiaIdOficialia" class="form-control" />
            <span asp-validation-for="OficialiaIdOficialia" type="text" class="text-danger"></span>
            </div>*@
            <div class="form-group col-md-6">
                <label class="control-label">Supervisado / Víctima</label>
                <select asp-for="TipoPersona" class="form-control" name="TipoPersona" id="TipoPersona"
                        asp-items="@(new SelectList(ViewBag.TipoPersona, "Value", "Text", @ViewBag.idTipoPersona))">
                </select>
            </div>
            <div class="form-group col-lg-12">
                <label class="control-label">Acción de Supervisión</label>
                <select asp-for="TipoVisita" class="form-control" name="TipoVisita" id="TipoVisita"
                        asp-items="@(new SelectList(ViewBag.TipoAccion, "Value", "Text", @ViewBag.idTipoAccion))">
                </select>
            </div>
            @if (@ViewBag.countFrac != null)
            {
                <div class="form-group">
                    <label class="control-label">Beneficios</label>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Figura Judicial</th>
                            <th scope="col">Beneficio</th>
                        </tr>
                    </thead>
                    @foreach (var item in ViewData["BeneficiosBitaccora"] as IEnumerable<scorpioweb.Models.BitacoraclViewModal>)
                    {
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <input class="form-check-input" type="checkbox" id="chkBeneficio_@item.beneficiosVM.IdBeneficios" value="option1"
                                           onclick="marcar(@item.beneficiosVM.IdBeneficios)"
                                    @(item.beneficiosVM.IdBeneficios == @ViewBag.IdBeneficios ? "checked" : "")>
                                </th>
                                <td>@item.beneficiosVM.FiguraJudicial</td>
                                <td>@item.beneficiosVM.Tipo</td>
                            </tr>
                        </tbody>
                    }
                </table>
            }
            <div class="form-group col-lg-12">
                <label asp-for="Texto" class="control-label"></label>
                <textarea asp-for="Texto" class="form-control" cols="20" rows="5"></textarea>
                <span asp-validation-for="Texto" class="text-danger"></span>
            </div>
            <div class="custom-file form-group col-lg-12" style="padding-bottom:20px">
                <input type="file" class="custom-file-input" id="evidencia" name="evidencia" lang="es">
            </div>
            <input type="hidden" asp-for="SupervisionclIdSupervisioncl" />
            <div class="form-group col-lg-12">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i> Guardar
                </button>
            </div>
        </form>
    </div>
</div>
