@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model scorpioweb.Models.Beneficios
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
@{
    ViewData["Title"] = "Beneficios";
}

@* Necesario para los modales en el servidor *@
@*<script src="~/js/jquery-1.11.1.min.js"></script>*@

<script>
  
    var idSupervisionGuardar = "@ViewData["IdSupervisionGuardar"]";
    localStorage.setItem("IdSupervisionGuardar", idSupervisionGuardar);
    console.log("IdSupervisionGuardar recuperado:", idSupervisionGuardar);
    var arr = [];
    function condiciones(id) {
        var encontro = false;
        var doble;
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] === id) {
                encontro = true;
                doble = i;
                break;
            }
        }
        if (encontro == false) {
            arr.push(id);
        } else {
            arr.splice(doble, 1);
        }
    }
    $(document).ready(function () {
        $('#btnGuardarFraccion').on("click", function (e) {
            e.preventDefault();
            //alert("tipo: " + tipo);
            var IdSupervision = document.getElementById("IdSupervision").value;
            var Beneficio = document.getElementById("Beneficio");
            var SelectBeneficio = Beneficio.options[Beneficio.selectedIndex].value;
            var c = document.getElementById("cumplimiento");
            var cumplimiento = c.options[c.selectedIndex].value;
            var FechaInicio = document.getElementById("FechaInicio").value;
            var FechaTermino = document.getElementById("FechaTermino").value;
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/Supervisioncl/CrearCondicion",
                traditional: true,
                data: {
                    datosBeneficios: [IdSupervision, SelectBeneficio, FechaInicio, FechaTermino, cumplimiento],
                    datosidCondiciones: arr,
                },
                success: function (response) {
                    if (response.success) {
                        location.reload();
                    } else {
                        alert(response.responseText);
                    }
                },
                error: function (response) {
                    alert("Datos Guardados");
                    location.reload();
                }
            });
        });
    });


    showModal = (url, title, id) => {
        var idSupervisioncl = localStorage.getItem("IdSupervisionGuardar");
        if (!idSupervisioncl) {
            idSupervisioncl = document.getElementById("IdS") ? document.getElementById("IdS").value : "";
        }
        $.ajax({
            type: "GET",
            url: url + "?id=" + id,
            success: function (res) {
                $("#form-modal .modal-body").html(res);
                $("#form-modal .modal-title").html(title);
                $("#form-modal").modal('show');
            },
            traditional: true,
            data: {
                datosBitacora: [idSupervisioncl],
            },
            error: function (res) {

            }
        })
    }


    function myFunction(id) {
        var encontro = false;
        var doble;
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] === id) {
                encontro = true;
                doble = i;
                break;
            }
        }
        if (encontro == false) {
            arr.push(id);
        } else {
            arr.splice(doble, 1);
        }
        if (arr.length == 0) {
            document.getElementById("btnImprimirR").disabled = true;
        } else {
            document.getElementById("btnImprimirR").disabled = false;
        }
    }

    $(document).ready(function () {
        $('#btnImprimirR').on("click", function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/Supervisioncl/imprimirReporteSupervision",
                traditional: true,
                data: {
                    datosidBeneficio: arr,
                },
                success: function (response) {
                    if (response.success) {
                        location.reload();
                    } else {
                        alert(response.responseText);
                    }
                },
                error: function (response) {
                    alert("Informe Generado");
                    //window.location.href = "https://localhost:44359/Documentos/reporteSupervision.docx"
                    window.location.href = "https://localhost:44359/Documentos/reporteSupervision.docx"
                    
                    //window.location.href = "http://10.6.60.190/Documentos/reporteSupervision.docx"
                }
            });

        });
    });


    $(document).ready(function () {
        document.getElementById("btnImprimirR").disabled = true;
    });

    //function cambioestado(idf, value) {
    //    $.ajax({
    //        type: "POST",
    //        dataType: "json",
    //        url: "/Supervisiones/UpdateEstado",
    //        traditional: true,
    //        data: {
    //            id: idf,
    //            estados: value,
    //        },
    //        success: function (response) {
    //        },
    //        error: function (response) {
    //            location.reload();
    //        }
    //    });
    //};

    function addCondicion() {
        var tipo = document.getElementById("tiponuevo").value;
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Supervisioncl/addCondicion",
            traditional: true,
            data: {
                tipo: tipo,
            },
            success: function (response) {
                location.reload();
            },
            error: function (response) {
                location.reload();
            }
        });
    };
    function beneficioC(condicion) {
        $('input[type=checkbox]').prop('checked',false);
        arr.length = 0;
        if(condicion != "SUSPENSION CONDICIONAL CONDENA"){
               $("#bscc").css("display", "none");
               $("#otrosb").css("display", "block");
        }else{
               $("#bscc").css("display", "block");
               $("#otrosb").css("display", "none");
        }
    }
</script>
<h2>Beneficios</h2>
<div class="col-md-12">
    <div class=col-md-4>
        <h4 style="text-align:center" class="blockquote text-center">Id Persona:</h4>
        <h4 style="text-align:center" class="blockquote text-center">@ViewBag.idpersona</h4>
    </div>
    <div class=col-md-4>
        <h4 style="text-align:center" class="blockquote text-center">Nombre:</h4>
        <h4 style="text-align:center" class="blockquote text-center">@ViewBag.nombre</h4>
    </div>
    <div class=col-md-4>
        <h4 style="text-align:center" class="blockquote text-center">
            Causa Penal
            <h4 style="text-align:center" class="blockquote text-center">@ViewBag.cp</h4>
    </div>
</div>
<input style="display:none" name="IdS" id="IdS" class="form-control" value="@ViewData["IdSupervisionGuardar"]" />

<table class="table" style="text-align:center">
    <thead style="text-align:center">
        <tr>
            <th>
                Reporte
            </th>
            <th>
                Beneficio
            </th>
            <th>
                Condicion
            </th>
            <th>
                Fecha de inicio
            </th>
            <th>
                Fecha  de termino
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewData["Beneficios"] as IEnumerable<scorpioweb.Models.Beneficios>)
        {
            <tr>
                <td>
                    <input type="checkbox" id="myCheck" onclick="myFunction(@item.IdBeneficios)">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FiguraJudicial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @if (item.FechaInicio != null)
                    {
                        @(item.FechaInicio.Value.ToString("dd MMMM yyyy"))
                    }
                </td>
                <td>
                    @if (item.FechaTermino != null)
                    {
                        @*@if (DateTime.Now < item.FechaTermino)
                {*@
                        @item.FechaTermino.Value.ToString("dd MMMM yyyy")
                    }
                </td>
                <td>
                    @*<select class="form-control" name="Estado" id="Estado" style="font-size:9px" onchange="cambioestado(@item.IdBeneficios, value)"
                asp-items="@(new SelectList(ViewBag.listaCumplimiento, "Text", "Text", item.Estado))">
                </select>*@
                    @Html.DisplayFor(modelItem => item.Estado)
                <td>
                </td>
                </td>
                @if (ViewBag.usuario)
                {
                    <td>
                        <form onsubmit="return confirm('¿Deseas borrar esta fracción?');" asp-action="DeleteBeneficio" asp-route-id="@item.IdBeneficios" asp-route-nombre="@ViewBag.nombre" asp-route-cp="@ViewBag.cp" asp-route-supervisor="@ViewBag.supervisor" asp-route-idcp="@ViewBag.idcp" asp-route-idpersona="@ViewBag.idpersona">
                            <a id="btnEditar" onclick="showModal('@Url.Action("EditCondiciones", "Supervisioncl", new {id=@item.IdBeneficios, nombre = @ViewBag.nombre,idpersona=@ViewBag.idpersona, supervisor=@ViewBag.supervisor, idcp=@ViewBag.idcp, cp=@ViewBag.cp}, Context.Request.Scheme)','Edita Beneficios', null)" class="btn btn-success">
                                <i class="fa fa-pencil"></i> Editar
                            </a>
                            <button type="submit" class="btn btn-danger">
                                <i class="fa fa-trash"></i> Borrar
                            </button>
                            <a id="btnAccionesSupervision" onclick="showModal('@Url.Action("AddAccionSupervision", "Supervisioncl", new {id=@item.IdBeneficios, nombre = @ViewBag.nombre, idpersona=@ViewBag.idpersona, supervisor=@ViewBag.supervisor, idcp=@ViewBag.idcp, cp=@ViewBag.cp, IdSupervision= @ViewBag.IdSupervisionGuardar}, Context.Request.Scheme)','Bitacora de beneficio',null)" class="btn btn-primary">
                                <i class="fa fa-plus"></i> Acciones de Supervisión
                            </a>
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.usuario)
{
    <div>
        @*<a asp-action="crearDocumento" asp-route-id="@ViewBag.IdSupervisionGuardar" id="crearOficio" class="btn btn-info"><i class="fa fa-file-text-o"></i> Genera oficio de cumplimiento/incumplimiento</a>*@

        <button id="btnNuevaFraccion" name="btnNuevaFraccion" type="button" data-toggle="modal" data-target="#modalNuevaFraccion" class="btn btn-primary">
            <i class="fa fa-plus"></i> Añadir Beneficios
        </button>

        <button id="btnImprimirR" name="btnImprimirR" disabled class="btn btn-info"><i class="fa fa-file-text-o"></i> Imprimir Reporte</button>
    </div>
    <br />
}
<div>
    <a asp-action="Supervision" asp-route-id="@ViewBag.IdSupervisionGuardar" class="btn btn-link">Regresar</a>
</div>


<!-- Modal Creacion de nueva fraccion -->
<div class="modal fade" id="modalNuevaFraccion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12" style="background-color:#0078A7;">
                <h5 class="modal-title" style="font-size: 30px; color:#fff;">Agregar Beneficio</h5>
            </div>
            <div class="modal-body">
                <div class="form-group" hidden>
                    <label class="control-label">Id Supervision</label>
                    <input readonly name="IdSupervision" id="IdSupervision" class="form-control" value="@ViewBag.IdSupervisionGuardar" />
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label">Beneficio</label>
                    <select required class="form-control" name="Beneficio" id="Beneficio" onchange="beneficioC(value)"
                            asp-items="@(new SelectList(ViewBag.listaBeneficios, "Value", "Text"))">
                    </select>
                </div>
                <div class="col-md-6" id="otrosb">
                    @foreach (var condicion in @ViewBag.condicionescl)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="@condicion.Tipo" id="@condicion.IdCondiciones" onclick="condiciones(value)">
                            <label class="form-check-label" for="@condicion.IdCondiciones"><p style="margin-left:30px"> @condicion.Tipo</p></label>
                        </div>

                    }
                </div>
                <div class="col-md-6" id="bscc" hidden>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="f1" value="0" onclick="condiciones(value)">
                        <label class="form-check-label" for="f1">I</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="f2" value="1" onclick="condiciones(value)">
                        <label class="form-check-label" for="f2">II</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="f3" value="2" onclick="condiciones(value)">
                        <label class="form-check-label" for="f3">III</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="f4" value="3" onclick="condiciones(value)">
                        <label class="form-check-label" for="f4">IV</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="f5" value="4" onclick="condiciones(value)">
                        <label class="form-check-label" for="f5">V</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="f6" value="5" onclick="condiciones(value)">
                        <label class="form-check-label" for="f6">VI</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <p>Agegar mas Condiciones</p>
                    </div>
                    <div>
                        <label class="control-label">Tipo</label>
                        <input name="tiponuevo" id="tiponuevo" class="form-control" />
                    </div>
                    <button style="margin-top:10px" type="button" class="btn btn-primary" id="btnAddCondicion" name="btnAddCondicion" onclick="addCondicion()">Añadir Condicion</button>
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label">Fecha de inicio</label>
                    <input name="FechaInicio" id="FechaInicio" class="form-control" type="date" />
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label">Fecha de termino</label>
                    <input name="FechaTermino" id="FechaTermino" class="form-control" type="date" />
                </div>
                <div class="form-group col-md-12" style="padding-top:1%;">
                    <label class="control-label">Estado de cumplimiento</label>
                    <select class="form-control" name="cumplimiento" id="cumplimiento">
                        <option value="CUMPLIMIENTO">CUMPLIMIENTO</option>
                        <option value="INCUMPLIMIENTO">INCUMPLIMIENTO</option>
                    </select>
                </div>
            </div>

            <div class="modal-footer col-md-12">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnGuardarFraccion" name="btnGuardarFraccion">Guardar Fracción</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}