@model scorpioweb.Models.BitacoraclViewModal


@{
    ViewData["Title"] = "Bitácora";
}

@* Necesario para los modales en el servidor *@
<script src="~/js/jquery-1.11.1.min.js"></script>

<script>
    showModal = (url, title, id) => {
        // var IdFracciones = null;
        $.ajax({
            type: "GET",
            url: url + "?id=" + id,
            success: function (res) {
                $("#form-modal .modal-body").html(res);
                $("#form-modal .modal-title").html(title);
                $("#form-modal").modal('show');
            },
            //data: {
            //    datosBitacora: [IdFracciones],
            //},
            error: function (res) {

            }
        })
    }
</script>
<h2>Bitacora</h2>
<div class="col-md-12">
    <div class=col-md-4>
        <h4 style="text-align:center" class="blockquote text-center">Id Persona:</h4>
        <h4 style="text-align:center" class="blockquote text-center">@ViewBag.idpersona</h4>
    </div>
    <div class=col-md-4>
        <h4 style="text-align:center" class="blockquote text-center">Nombre:</h4>
        <h4 style="text-align:center" class="blockquote text-center">@ViewBag.nombre</h4>
    </div>
    <div class=col-md-4>
        <h4 style="text-align:center" class="blockquote text-center">
            Causa Penal
            <h4 style="text-align:center" class="blockquote text-center">@ViewBag.cp</h4>
    </div>
</div>

<table class="table">
    <thead style="text-align:center">
        <tr>
            <th>
                Fecha
            </th>
            <th>
                Tipo de Persona
            </th>
            <th>
                Tipo de accion
            </th>
            <th>
                Observación
            </th>
            <th>
                Figura judicial
            </th>
            <th>
                Beneficio
            </th>
            <th style="text-align:center">
                Evidencia
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewData["BitacoraBeneficios"] as IEnumerable<scorpioweb.Models.BitacoraclViewModal>)
        {
            <input type="hidden" class="idbeneficio" id="idbeneficio" value="@Html.DisplayFor(modelItem => item.beneficiosVM.IdBeneficios)" />
            <tr>
                <td>
                    @if (item.bitacoraVM.Fecha != null)
                    {
                        @(item.bitacoraVM.Fecha.Value.ToString("dd MMMM yyyy"))
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bitacoraVM.TipoPersona)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bitacoraVM.TipoVisita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bitacoraVM.Texto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.beneficiosVM.FiguraJudicial)
                </td> 
                <td>
                    @Html.DisplayFor(modelItem => item.beneficiosVM.Tipo)
                </td>
                <td style="text-align:center">
                    @if (item.bitacoraVM.RutaEvidencia != null)
                    {
                        <a href="~/Evidenciacl/@Html.DisplayFor(modelItem => item.bitacoraVM.RutaEvidencia)" target="_blank">
                            <i class="fa fa-paperclip fa-6"></i>
                        </a>
                    }
                </td>
                @if (ViewBag.usuario)
                {
                    <td>
                        <form onsubmit="return confirm('¿Deseas borrar Registro?');" asp-action="DeleteRegistro" asp-route-id="@item.bitacoraVM.IdBitacoracl" asp-route-nombre="@ViewBag.nombre" asp-route-cp="@ViewBag.cp" asp-route-idpersona="@ViewBag.idpersona" asp-route-supervisor="@ViewBag.supervisor" asp-route-idcp="@ViewBag.idcp">
                            <a id="btnEditar" onclick="showModal('@Url.Action("EditBitacora","Supervisioncl",new {id=@item.bitacoraVM.IdBitacoracl, nombre = @ViewBag.nombre,idpersona=@ViewBag.idpersona, supervisor=@ViewBag.supervisor, idcp=@ViewBag.idcp, idSupervisioncl=@ViewBag.IdSupervisionGuardar , cp=@ViewBag.cp}, Context.Request.Scheme)','Edita Bitacora',null)" class="btn btn-success">
                                <i class="fa fa-pencil"></i> Editar
                            </a>
                            <button type="submit" class="btn btn-danger">
                                <i class="fa fa-trash"></i> Borrar
                            </button>
                        </form>
                    </td>
                }
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (ViewBag.usuario)
{
    <a onclick="showModal('@Url.Action("CreateBitacora", "Supervisioncl", new {id=@ViewBag.IdSupervisionGuardar, nombre = @ViewBag.nombre,idpersona=@ViewBag.idpersona,supervisor=@ViewBag.supervisor,idcp=@ViewBag.idcp, cp=@ViewBag.cp}, Context.Request.Scheme)','Agregar Registro',null )" class="btn btn-primary">
        <i class="fa fa-plus"></i>  Agregar Registro
    </a>
}


<br />

<div>
    <a asp-action="Supervision" asp-route-id="@ViewBag.IdSupervisionGuardar" class="btn btn-link">Regresar</a>
</div>
