@model IEnumerable<scorpioweb.Models.Persona>
@using scorpioweb.Controllers;


@{
    ViewData["Title"] = "Asignación";
    Layout = "/Views/Shared/_Layout.cshtml";
}
@* Necesario para los modales en el servidor *@
<script src="~/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {        

        var jsonData = $.ajax({
        url: "/Personas/OnGetChartData?handler=ChartData",
        dataType: "json",
        async: false,
        }).responseText;
        
        var data = new google.visualization.DataTable(jsonData);
        var options = {
                        title : 'Distribución de casos por supervisor',
                        width : 600,
                        height : 400,
                        legend: { position: 'left',  alignment: 'center'}
                        };

        var chart = new google.visualization.PieChart(document.getElementById('chart'));
        chart.draw(data, options);
    }
</script>

@if ((Model.Where(u => u.Supervisor == null)).Count() == 0)
{
    <h2>No hay entrevistas pendientes</h2>
}
else
{
    <h2>Asignación de supervisión</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Fecha de ingreso
                </th>
                <th>
                    Capturista
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Supervisor)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Where(u => u.Supervisor == null))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Paterno) @Html.DisplayFor(modelItem => item.Materno) @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UltimaActualización)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Capturista)
                    </td>
                    <td>
                        <form asp-action="EditSupervisor">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <input type="hidden" asp-for="@item.IdPersona" name="IdPersona" id="IdPersona" />
                                <select class="form-control" name="Supervisor" id="Supervisor"
                                        asp-items="@(new SelectList(ViewBag.ListadoUsuarios, "Text","Text"))">
                                </select>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                    Guardar
                                </button>
                                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.IdPersona">
                                    <i class="fa fa-eye"></i>
                                    Detalles
                                </a>
                            </div>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div style="align-content:center">
    <h2>Recomendación de próxima supervisión: @ViewBag.Recomendacion</h2>
    <div id="chart" style="width: 600px; height: 500px;"></div>
</div>



