@model scorpioweb.Models.Persona

<script type="text/javascript">
    var tipo = 0;
    $(document).ready(function () {
        //#region -Municipios-
        var items = "<option value='0'>Selecciona</option>";
        $('#municipioD').html(items);

        $('#lnEstado').change(function () {
            var url = '@Url.Content("~/")' + "Personas/GetMunicipio";
            var ddlsource = '#lnEstado';
            //alert("url: " + url + " ddlsource val: " + $(ddlsource).val());
            //public JsonResult GetMunicipio(int EstadoId)
            $.getJSON(url, { EstadoId: $(ddlsource).val() }, function (data) {
                //alert("entrando en JSON");
                var items = '';
                $("#lnMunicipio").empty();
                $.each(data, function (i, municipio) {
                    items += "<option value='" + municipio.value + "'>" + municipio.text + "</option>";
                });
                $('#lnMunicipio').html(items);
            });
        });

        $('#lnpais').change(function () {
            var selectedCountry = $(this).children("option:selected").val();
            if (selectedCountry != "MEXICO") {
                $("#lnEstado").val(0);
                var items = "<option value='0'>Selecciona</option>";
                $('#lnMunicipio').html(items);
                $("#lnMunicipio").val(0);
                $("#Estado").css("display", "none");
                $("#Municipio").css("display", "none");
                $("#Pais").removeClass("col-lg-3");
                $("#Pais").addClass("col-lg-6");
                $("#DivLnlocalidad").removeClass("col-lg-3");
                $("#DivLnlocalidad").addClass("col-lg-6");
            }
            else {
                $("#Estado").css("display", "block");
                $("#Municipio").css("display", "block");
                $("#Pais").removeClass("col-lg-6");
                $("#Pais").addClass("col-lg-3");
                $("#DivLnlocalidad").removeClass("col-lg-6");
                $("#DivLnlocalidad").addClass("col-lg-3");
            }
        });

        $('#OtroIdioma').change(function () {
            var dat = $(this).children("option:selected").val();
            if (dat == "SI") {
                $("#DivEspecifiqueIdioma").css("display", "block"); 
                $("#DivOtroIdioma").removeClass("col-md-12");
                $("#DivOtroIdioma").addClass("col-lg-6");
            }
            else {
                $("#DivEspecifiqueIdioma").css("display", "none");
                $("#DivOtroIdioma").removeClass("col-lg-6");
                $("#DivOtroIdioma").addClass("col-md-12");
            }
        });

        $('#Traductor').change(function () {
            var dat = $(this).children("option:selected").val();
            if (dat == "SI") {
                $("#DivEspecifiqueTraductor").css("display", "block");
                $("#DivTraductor").removeClass("col-md-12");
                $("#DivTraductor").addClass("col-lg-6");
            }
            else {
                $("#DivEspecifiqueTraductor").css("display", "none");
                $("#DivTraductor").removeClass("col-lg-6");
                $("#DivTraductor").addClass("col-md-12");
            }
        });

        $('#Hijos').change(function () {
            var dat = $(this).children("option:selected").val();
            if (dat == "SI") {
                $("#DivNhijos").css("display", "block");
                $("#DivHijos").removeClass("col-md-12");
                $("#DivHijos").addClass("col-lg-6");
            }
            else {
                $("#DivNhijos").css("display", "none");
                $("#DivHijos").removeClass("col-lg-6");
                $("#DivHijos").addClass("col-md-12");
            }
        });



        $('#sexo').change(function () {
            var gen = $(this).children("option:selected").val();
            if (gen == "F") {
                $("#embarazo").css("display", "block");
            }
            else {
                $("#embarazo").css("display", "none");
            }
        });
        //#endregion

        //#region -Modales-
           $("#consumoSustancias").change(function () {
            var opcion = $(this).children("option:selected").val();
            //alert("opcion: "+opcion);
            if (opcion == "SI") {
                $('#modalConsumoSustancias').modal('show')
            }
            else {
                $('#modalConsumoSustancias').modal('hidden')
            }
        });
        //#endregion
    });

    //region GuardarMODALS
    $(document).ready(function () {
        $('#btnGuardarSustancia').on("click", function (e) {
            e.preventDefault();
            alert("tipo: ");
            var s = document.getElementById("sustancia");
            var f = document.getElementById("frecuenciaS");
            var sustancia = s.options[s.selectedIndex].value;
            var frecuencia = f.options[f.selectedIndex].value;
            var cantidad = document.getElementById("cantidadS").value;
            var ultimoC = document.getElementById("ultimoConsumo").value;
            var observaciones = document.getElementById("observacionesConsumo").value;
            //var user = document.getElementById("usuario").firstChild.nodeValue;

            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/Personas/guardarSustancia",
                traditional: true,
                data: {
                    datosConsumo: [sustancia, frecuencia, cantidad, ultimoC, observaciones/*, user*/],
                },
                success: function (response) {
                    alert(response.success);
                    if (response.success) {
                        alert(response.responseText);
                        document.ready = document.getElementById("sustancia").value = 'ALCOHOL';
                        document.ready = document.getElementById("frecuenciaS").value = 'DIARIO';
                        document.ready = document.getElementById("cantidadS").value = '';
                        document.ready = document.getElementById("ultimoConsumo").value = '';
                        document.ready = document.getElementById("observacionesConsumo").value = '';
                        var otraSustancia = confirm("¿Consume alguna otra sustancia?");
                        if (otraSustancia == true) {
                            alert("Coloque los datos correspondientes a la nueva susutancia");
                        } else {
                            $("#modalConsumoSustancias").modal('hide');
                        }
                    } else {
                        alert(response.responseText);
                    }
                },
                error: function (response) {
                    alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                }
            });
        });
    });
        //endregion
</script>

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Datos Generales</h2>
<h3>@Model.Paterno @Model.Materno @Model.Nombre</h3>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPersona" />
            <div class="form-group col-md-4">
                <label asp-for="Paterno" class="control-label"></label>
                <input asp-for="Paterno" class="form-control" style="text-transform:uppercase" />
                <span asp-validation-for="Paterno" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Materno" class="control-label"></label>
                <input asp-for="Materno" class="form-control" />
                <span asp-validation-for="Materno" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Alias" class="control-label"></label>
                <input asp-for="Alias" class="form-control" />
                <span asp-validation-for="Alias" class="text-danger"></span>
                <span asp-validation-for="Alias" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Género</label>
                <select class="form-control" name="Genero" id="Genero"
                        asp-items="@(new SelectList(ViewBag.listaGenero, "Value", "Text", @ViewBag.idGenero))">
                </select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Edad" class="control-label"></label>
                <input asp-for="Edad" class="form-control" />
                <span asp-validation-for="Edad" type="number" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Fecha de nacimiento</label>
                <input asp-for="Fnacimiento" type="date" class="form-control" />
                <span asp-validation-for="Fnacimiento" class="text-danger"></span>
            </div>

            @if (ViewBag.pais == "MEXICO")
            {
                <div class="form-group col-lg-3" id="Pais">
                    <label class="control-label">País de nacimiento</label>
                    <select class="form-control" name="Lnpais" id="lnpais"
                            asp-items="@(new SelectList(ViewBag.listaLnpais, "Value", "Text", @ViewBag.idLnpais))">
                    </select>
                </div>
                <div class="form-group col-lg-3" id="Estado">
                    <label class="control-label">Estado</label>
                    <select class="form-control" name="lnEstado" id="lnEstado"
                            asp-items="@(new SelectList(ViewBag.ListadoEstados, "Id", "Estado", @ViewBag.idEstado))">
                    </select>
                </div>
                <div class="form-group col-lg-3" id="Municipio">
                    <label class="control-label">Municipio</label>
                    <select class="form-control" name="lnMunicipio" id="lnMunicipio"
                            asp-items="@(new SelectList(ViewBag.ListadoMunicipios, "Id", "Municipio",  @ViewBag.idMunicipio))">
                    </select>
                </div>
                <div class="form-group col-lg-3" id="DivLnlocalidad">
                    <label class="control-label">Localidad de nacimiento</label>
                    <input asp-for="Lnlocalidad" class="form-control" />
                    <span asp-validation-for="Lnlocalidad" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group col-lg-6" id="Pais">
                    <label class="control-label">País de nacimiento</label>
                    <select class="form-control" name="Lnpais" id="lnpais"
                            asp-items="@(new SelectList(ViewBag.listaLnpais, "Value", "Text", @ViewBag.idLnpais))">
                    </select>
                </div>
                <div class="form-group col-lg-3" style="display:none" id="Estado">
                    <label class="control-label">Estado</label>
                    <select class="form-control" name="lnEstado" id="lnEstado"
                            asp-items="@(new SelectList(ViewBag.ListadoEstados, "Id", "Estado", @ViewBag.idEstado))">
                    </select>
                </div>
                <div class="form-group col-lg-3" style="display:none" id="Municipio">
                    <label class="control-label">Municipio</label>
                    <select class="form-control" name="lnMunicipio" id="lnMunicipio"
                            asp-items="@(new SelectList(ViewBag.ListadoMunicipios, "Id", "Municipio",  @ViewBag.idMunicipio))">
                    </select>
                </div>
                <div class="form-group col-lg-6" id="DivLnlocalidad">
                    <label class="control-label">Localidad de nacimiento</label>
                    <input asp-for="Lnlocalidad" class="form-control" />
                    <span asp-validation-for="Lnlocalidad" class="text-danger"></span>
                </div>
            }



            <div class="form-group col-lg-6">
                <label class="control-label">Estado Civil</label>
                <select class="form-control" name="estadoCivil" id="estadoCivil"
                        asp-items="@(new SelectList(ViewBag.listaEstadoCivil, "Value","Text",@ViewBag.idEstadoCivil))">
                </select>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="Duracion" class="control-label"></label>
                <input asp-for="Duracion" class="form-control" />
                <span asp-validation-for="Duracion" class="text-danger"></span>
            </div>

            @if (ViewBag.idioma == "SI")
            {
                <div class="form-group col-lg-6" id="DivOtroIdioma">
                    <label class="control-label">¿Habla otro idioma, lengua o dialecto, distinto al español?</label>
                    <select class="form-control" name="OtroIdioma" id="OtroIdioma"
                            asp-items="@(new SelectList(ViewBag.listaOtroIdioma, "Value", "Text", @ViewBag.idOtroIdioma))">
                    </select>
                </div>
                <div class="form-group col-lg-6" id="DivEspecifiqueIdioma">
                    <label class="control-label">Especifque idioma</label>
                    <input asp-for="EspecifiqueIdioma" class="form-control" />
                    <span asp-validation-for="EspecifiqueIdioma" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group col-lg-12" id="DivOtroIdioma">
                    <label class="control-label">¿Habla otro idioma, lengua o dialecto, distinto al español?</label>
                    <select class="form-control" name="OtroIdioma" id="OtroIdioma"
                            asp-items="@(new SelectList(ViewBag.listaOtroIdioma, "Value", "Text", @ViewBag.idOtroIdioma))">
                    </select>
                </div>
                <div class="form-group col-lg-6" style="display:none" id="DivEspecifiqueIdioma">
                    <label class="control-label">Especifque idioma</label>
                    <input asp-for="EspecifiqueIdioma" class="form-control" />
                    <span asp-validation-for="EspecifiqueIdioma" class="text-danger"></span>
                </div>
            }

            <div class="form-group col-md-12">
                <label class="control-label">Datos generales colonia</label>
                <input asp-for="DatosGeneralescol" class="form-control" />
                <span asp-validation-for="DatosGeneralescol" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-12">
                <label class="control-label">¿Sabe leer y escribir?</label>
                <select class="form-control" name="LeerEscribir"
                        asp-items="@(new SelectList(ViewBag.listaLeerEscribir, "Value","Text",@ViewBag.idLeerEscribir))">
                </select>
            </div>

            @if (ViewBag.traductor == "SI")
            {
                <div class="form-group col-lg-6" id="DivTraductor">
                    <label class="control-label">¿Requiere de traductor o interprete?</label>
                    <select class="form-control" name="Traductor" id="Traductor"
                            asp-items="@(new SelectList(ViewBag.listaTraductor, "Value", "Text", @ViewBag.idTraductor))">
                    </select>
                </div>
                <div class="form-group col-lg-6" id="DivEspecifiqueTraductor">
                    <label class="control-label">Especifque Traductor</label>
                    <input asp-for="EspecifiqueTraductor" class="form-control" />
                    <span asp-validation-for="EspecifiqueTraductor" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group col-lg-12" id="DivTraductor">
                    <label class="control-label">¿Requiere de traductor o interprete?</label>
                    <select class="form-control" name="Traductor" id="Traductor"
                            asp-items="@(new SelectList(ViewBag.listaTraductor, "Value", "Text", @ViewBag.idTraductor))">
                    </select>
                </div>
                <div class="form-group col-lg-6" style="display:none" id="DivEspecifiqueTraductor">
                    <label class="control-label">Especifque Traductor</label>
                    <input asp-for="EspecifiqueTraductor" class="form-control" />
                    <span asp-validation-for="EspecifiqueTraductor" class="text-danger"></span>
                </div>
            }

            <div class="form-group col-lg-6">
                <label class="control-label">Telefono Fijo</label>
                <input asp-for="TelefonoFijo" class="form-control" type="tel" pattern="[0-9]{10}" maxlength="10" />
                <span asp-validation-for="TelefonoFijo" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="Celular" class="control-label"></label>
                <input asp-for="Celular" class="form-control" type="tel" pattern="[0-9]{10}" maxlength="10" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>

            @if (ViewBag.Hijos == "SI")
            {
                <div class="form-group col-lg-6" id="DivHijos">
                    <label class="control-label">¿Tiene hijos?</label>
                    <select class="form-control" name="Hijos" id="Hijos"
                            asp-items="@(new SelectList(ViewBag.listaHijos, "Value", "Text", @ViewBag.idHijos))">
                    </select>
                </div>
                <div class="form-group col-lg-6" id="DivNhijos">
                    <label class="control-label">Numero de hijos</label>
                    <input asp-for="Nhijos" class="form-control" />
                    <span asp-validation-for="Nhijos" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group col-lg-12" id="DivHijos">
                    <label class="control-label">¿Tiene hijos?</label>
                    <select class="form-control" name="Hijos" id="Hijos"
                            asp-items="@(new SelectList(ViewBag.listaHijos, "Value", "Text", @ViewBag.idHijos))">
                    </select>
                </div>
                <div class="form-group col-lg-6" style="display:none" id="DivNhijos">
                    <label class="control-label">Numero de hijos</label>
                    <input asp-for="Nhijos" class="form-control" />
                    <span asp-validation-for="Nhijos" class="text-danger"></span>
                </div>
            }

            <div class="form-group col-md-12">
                <label class="control-label">Numero de personas con quien vive</label>
                <input asp-for="NpersonasVive" class="form-control" />
                <span asp-validation-for="NpersonasVive" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-12">
                <label class="control-label">¿Cuenta con propiedades en otra localidad, municipio y/o en otro estado o país?</label>
                <select class="form-control" name="Propiedades"
                        asp-items="@(new SelectList(ViewBag.listaPropiedades, "Value", "Text", @ViewBag.idPropiedades))">
                </select>
            </div>
            <div class="form-group col-lg-12">
                <label asp-for="Curp" class="control-label"></label>
                <input asp-for="Curp" class="form-control" />
                <span asp-validation-for="Curp" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label">Consume Sustancias</label>
                <select class="form-control" name="ConsumoSustancias" id="consumoSustancias"
                        asp-items="@(new SelectList(ViewBag.listaConsumoSustancias, "Value","Text",@ViewBag.idConsumoSustancias))">
                </select>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label">Ultima Actualización</label>
                <input asp-for="UltimaActualización" class="form-control" />
                <span asp-validation-for="UltimaActualización" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-12">
                <label asp-for="UltimaActualización" class="control-label"></label>
                <input asp-for="UltimaActualización" class="form-control" />
                <span asp-validation-for="UltimaActualización" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-12">
                <label asp-for="Supervisor" class="control-label"></label>
                <input asp-for="Supervisor" class="form-control" />
                <span asp-validation-for="Supervisor" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MenuEdicion" asp-route-id="@Model.IdPersona" class="btn btn-link">
        Regresar
    </a>
</div>




<!-- Modal Consumo de sustancias Secundario -->
<div class="modal fade" id="modalConsumoSustancias" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#0078A7;">
                <h5 class="modal-title" style="font-size: 30px; color:#fff;">Consumo de sustancias</h5>
            </div>
            <div class="modal-body">
                <div>
                    <label class="control-label">Sustancia</label>
                    <select class="form-control" name="sustancia" id="sustancia">
                        <option value="ALCOHOL">Alcohol</option>
                        <option value="MARIHUANA">Marihuana</option>
                        <option value="COCAINA">Cocaína</option>
                        <option value="HEROINA">Heroína</option>
                        <option value="PVC">PVC</option>
                        <option value="SOLVENTES">Solventes</option>
                        <option value="FARMACOS">Fármacos</option>
                        <option value="CEMENTO">Cemento</option>
                        <option value="CRACK">Crack</option>
                        <option value="ACIDOS">Ácidos</option>
                        <option value="TABACO">Tabaco</option>
                        <option value="METANFETAMINAS">Metanfetaminas</option>
                        <option value="OTRO">OTRO</option>
                    </select>
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label">Frecuencia de consumo</label>
                    <select class="form-control" name="frecuenciaS" id="frecuenciaS">
                        <option value="DIARIO">Diario</option>
                        <option value="SEMANAL">Semanal</option>
                        <option value="QUINCENAL">Quincenal</option>
                        <option value="MENSUAL">Mensual</option>
                        <option value="BIMESTRAL">Bimestral</option>
                        <option value="TRIMESTRAL">Trimestral</option>
                        <option value="SEMESTRAL">Semestral</option>
                        <option value="ANUAL">Anual</option>
                        <option value="OCASIONALMENTE">Ocasionalmente</option>
                    </select>
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label">Cantidad</label>
                    <input class="form-control" maxlength="200" name="cantidadS" type="text" id="cantidadS" />
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label">Último consumo</label>
                    <input required name="ultimoConsumo" id="ultimoConsumo" type="date" class="form-control" />
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label" for="observaciones">Observaciones</label>
                    <textarea maxlength="250" class="form-control" rows="2" name="observacionesConsumo" id="observacionesConsumo"></textarea>
                    <small class="form-text text-muted">Poner aclaraciones de la sustancia que consume y si selecciono otra sustancia en opciones especificar la sustancia.</small>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="fa fa-close"></i>
                    Cerrar
                </button>
                <button type="button" class="btn btn-primary" id="btnGuardarSustancia" name="btnGuardarSustancia">
                    <i class="fa fa-save"></i>
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>

