@model scorpioweb.Models.Trabajo

@{
    ViewData["Title"] = "EditTrabajo";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Trabajo</h2>
<h3>@ViewData["Nombre"]</h3>

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTrabajo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTrabajo" />
            <div class="form-group">
                <label class="control-label">¿Trabaja actualmente?</label>
                <select class="form-control" name="Trabaja"
                        asp-items="@(new SelectList(ViewBag.listaTrabaja, "Value", "Text", @ViewBag.idTrabaja))">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Tipo de ocupación</label>
                <select class="form-control" name="TipoOcupacion"
                        asp-items="@(new SelectList(ViewBag.listaTipoOcupacion, "Value", "Text", @ViewBag.idTipoOcupacion))">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Puesto" class="control-label"></label>
                <input asp-for="Puesto" class="form-control" />
                <span asp-validation-for="Puesto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpledorJefe" class="control-label"></label>
                <input asp-for="EmpledorJefe" class="form-control" />
                <span asp-validation-for="EmpledorJefe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">¿Esta enterado(a) de su proceso penal?</label>
                <select class="form-control" name="EnteradoProceso"
                        asp-items="@(new SelectList(ViewBag.listaEnteradoProceso, "Value", "Text", @ViewBag.idEnteradoProceso))">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">¿Se puede enterar?</label>
                <select class="form-control" name="SePuedeEnterar"
                        asp-items="@(new SelectList(ViewBag.listaSePuedeEnterar, "Value", "Text", @ViewBag.idSePuedeEnterar))">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Tiempo</label>
                <select class="form-control" name="TiempoTrabajando"
                        asp-items="@(new SelectList(ViewBag.listaTiempoTrabajando, "Value", "Text", @ViewBag.idTiempoTrabajando))">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Salario" class="control-label"></label>
                <input asp-for="Salario" class="form-control" />
                <span asp-validation-for="Salario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Cada cuando le pagan</label>
                <select class="form-control" name="TemporalidadSalario"
                        asp-items="@(new SelectList(ViewBag.listaTemporalidadSalario, "Value", "Text", @ViewBag.idTemporalidadSalario))">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Horario" class="control-label"></label>
                <input asp-for="Horario" class="form-control" />
                <span asp-validation-for="Horario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonaIdPersona" class="control-label"></label>
                <input asp-for="PersonaIdPersona" class="form-control" />
                <span asp-validation-for="PersonaIdPersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar cambios" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MenuEdicion" asp-route-id="@Model.PersonaIdPersona">Regresar</a>
</div>

