@model scorpioweb.Models.Persona
@{
    ViewBag.Title = "Datos Generales";
    Layout = "/Views/Shared/_Layout.cshtml";
}
@* Necesario para los modales en el servidor *@
<script src="~/js/jquery-1.11.1.min.js"></script>

<script type="text/javascript">
        var tipo = 0;
        $(document).ready(function () {
        //#region inicializar
        //#region Editar Sustancias
        var consumoSustancias = document.getElementById("consumoSustancias")
        var btnEditarSustancias = document.getElementById("btnEditarSustancias")
        if (consumoSustancias.value == "SI") {
            btnEditarSustancias.style.display = "block"
        }
        else {
            btnEditarSustancias.style.display = "none"
        }
        //#endregion
        //#region Editar Familiares
        var Familiares = document.getElementById("Familiares")
        var btnEditarFamiliares = document.getElementById("btnEditarFamiliares")
        if (Familiares.value == "SI") {
            btnEditarFamiliares.style.display = "block"
        }
        else {
            btnEditarFamiliares.style.display = "none"
        }
        //#endregion
        //#region Editar Referencias
        var ReferenciasPersonales = document.getElementById("ReferenciasPersonales")
        var btnEditarReferencias = document.getElementById("btnEditarReferencias")
        if (ReferenciasPersonales.value == "SI") {
            btnEditarReferencias.style.display = "block"
        }
        else {
            btnEditarReferencias.style.display = "none"
        }
        //#endregion
        //#region referencias display
        var Dependencia = document.getElementById("AFDependenciaE")
        var DependenciaExplica = document.getElementById("AFDependenciaExplicaE")
        if (Dependencia.value == "SI") {
            DependenciaExplica.style.display = "block"
        }
        else {
            DependenciaExplica.style.display = "none"
        }
        //#endregion
        //#region viven juntos display
        var VivenJuntos = document.getElementById("AFVivenJuntosE")
        var Domicilio = document.getElementById("AFDireccionFamiliarE")
        if (VivenJuntos.value == "NO") {
            Domicilio.style.display = "block"
        }
        else {
            Domicilio.style.display = "none"
        }
        //#endregion
        //#region enterado proceso display
        var EnteradoProceso = document.getElementById("AFEnteradoProcesoE")
        var PuedeEnterarse = document.getElementById("AFPuedeEnterarseE")
        if (EnteradoProceso.value == "NO") {
            PuedeEnterarse.style.display = "block"
        }
        else {
            PuedeEnterarse.style.display = "none"
        }
        $('#AFEnteradoProcesoE').change(function () {
            var dat = $(this).children("option:selected").val();
            if (dat == "NO") {
                $("#AFPuedeEnterarseE").css("display", "block");
            }
            else {
                $("#AFPuedeEnterarseE").css("display", "none");
            }
        });
        //#endregion
        //#endregion
        //#region -Municipios-
        var items = "<option value='0'>Selecciona</option>";
        $('#municipioD').html(items);
        $('#lnEstado').change(function () {
            var url = '@Url.Content("~/")' + "Personas/GetMunicipio";
            var ddlsource = '#lnEstado';
            $.getJSON(url, { EstadoId: $(ddlsource).val() }, function (data) {
                var items = '';
                $("#lnMunicipio").empty();
                $.each(data, function (i, municipio) {
                    items += "<option value='" + municipio.value + "'>" + municipio.text + "</option>";
                });
                $('#lnMunicipio').html(items);
            });
        });
        $('#lnpais').change(function () {
            var selectedCountry = $(this).children("option:selected").val();
            if (selectedCountry != "MEXICO") {
                $("#lnEstado").val(0);
                var items = "<option value='0'>Selecciona</option>";
                $('#lnMunicipio').html(items);
                $("#lnMunicipio").val(0);
                $("#Estado").css("display", "none");
                $("#Municipio").css("display", "none");
                $("#Pais").removeClass("col-lg-3");
                $("#Pais").addClass("col-lg-6");
                $("#DivLnlocalidad").removeClass("col-lg-3");
                $("#DivLnlocalidad").addClass("col-lg-6");
            }
            else {
                $("#Estado").css("display", "block");
                $("#Municipio").css("display", "block");
                $("#Pais").removeClass("col-lg-6");
                $("#Pais").addClass("col-lg-3");
                $("#DivLnlocalidad").removeClass("col-lg-6");
                $("#DivLnlocalidad").addClass("col-lg-3");
            }
        });
        $('#OtroIdioma').change(function () {
            var dat = $(this).children("option:selected").val();
            if (dat == "SI") {
                $("#DivEspecifiqueIdioma").css("display", "block");
                $("#DivOtroIdioma").removeClass("col-md-12");
                $("#DivOtroIdioma").addClass("col-lg-6");
            }
            else {
                $("#DivEspecifiqueIdioma").css("display", "none");
                $("#DivOtroIdioma").removeClass("col-lg-6");
                $("#DivOtroIdioma").addClass("col-md-12");
            }
        });
        $('#Traductor').change(function () {
            var dat = $(this).children("option:selected").val();
            if (dat == "SI") {
                $("#DivEspecifiqueTraductor").css("display", "block");
                $("#DivTraductor").removeClass("col-md-12");
                $("#DivTraductor").addClass("col-lg-6");
            }
            else {
                $("#DivEspecifiqueTraductor").css("display", "none");
                $("#DivTraductor").removeClass("col-lg-6");
                $("#DivTraductor").addClass("col-md-12");
            }
        });
        $('#Hijos').change(function () {
            var dat = $(this).children("option:selected").val();
            if (dat == "SI") {
                $("#DivNhijos").css("display", "block");
                $("#DivHijos").removeClass("col-md-12");
                $("#DivHijos").addClass("col-lg-6");
            }
            else {
                $("#DivNhijos").css("display", "none");
                $("#DivHijos").removeClass("col-lg-6");
                $("#DivHijos").addClass("col-md-12");
            }
        });
        $('#sexo').change(function () {
            var gen = $(this).children("option:selected").val();
            if (gen == "F") {
                $("#embarazo").css("display", "block");
            }
            else {
                $("#embarazo").css("display", "none");
            }
        });
        //#endregion
        //#region -Modales-
        $("#consumoSustancias").change(function () {
            var opcion = $(this).children("option:selected").val();
            if (opcion == "SI") {
                $('#modalAgregarSustancias').modal('show')
            }
            else {
                $('#modalAgregarSustancias').modal('hidden')
            }
        });
        $("#Familiares").change(function () {
            var opcion = $(this).children("option:selected").val()
            document.getElementById("textoAFRAgregar").innerHTML = "Asiento Familiar"
            if (opcion == "SI") {
                tipo = 1;
                $('#modalAgregarAsientoFamiliar').modal('show')
            }
            else {
                tipo = 0;
                $('#modalAgregarAsientoFamiliar').modal('hidden')
            }
        });
        $("#ReferenciasPersonales").change(function () {
            var opcion = $(this).children("option:selected").val()
            document.getElementById("textoAFRAgregar").innerHTML = "Referencia"
            if (opcion == "SI") {
                tipo = 2;
                $('#modalAgregarAsientoFamiliar').modal('show')
            }
            else {
                tipo = 0;
                $('#modalAgregarAsientoFamiliar').modal('hidden')
            }
        });
        $("#btnAgregarSustancia").click(function () {
            document.ready = document.getElementById("sustanciaA").value = 'ALCOHOL'
            document.ready = document.getElementById("frecuenciaA").value = 'DIARIO'
            document.ready = document.getElementById("cantidadA").value = ''
            document.ready = document.getElementById("ultimoConsumoA").value = ''
            document.ready = document.getElementById("observacionesConsumoA").value = ''
            $('#modalAgregarSustancias').modal('show')
        });
        $("#btnEditarSustancias").click(function () {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/Personas/editarSustancias",
                traditional: true,
                success: function (response) {
                    if (response.success == false) {
                        alert(response.responseText);
                    }
                },
                error: function (response) {
                    alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                }
            });
            document.getElementById("sustanciaE").value = '@ViewBag.idSustancia';
            document.getElementById("frecuenciaE").value = '@ViewBag.idFrecuencia';
            document.getElementById("cantidadE").value = '@ViewBag.cantidad';
            document.getElementById("ultimoConsumoE").value = '@ViewBag.ultimoConsumo';
            document.getElementById("observacionesConsumoE").value = '@ViewBag.Observaciones';
            document.getElementById("idConsumoSustanciasE").value = '@ViewBag.idConsumoSustancias';
            $('#modalEditarSustancias').modal('show')
        });
        $("#btnAgregarFamiliar").click(function () {
            if (tipo == 1) {
                document.getElementById("textoAFRAgregar").innerHTML = "Asiento Familiar"
            }
            else {
                document.getElementById("textoAFRAgregar").innerHTML = "Referencia"
            }
            document.ready = document.getElementById("AFNombreA").value = '';
            document.ready = document.getElementById("AFRelacionA").value = 'MAMA';
            document.ready = document.getElementById("AFEdadA").value = '0';
            document.ready = document.getElementById("AFSexoA").value = 'M';
            document.ready = document.getElementById("AFDependenciaA").value = 'NO';
            document.ready = document.getElementById("AFDependenciaExplicaOA").value = '';
            document.ready = document.getElementById("AFVivenJuntosA").value = 'SI';
            document.ready = document.getElementById("AFDireccionFamiliarOA").value = '';
            document.ready = document.getElementById("AFtelefonoFamiliarA").value = '';
            document.ready = document.getElementById("AFLocalizacionA").value = '';
            document.ready = document.getElementById("AFEnteradoProcesoA").value = 'SI';
            document.ready = document.getElementById("AFPuedeEnterarseOA").value = 'NA';
            document.ready = document.getElementById("AFobservacionesA").value = '';
            $("#AFDependenciaExplicaA").css("display", "none");
            $("#AFDireccionFamiliarA").css("display", "none");
            $("#AFPuedeEnterarseA").css("display", "none");
            $('#modalAgregarAsientoFamiliar').modal('show')
        });
        $("#btnEditarFamiliares").click(function () {
            document.getElementById("textoAFREditar").innerHTML = "Asiento Familiar"
            document.getElementById("AFidAsientoFamiliarE").value = '@ViewBag.idAsientoFamiliarF'
            tipo = 1;
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/Personas/editarFamiliares",
                traditional: true,
                data: {
                    tipoGuardado: tipo,
                },
                success: function (response) {
                    if (response.success == false) {
                        alert(response.responseText);
                    }
                },
                error: function (response) {
                    alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                }
            });
            document.getElementById("AFNombreE").value = '@ViewBag.nombreF';
            document.getElementById("AFRelacionE").value = '@ViewBag.idRelacionF';
            document.getElementById("AFEdadE").value = '@ViewBag.edadF';
            document.getElementById("AFSexoE").value = '@ViewBag.idSexoF';
            document.getElementById("AFDependenciaE").value = '@ViewBag.idDependenciaF';
            document.getElementById("AFDependenciaExplicaOE").value = '@ViewBag.dependenciaExplicaF';
            document.getElementById("AFVivenJuntosE").value = '@ViewBag.idVivenJuntosF';
            document.getElementById("AFDireccionFamiliarOE").value = '@ViewBag.domicilioF';
            document.getElementById("AFtelefonoFamiliarE").value = '@ViewBag.telefonoF';
            document.getElementById("AFLocalizacionE").value = '@ViewBag.horarioLocalizacionF';
            document.getElementById("AFEnteradoProcesoE").value = '@ViewBag.idEnteradoProcesoF';
            document.getElementById("AFPuedeEnterarseOE").value = '@ViewBag.idPuedeEnterarseF';
            document.getElementById("AFobservacionesE").value = '@ViewBag.AFobservacionesF';
            document.getElementById("AFidAsientoFamiliarE").value = '@ViewBag.idAsientoFamiliarF';
            $("#AFDependenciaExplicaE").css("display", "none");
            $("#AFDireccionFamiliarE").css("display", "none");
            $("#AFPuedeEnterarseE").css("display", "none");
            $('#modalEditarAsientoFamiliar').modal('show')
        });
        $("#btnEditarReferencias").click(function () {
            document.getElementById("textoAFREditar").innerHTML = "Referencia"
            document.getElementById("AFidAsientoFamiliarE").value = '@ViewBag.idAsientoFamiliarR'
            tipo = 2;
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/Personas/editarFamiliares",
                traditional: true,
                data: {
                    tipoGuardado: tipo,
                },
                success: function (response) {
                    if (response.success == false) {
                        alert(response.responseText);
                    }
                },
                error: function (response) {
                    alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                }
            });
            document.getElementById("AFNombreE").value = '@ViewBag.nombreR';
            document.getElementById("AFRelacionE").value = '@ViewBag.idRelacionR';
            document.getElementById("AFEdadE").value = '@ViewBag.edadR';
            document.getElementById("AFSexoE").value = '@ViewBag.idSexoR';
            document.getElementById("AFDependenciaE").value = '@ViewBag.idDependenciaR';
            document.getElementById("AFDependenciaExplicaOE").value = '@ViewBag.dependenciaExplicaR';
            document.getElementById("AFVivenJuntosE").value = '@ViewBag.idVivenJuntosR';
            document.getElementById("AFDireccionFamiliarOE").value = '@ViewBag.domicilioR';
            document.getElementById("AFtelefonoFamiliarE").value = '@ViewBag.telefonoR';
            document.getElementById("AFLocalizacionE").value = '@ViewBag.horarioLocalizacionR';
            document.getElementById("AFEnteradoProcesoE").value = '@ViewBag.idEnteradoProcesoR';
            document.getElementById("AFPuedeEnterarseOE").value = '@ViewBag.idPuedeEnterarseR';
            document.getElementById("AFobservacionesE").value = '@ViewBag.AFobservacionesR';
            document.getElementById("AFidAsientoFamiliarE").value = '@ViewBag.idAsientoFamiliarR';
            $("#AFDependenciaExplicaE").css("display", "none");
            $("#AFDireccionFamiliarE").css("display", "none");
            $("#AFPuedeEnterarseE").css("display", "none");
            $('#modalEditarAsientoFamiliar').modal('show')
        });
        //#endregion
        //#region -changeDisplay-
        //#region editar
        $('#AFDependenciaE').change(function () {
            var dat = $(this).children("option:selected").val();
            if (dat == "SI") {
                $("#AFDependenciaExplicaE").css("display", "block");
            }
            else {
                $("#AFDependenciaExplicaE").css("display", "none");
            }
        });
        $('#AFVivenJuntosE').change(function () {
            var dat = $(this).children("option:selected").val();
            if (dat == "NO") {
                $("#AFDireccionFamiliarE").css("display", "block");
            }
            else {
                $("#AFDireccionFamiliarE").css("display", "none");
            }
        });
        $('#AFEnteradoProcesoE').change(function () {
            var dat = $(this).children("option:selected").val();
            if (dat == "NO") {
                $("#AFPuedeEnterarseE").css("display", "block");
            }
            else {
                $("#AFPuedeEnterarseE").css("display", "none");
            }
        });
        //#endregion
        //#region agregar
        $('#AFDependenciaA').change(function () {
            var dat = $(this).children("option:selected").val();
            if (dat == "SI") {
                $("#AFDependenciaExplicaA").css("display", "block");
            }
            else {
                $("#AFDependenciaExplicaA").css("display", "none");
            }
        });
        $('#AFVivenJuntosA').change(function () {
            var dat = $(this).children("option:selected").val();
            if (dat == "NO") {
                $("#AFDireccionFamiliarA").css("display", "block");
            }
            else {
                $("#AFDireccionFamiliarA").css("display", "none");
            }
        });
        $('#AFEnteradoProcesoA').change(function () {
            var dat = $(this).children("option:selected").val();
            if (dat == "NO") {
                $("#AFPuedeEnterarseA").css("display", "block");
            }
            else {
                $("#AFPuedeEnterarseA").css("display", "none");
            }
        });
        //#endregion
        //#endregion
    });
    //region GuardarMODALS
    $(document).ready(function () {
        $('#btnGuardarSustancia').on("click", function (e) {
            e.preventDefault();
            var s = document.getElementById("sustanciaA");
            var f = document.getElementById("frecuenciaA");
            var sustancia = s.options[s.selectedIndex].value;
            var frecuencia = f.options[f.selectedIndex].value;
            var cantidad = document.getElementById("cantidadA").value;
            var ultimoC = document.getElementById("ultimoConsumoA").value;
            var observaciones = document.getElementById("observacionesConsumoA").value;
            //var user = document.getElementById("usuario").firstChild.nodeValue;
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/Personas/guardarSustancia",
                traditional: true,
                data: {
                    datosConsumo: [sustancia, frecuencia, cantidad, ultimoC, observaciones/*, user*/],
                },
                success: function (response) {
                    if (response.success) {
                        alert(response.responseText);
                        document.ready = document.getElementById("sustanciaA").value = 'ALCOHOL';
                        document.ready = document.getElementById("frecuenciaA").value = 'DIARIO';
                        document.ready = document.getElementById("cantidadA").value = '';
                        document.ready = document.getElementById("ultimoConsumoA").value = '';
                        document.ready = document.getElementById("observacionesConsumoA").value = '';
                        var otraSustancia = confirm("¿Consume alguna otra sustancia?");
                        if (otraSustancia == true) {
                            alert("Coloque los datos correspondientes a la nueva sustancia");
                        } else {
                            $("#modalAgregarSustancias").modal('hide');
                        }
                    } else {
                        alert(response.responseText);
                    }
                },
                error: function (response) {
                    alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                }
            });
        });
        $('#btnSiguienteSustancia').on("click", function (e) {
            e.preventDefault();
            var s = document.getElementById("sustanciaE");
            var f = document.getElementById("frecuenciaE");
            var sustancia = s.options[s.selectedIndex].value;
            var frecuencia = f.options[f.selectedIndex].value;
            var cantidad = document.getElementById("cantidadE").value;
            var ultimoC = document.getElementById("ultimoConsumoE").value;
            var observaciones = document.getElementById("observacionesConsumoE").value;
            var idConsumo = document.getElementById("idConsumoSustanciasE").value;
            //var user = document.getElementById("usuario").firstChild.nodeValue;
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/Personas/siguienteSustancia",
                traditional: true,
                data: {
                    datosConsumo: [sustancia, frecuencia, cantidad, ultimoC, observaciones, idConsumo/*, user*/],
                },
                success: function (response) {
                    if (response.success) {
                        if (response.responseText == "Datos Guardados con éxito") {
                            $("#modalEditarSustancias").modal('hide');
                        }
                        else {
                            document.ready = document.getElementById("sustanciaE").value = response.sustancia;
                            document.ready = document.getElementById("frecuenciaE").value = response.frecuencia;
                            document.ready = document.getElementById("cantidadE").value = response.cantidad;
                            document.ready = document.getElementById("ultimoConsumoE").value = response.ultimoConsumo;
                            document.ready = document.getElementById("observacionesConsumoE").value = response.observacionesConsumo;
                            document.ready = document.getElementById("idConsumoSustanciasE").value = response.idConsumoSustancias;
                        }
                    } else {
                        alert(response.responseText);
                    }
                },
                error: function (response) {
                    alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                }
            });
        });
        $('#btnDeleteSustancia').on("click", function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/Personas/deleteSustancia",
                traditional: true,
                success: function (response) {
                    if (response.success) {
                        if (response.responseText == "Datos Guardados con éxito") {
                            $("#modalEditarSustancias").modal('hide');
                        }
                        else if (response.responseText == "Siguiente") {
                            document.ready = document.getElementById("sustanciaE").value = response.sustancia;
                            document.ready = document.getElementById("frecuenciaE").value = response.frecuencia;
                            document.ready = document.getElementById("cantidadE").value = response.cantidad;
                            document.ready = document.getElementById("ultimoConsumoE").value = response.ultimoConsumo;
                            document.ready = document.getElementById("observacionesConsumoE").value = response.observacionesConsumo;
                            document.ready = document.getElementById("idConsumoSustanciasE").value = response.idConsumoSustancias;
                        }
                        else if (response.responseText == "Ya No") {
                            var select = document.getElementById("consumoSustancias");
                            $(select).val("NO");
                            $("#modalEditarSustancias").modal('hide');
                        }
                    } else {
                        alert(response.responseText);
                    }
                },
                error: function (response) {
                    alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                }
            });
        });
        $('#btnGuardarFamiliar').on("click", function (e) {
            e.preventDefault();
            var r = document.getElementById("AFRelacionA");
            var g = document.getElementById("AFSexoA");
            var d = document.getElementById("AFDependenciaA");
            var v = document.getElementById("AFVivenJuntosA");
            var p = document.getElementById("AFEnteradoProcesoA");
            var e = document.getElementById("AFPuedeEnterarseOA");
            var nombre = document.getElementById("AFNombreA").value;
            var relacion = r.options[r.selectedIndex].value; /////////////////
            var edad = document.getElementById("AFEdadA").value;
            var sexo = g.options[g.selectedIndex].value; /////////////////
            var dependencia = d.options[d.selectedIndex].value;/////////////////
            var explicaDependencia = document.getElementById("AFDependenciaExplicaOA").value;
            var vivenJuntos = v.options[v.selectedIndex].value;/////////////////
            var direccion = document.getElementById("AFDireccionFamiliarOA").value;
            var telefono = document.getElementById("AFtelefonoFamiliarA").value;
            var horarioLocalizacion = document.getElementById("AFLocalizacionA").value;
            var enteradoProceso = p.options[p.selectedIndex].value;/////////////////
            var puedeEnterarse = e.options[e.selectedIndex].value;/////////////////
            var observaciones = document.getElementById("AFobservacionesA").value;
            //var user = document.getElementById("usuario").firstChild.nodeValue;
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/Personas/guardarFamiliar",
                traditional: true,
                data: {
                    datosFamiliar: [nombre, relacion, edad, sexo, dependencia, explicaDependencia, vivenJuntos, direccion, telefono, horarioLocalizacion, enteradoProceso, puedeEnterarse, observaciones/*, user*/],
                    tipoGuardado: tipo,
                },
                success: function (response) {
                    if (response.success) {
                        if ($.isNumeric(edad)) {
                            alert(response.responseText);
                            document.ready = document.getElementById("AFNombreA").value = '';
                            document.ready = document.getElementById("AFRelacionA").value = 'MAMA';
                            document.ready = document.getElementById("AFEdadA").value = '0';
                            document.ready = document.getElementById("AFSexoA").value = 'M';
                            document.ready = document.getElementById("AFDependenciaA").value = 'NO';
                            document.ready = document.getElementById("AFDependenciaExplicaOA").value = '';
                            document.ready = document.getElementById("AFVivenJuntosA").value = 'SI';
                            document.ready = document.getElementById("AFDireccionFamiliarOA").value = '';
                            document.ready = document.getElementById("AFtelefonoFamiliarA").value = '';
                            document.ready = document.getElementById("AFLocalizacionA").value = '';
                            document.ready = document.getElementById("AFEnteradoProcesoA").value = 'SI';
                            document.ready = document.getElementById("AFPuedeEnterarseOA").value = 'NA';
                            document.ready = document.getElementById("AFobservacionesA").value = '';
                            $("#AFDependenciaExplicaA").css("display", "none");
                            $("#AFDireccionFamiliarA").css("display", "none");
                            $("#AFPuedeEnterarseA").css("display", "none");
                            var otraSustancia = confirm("¿Agregar otra persona?");
                            if (otraSustancia == true) {
                                alert("Coloque los datos correspondientes");
                            } else {
                                $("#modalAgregarAsientoFamiliar").modal('hide');
                            }
                        }
                        else {
                            alert("Edad inválida")
                        }
                    } else {
                        alert(response.responseText);
                    }
                },
                error: function (response) {
                    alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                }
            });
        });
        $('#btnSiguienteFamiliar').on("click", function (e) {
            e.preventDefault();
            var r = document.getElementById("AFRelacionE");
            var g = document.getElementById("AFSexoE");
            var d = document.getElementById("AFDependenciaE");
            var v = document.getElementById("AFVivenJuntosE");
            var p = document.getElementById("AFEnteradoProcesoE");
            var e = document.getElementById("AFPuedeEnterarseOE");
            var nombre = document.getElementById("AFNombreE").value;
            var relacion = r.options[r.selectedIndex].value; /////////////////
            var edad = document.getElementById("AFEdadE").value;
            var sexo = g.options[g.selectedIndex].value; /////////////////
            var dependencia = d.options[d.selectedIndex].value;/////////////////
            var explicaDependencia = document.getElementById("AFDependenciaExplicaOE").value;
            var vivenJuntos = v.options[v.selectedIndex].value;/////////////////
            var direccion = document.getElementById("AFDireccionFamiliarOE").value;
            var telefono = document.getElementById("AFtelefonoFamiliarE").value;
            var horarioLocalizacion = document.getElementById("AFLocalizacionE").value;
            var enteradoProceso = p.options[p.selectedIndex].value;/////////////////
            var puedeEnterarse = e.options[e.selectedIndex].value;/////////////////
            var observaciones = document.getElementById("AFobservacionesE").value;
            var idFamiliar = document.getElementById("AFidAsientoFamiliarE").value;
            //var user = document.getElementById("usuario").firstChild.nodeValue;
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/Personas/siguienteFamiliar",
                traditional: true,
                data: {
                    datosFamiliar: [nombre, relacion, edad, sexo, dependencia, explicaDependencia, vivenJuntos, direccion, telefono, horarioLocalizacion, enteradoProceso, puedeEnterarse, observaciones, idFamiliar/*, user*/],
                    tipoGuardado: tipo,
                },
                success: function (response) {
                    if (response.success) {
                        if (response.responseText == "Datos Guardados con éxito") {
                            $("#modalEditarAsientoFamiliar").modal('hide');
                        }
                        else {
                            document.ready = document.getElementById("AFNombreE").value = response.nombre;
                            document.ready = document.getElementById("AFRelacionE").value = response.relacion;
                            document.ready = document.getElementById("AFEdadE").value = response.edad;
                            document.ready = document.getElementById("AFSexoE").value = response.sexo;
                            document.ready = document.getElementById("AFDependenciaE").value = response.dependencia;
                            document.ready = document.getElementById("AFDependenciaExplicaOE").value = response.explicaDependencia;
                            document.ready = document.getElementById("AFVivenJuntosE").value = response.vivenJuntos;
                            document.ready = document.getElementById("AFDireccionFamiliarOE").value = response.direccion;
                            document.ready = document.getElementById("AFtelefonoFamiliarE").value = response.telefono;
                            document.ready = document.getElementById("AFLocalizacionE").value = response.horarioLocalizacion;
                            document.ready = document.getElementById("AFEnteradoProcesoE").value = response.enteradoProceso;
                            document.ready = document.getElementById("AFPuedeEnterarseOE").value = response.puedeEnterarse;
                            document.ready = document.getElementById("AFobservacionesE").value = response.observaciones;
                            document.ready = document.getElementById("AFidAsientoFamiliarE").value = response.idAsientoFamiliar;
                            $("#AFDependenciaExplicaE").css("display", "none");
                            $("#AFDireccionFamiliarE").css("display", "none");
                            $("#AFPuedeEnterarseE").css("display", "none");
                        }
                    } else {
                        alert(response.responseText);
                    }
                },
                error: function (response) {
                    alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                }
            });
        });
        $('#btnDeleteFamiliar').on("click", function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/Personas/deleteFamiliar",
                traditional: true,
                data: {
                    tipoGuardado: tipo,
                },
                success: function (response) {
                    if (response.success) {
                        if (response.responseText == "Datos Guardados con éxito") {
                            $("#modalEditarAsientoFamiliar").modal('hide');
                        }
                        else if (response.responseText == "Siguiente") {
                            document.ready = document.getElementById("AFNombreE").value = response.nombre;
                            document.ready = document.getElementById("AFRelacionE").value = response.relacion;
                            document.ready = document.getElementById("AFEdadE").value = response.edad;
                            document.ready = document.getElementById("AFSexoE").value = response.sexo;
                            document.ready = document.getElementById("AFDependenciaE").value = response.dependencia;
                            document.ready = document.getElementById("AFDependenciaExplicaOE").value = response.explicaDependencia;
                            document.ready = document.getElementById("AFVivenJuntosE").value = response.vivenJuntos;
                            document.ready = document.getElementById("AFDireccionFamiliarOE").value = response.direccion;
                            document.ready = document.getElementById("AFtelefonoFamiliarE").value = response.telefono;
                            document.ready = document.getElementById("AFLocalizacionE").value = response.horarioLocalizacion;
                            document.ready = document.getElementById("AFEnteradoProcesoE").value = response.enteradoProceso;
                            document.ready = document.getElementById("AFPuedeEnterarseOE").value = response.puedeEnterarse;
                            document.ready = document.getElementById("AFobservacionesE").value = response.observaciones;
                            document.ready = document.getElementById("AFidAsientoFamiliarE").value = response.idAsientoFamiliar;
                            $("#AFDependenciaExplicaE").css("display", "none");
                            $("#AFDireccionFamiliarE").css("display", "none");
                            $("#AFPuedeEnterarseE").css("display", "none");
                        }
                        else if (response.responseText == "Ya No") {
                            if (tipo == 1) {
                                var select = document.getElementById("Familiares");
                                $(select).val("NO");
                            }
                            else {
                                var select = document.getElementById("ReferenciasPersonales");
                                $(select).val("NO");
                            }
                            $("#modalEditarAsientoFamiliar").modal('hide');
                         }
                    } else {
                        alert(response.responseText);
                    }
                },
                error: function (response) {
                    alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                }
            });
        });
    });

    //region Poner en "No" el dropdown si cancela en todos los modales
    $(document).ready(function () {
        $('#btnCloseCS').on("click", function (e) {
            e.preventDefault();
            var consumoSustancias = document.getElementById('consumoSustancias');
            consumoSustancias.value = 'NO';
        });
    });

    $(document).ready(function () {
        $('#btnCloseAF').on("click", function (e) {
            e.preventDefault();
            if (tipo == 1) {
              var Familiares = document.getElementById('Familiares');
              Familiares.value = 'NO';
            }
            else if (tipo == 2) {
              var ReferenciasPersonales = document.getElementById('ReferenciasPersonales');
              ReferenciasPersonales.value = 'NO';
            }
        });
    });
    //endregion
</script>

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Datos Generales</h2>
<h3>@Model.Paterno @Model.Materno @Model.Nombre</h3>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPersona" />
            <div class="form-group col-md-4">
                <label asp-for="Paterno" class="control-label"></label>
                <input asp-for="Paterno" class="form-control" style="text-transform:uppercase" />
                <span asp-validation-for="Paterno" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Materno" class="control-label"></label>
                <input asp-for="Materno" class="form-control" />
                <span asp-validation-for="Materno" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Alias" class="control-label"></label>
                <input asp-for="Alias" class="form-control" />
                <span asp-validation-for="Alias" class="text-danger"></span>
                <span asp-validation-for="Alias" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Género</label>
                <select class="form-control" name="Genero" id="Genero"
                        asp-items="@(new SelectList(ViewBag.listaGenero, "Value", "Text", @ViewBag.idGenero))">
                </select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Edad" class="control-label"></label>
                <input asp-for="Edad" class="form-control" />
                <span asp-validation-for="Edad" type="number" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Fecha de nacimiento</label>
                <input asp-for="Fnacimiento" type="date" class="form-control" />
                <span asp-validation-for="Fnacimiento" class="text-danger"></span>
            </div>

            @if (ViewBag.pais == "MEXICO")
            {
                <div class="form-group col-lg-3" id="Pais">
                    <label class="control-label">País de nacimiento</label>
                    <select class="form-control" name="Lnpais" id="lnpais"
                            asp-items="@(new SelectList(ViewBag.listaLnpais, "Value", "Text", @ViewBag.idLnpais))">
                    </select>
                </div>
                <div class="form-group col-lg-3" id="Estado">
                    <label class="control-label">Estado</label>
                    <select class="form-control" name="lnEstado" id="lnEstado"
                            asp-items="@(new SelectList(ViewBag.ListadoEstados, "Id", "Estado", @ViewBag.idEstado))">
                    </select>
                </div>
                <div class="form-group col-lg-3" id="Municipio">
                    <label class="control-label">Municipio</label>
                    <select class="form-control" name="lnMunicipio" id="lnMunicipio"
                            asp-items="@(new SelectList(ViewBag.ListadoMunicipios, "Id", "Municipio",  @ViewBag.idMunicipio))">
                    </select>
                </div>
                <div class="form-group col-lg-3" id="DivLnlocalidad">
                    <label class="control-label">Localidad de nacimiento</label>
                    <input asp-for="Lnlocalidad" class="form-control" />
                    <span asp-validation-for="Lnlocalidad" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group col-lg-6" id="Pais">
                    <label class="control-label">País de nacimiento</label>
                    <select class="form-control" name="Lnpais" id="lnpais"
                            asp-items="@(new SelectList(ViewBag.listaLnpais, "Value", "Text", @ViewBag.idLnpais))">
                    </select>
                </div>
                <div class="form-group col-lg-3" style="display:none" id="Estado">
                    <label class="control-label">Estado</label>
                    <select class="form-control" name="lnEstado" id="lnEstado"
                            asp-items="@(new SelectList(ViewBag.ListadoEstados, "Id", "Estado", @ViewBag.idEstado))">
                    </select>
                </div>
                <div class="form-group col-lg-3" style="display:none" id="Municipio">
                    <label class="control-label">Municipio</label>
                    <select class="form-control" name="lnMunicipio" id="lnMunicipio"
                            asp-items="@(new SelectList(ViewBag.ListadoMunicipios, "Id", "Municipio",  @ViewBag.idMunicipio))">
                    </select>
                </div>
                <div class="form-group col-lg-6" id="DivLnlocalidad">
                    <label class="control-label">Localidad de nacimiento</label>
                    <input asp-for="Lnlocalidad" class="form-control" />
                    <span asp-validation-for="Lnlocalidad" class="text-danger"></span>
                </div>
            }



            <div class="form-group col-lg-6">
                <label class="control-label">Estado Civil</label>
                <select class="form-control" name="estadoCivil" id="estadoCivil"
                        asp-items="@(new SelectList(ViewBag.listaEstadoCivil, "Value","Text",@ViewBag.idEstadoCivil))">
                </select>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="Duracion" class="control-label"></label>
                <input asp-for="Duracion" class="form-control" />
                <span asp-validation-for="Duracion" class="text-danger"></span>
            </div>

            @if (ViewBag.idioma == "SI")
            {
                <div class="form-group col-lg-6" id="DivOtroIdioma">
                    <label class="control-label">¿Habla otro idioma, lengua o dialecto, distinto al español?</label>
                    <select class="form-control" name="OtroIdioma" id="OtroIdioma"
                            asp-items="@(new SelectList(ViewBag.listaOtroIdioma, "Value", "Text", @ViewBag.idOtroIdioma))">
                    </select>
                </div>
                <div class="form-group col-lg-6" id="DivEspecifiqueIdioma">
                    <label class="control-label">Especifque idioma</label>
                    <input asp-for="EspecifiqueIdioma" class="form-control" />
                    <span asp-validation-for="EspecifiqueIdioma" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group col-lg-12" id="DivOtroIdioma">
                    <label class="control-label">¿Habla otro idioma, lengua o dialecto, distinto al español?</label>
                    <select class="form-control" name="OtroIdioma" id="OtroIdioma"
                            asp-items="@(new SelectList(ViewBag.listaOtroIdioma, "Value", "Text", @ViewBag.idOtroIdioma))">
                    </select>
                </div>
                <div class="form-group col-lg-6" style="display:none" id="DivEspecifiqueIdioma">
                    <label class="control-label">Especifque idioma</label>
                    <input asp-for="EspecifiqueIdioma" class="form-control" />
                    <span asp-validation-for="EspecifiqueIdioma" class="text-danger"></span>
                </div>
            }

            <div class="form-group col-md-12">
                <label class="control-label">Datos generales colonia</label>
                <input asp-for="DatosGeneralescol" class="form-control" />
                <span asp-validation-for="DatosGeneralescol" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-12">
                <label class="control-label">¿Sabe leer y escribir?</label>
                <select class="form-control" name="LeerEscribir"
                        asp-items="@(new SelectList(ViewBag.listaLeerEscribir, "Value","Text",@ViewBag.idLeerEscribir))">
                </select>
            </div>

            @if (ViewBag.traductor == "SI")
            {
                <div class="form-group col-lg-6" id="DivTraductor">
                    <label class="control-label">¿Requiere de traductor o interprete?</label>
                    <select class="form-control" name="Traductor" id="Traductor"
                            asp-items="@(new SelectList(ViewBag.listaTraductor, "Value", "Text", @ViewBag.idTraductor))">
                    </select>
                </div>
                <div class="form-group col-lg-6" id="DivEspecifiqueTraductor">
                    <label class="control-label">Especifque Traductor</label>
                    <input asp-for="EspecifiqueTraductor" class="form-control" />
                    <span asp-validation-for="EspecifiqueTraductor" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group col-lg-12" id="DivTraductor">
                    <label class="control-label">¿Requiere de traductor o interprete?</label>
                    <select class="form-control" name="Traductor" id="Traductor"
                            asp-items="@(new SelectList(ViewBag.listaTraductor, "Value", "Text", @ViewBag.idTraductor))">
                    </select>
                </div>
                <div class="form-group col-lg-6" style="display:none" id="DivEspecifiqueTraductor">
                    <label class="control-label">Especifque Traductor</label>
                    <input asp-for="EspecifiqueTraductor" class="form-control" />
                    <span asp-validation-for="EspecifiqueTraductor" class="text-danger"></span>
                </div>
            }

            <div class="form-group col-lg-6">
                <label class="control-label">Telefono Fijo</label>
                <input asp-for="TelefonoFijo" class="form-control" type="tel" pattern="[0-9]{10}" maxlength="10" />
                <span asp-validation-for="TelefonoFijo" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="Celular" class="control-label"></label>
                <input asp-for="Celular" class="form-control" type="tel" pattern="[0-9]{10}" maxlength="10" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>

            @if (ViewBag.Hijos == "SI")
            {
                <div class="form-group col-lg-6" id="DivHijos">
                    <label class="control-label">¿Tiene hijos?</label>
                    <select class="form-control" name="Hijos" id="Hijos"
                            asp-items="@(new SelectList(ViewBag.listaHijos, "Value", "Text", @ViewBag.idHijos))">
                    </select>
                </div>
                <div class="form-group col-lg-6" id="DivNhijos">
                    <label class="control-label">Numero de hijos</label>
                    <input asp-for="Nhijos" class="form-control" />
                    <span asp-validation-for="Nhijos" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group col-lg-12" id="DivHijos">
                    <label class="control-label">¿Tiene hijos?</label>
                    <select class="form-control" name="Hijos" id="Hijos"
                            asp-items="@(new SelectList(ViewBag.listaHijos, "Value", "Text", @ViewBag.idHijos))">
                    </select>
                </div>
                <div class="form-group col-lg-6" style="display:none" id="DivNhijos">
                    <label class="control-label">Numero de hijos</label>
                    <input asp-for="Nhijos" class="form-control" />
                    <span asp-validation-for="Nhijos" class="text-danger"></span>
                </div>
            }

            <div class="form-group col-md-12">
                <label class="control-label">Numero de personas con quien vive</label>
                <input asp-for="NpersonasVive" class="form-control" />
                <span asp-validation-for="NpersonasVive" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-12">
                <label class="control-label">¿Cuenta con propiedades en otra localidad, municipio y/o en otro estado o país?</label>
                <select class="form-control" name="Propiedades"
                        asp-items="@(new SelectList(ViewBag.listaPropiedades, "Value", "Text", @ViewBag.idPropiedades))">
                </select>
            </div>
            <div class="form-group col-lg-12">
                <label asp-for="Curp" class="control-label"></label>
                <input asp-for="Curp" class="form-control" />
                <span asp-validation-for="Curp" class="text-danger"></span>
            </div>
            <div class="form-group col-md-11">
                <label class="control-label">¿Consume Sustancias?</label>
                <select class="form-control" name="ConsumoSustancias" id="consumoSustancias"
                        asp-items="@(new SelectList(ViewBag.listaConsumoSustancias, "Value","Text",@ViewBag.ConsumoSustancias))">
                </select>
            </div>
            <div class="form-group col-md-1" style="padding-top:25px;">
                <button type="button" class="btn btn-primary" style="display:none;" id="btnEditarSustancias">
                    <i class="fa fa-pencil"></i>
                    Editar
                </button>
            </div>
            <div class="form-group col-md-11">
                <label class="control-label">¿Tiene familiares?</label>
                <select class="form-control" name="Familiares" id="Familiares"
                        asp-items="@(new SelectList(ViewBag.listaFamiliares, "Value", "Text", @ViewBag.idFamiliares))">
                </select>
            </div>
            <div class="form-group col-md-1" style="padding-top:25px;">
                <button type="button" class="btn btn-primary" id="btnEditarFamiliares">
                    <i class="fa fa-pencil"></i>
                    Editar
                </button>
            </div>
            <div class="form-group col-md-11">
                <label class="control-label">¿Tiene referencias?</label>
                <select class="form-control" name="ReferenciasPersonales" id="ReferenciasPersonales"
                        asp-items="@(new SelectList(ViewBag.listaReferenciasPersonales, "Value", "Text", @ViewBag.idReferenciasPersonales))">
                </select>
            </div>
            @*<div class="form-group col-md-11">
                <label class="control-label">Ubicación del Expediente (solo Durango)</label>
                <select class="form-control" name="UbicacionExpediente" id="UbicacionExpediente"
                        asp-items="@(new SelectList(ViewBag.listaUbicacionExp, "Value", "Text", @ViewBag.idUbicacionExp))">
                </select>
            </div>*@
            <div class="form-group col-md-1" style="padding-top:25px;">
                <button type="button" class="btn btn-primary" id="btnEditarReferencias">
                    <i class="fa fa-pencil"></i>
                    Editar
                </button>
            </div>

            <div class="form-group col-lg-12">
                <label asp-for="UltimaActualización" class="control-label"></label>
                <input asp-for="UltimaActualización" class="form-control" />
                <span asp-validation-for="UltimaActualización" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-12">
                <label asp-for="Supervisor" class="control-label"></label>
                <input asp-for="Supervisor" class="form-control" />
                <span asp-validation-for="Supervisor" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Capturista" />
            <input type="hidden" asp-for="Candado" />
            <input type="hidden" asp-for="rutaFoto" />
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MenuEdicion" asp-route-id="@Model.IdPersona" class="btn btn-link">
        Regresar
    </a>
</div>

<!-- Modal Editar consumo de sustancias -->
<div class="modal fade" id="modalEditarSustancias" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#0078A7;">
                <h5 class="modal-title" style="font-size: 30px; color:#fff;">Consumo de sustancias</h5>
            </div>
            <div class="modal-body">
                <input type="hidden" name="idConsumoSustanciasE" id="idConsumoSustanciasE" value="@ViewBag.idConsumoSustancias" />
                <div>
                    <label class="control-label">Sustancia</label>
                    <select class="form-control" name="sustanciaE" id="sustanciaE"
                            asp-items="@(new SelectList(ViewBag.listaSustancia, "Value", "Text", @ViewBag.idSustancia))">
                    </select>
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label">Frecuencia de consumo</label>
                    <select class="form-control" name="frecuenciaE" id="frecuenciaE"
                            asp-items="@(new SelectList(ViewBag.listaFrecuencia, "Value", "Text", @ViewBag.idFrecuencia))">
                    </select>
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label">Cantidad</label>
                    <input class="form-control" maxlength="200" name="cantidadE" type="text" id="cantidadE" value=@ViewBag.cantidad />
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label">Último consumo</label>
                    <input required name="ultimoConsumoE" id="ultimoConsumoE" type="date" class="form-control" value=@ViewBag.ultimoConsumo?.Date.ToString("yyyy-MM-dd") />
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label" for="observaciones">Observaciones</label>
                    <textarea maxlength="250" class="form-control" rows="2" name="observacionesConsumoE" id="observacionesConsumoE" style="white-space: pre-line">@ViewBag.observaciones</textarea>
                    <small class="form-text text-muted">Poner aclaraciones de la sustancia que consume y si selecciono otra sustancia en opciones especificar la sustancia.</small>
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-danger form-group col-xs-3 col-sm-2" id="btnDeleteSustancia" name="btnDeleteSustancia">
                    <i class="fa fa-trash"></i> Borrar
                </button>
                <button type="button" class="btn btn-success" id="btnAgregarSustancia" name="btnAgregarSustancia">
                    <i class="fa fa-plus"></i>
                    Agregar
                </button>
                <button type="submit" class="btn btn-primary" id="btnSiguienteSustancia" name="btnSiguienteSustancia">
                    <i class="fa fa-arrow-right"></i>
                    Siguiente
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Agregar consumo de sustancias -->
<div class="modal fade" id="modalAgregarSustancias" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#0078A7;">
                <h5 class="modal-title" style="font-size: 30px; color:#fff;">Consumo de sustancias</h5>
            </div>
            <div class="modal-body">
                <div>
                    <label class="control-label">Sustancia</label>
                    <select class="form-control" name="sustanciaA" id="sustanciaA">
                        <option value="ALCOHOL">Alcohol</option>
                        <option value="MARIHUANA">Marihuana</option>
                        <option value="COCAINA">Cocaína</option>
                        <option value="HEROINA">Heroína</option>
                        <option value="PVC">PVC</option>
                        <option value="SOLVENTES">Solventes</option>
                        <option value="FARMACOS">Fármacos</option>
                        <option value="CEMENTO">Cemento</option>
                        <option value="CRACK">Crack</option>
                        <option value="ACIDOS">Ácidos</option>
                        <option value="TABACO">Tabaco</option>
                        <option value="METANFETAMINAS">Metanfetaminas</option>
                        <option value="OTRO">Otro</option>
                    </select>
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label">Frecuencia de consumo</label>
                    <select class="form-control" name="frecuenciaA" id="frecuenciaA">
                        <option value="DIARIO">Diario</option>
                        <option value="SEMANAL">Semanal</option>
                        <option value="QUINCENAL">Quincenal</option>
                        <option value="MENSUAL">Mensual</option>
                        <option value="BIMESTRAL">Bimestral</option>
                        <option value="TRIMESTRAL">Trimestral</option>
                        <option value="SEMESTRAL">Semestral</option>
                        <option value="ANUAL">Anual</option>
                        <option value="OCASIONALMENTE">Ocasionalmente</option>
                    </select>
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label">Cantidad</label>
                    <input class="form-control" maxlength="200" name="cantidadA" type="text" id="cantidadA" />
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label">Último consumo</label>
                    <input required name="ultimoConsumoA" id="ultimoConsumoA" type="date" class="form-control" />
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label" for="observaciones">Observaciones</label>
                    <textarea maxlength="250" class="form-control" rows="2" name="observacionesConsumoA" id="observacionesConsumoA"></textarea>
                    <small class="form-text text-muted">Poner aclaraciones de la sustancia que consume y si selecciono otra sustancia en opciones especificar la sustancia.</small>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnCloseCS">
                    <i class="fa fa-close"></i>
                    Cerrar
                </button>
                <button type="button" class="btn btn-primary" id="btnGuardarSustancia" name="btnGuardarSustancia">
                    <i class="fa fa-save"></i>
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Editar Asiento Familiar -->
<div class="modal fade" id="modalEditarAsientoFamiliar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#0078A7;">
                <h5 class="modal-title" style="font-size: 30px; color:#fff;" id="textoAFREditar"></h5>
            </div>
            <div class="modal-body">
                <input type="hidden" name="AFidAsientoFamiliarE" id="AFidAsientoFamiliarE" />
                <div class="form-group">
                    <label class="control-label">Nombre</label>
                    <input class="form-control" maxlength="150" name="AFNombreE" type="text" id="AFNombreE" value="@ViewBag.nombre" />
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Relación</label>
                    <select class="form-control" name="AFRelacionE" id="AFRelacionE"
                            asp-items="@(new SelectList(ViewBag.listaRelacion, "Value", "Text", @ViewBag.idRelacion))">
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Edad</label>
                    <input class="form-control" name="AFEdadE" type="number" id="AFEdadE" value="@ViewBag.edad" />
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Genero</label>
                    <select required class="form-control" name="AFSexoE" id="AFSexoE"
                            asp-items="@(new SelectList(ViewBag.listaSexo, "Value", "Text", @ViewBag.idSexo))">
                    </select>
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label">¿Depende en algo de él?</label>
                    <select required class="form-control" name="AFDependenciaE" id="AFDependenciaE"
                            asp-items="@(new SelectList(ViewBag.listaDependencia, "Value", "Text", @ViewBag.idDependencia))">
                    </select>
                </div>
                <div style="padding-top:1%; display:none;" id="AFDependenciaExplicaE">
                    <label class="control-label" for="AFDependenciaExplicaE">Explicar en que depende de él y cada cuanto</label>
                    <textarea maxlength="250" class="form-control" rows="2" name="AFDependenciaExplicaOE" id="AFDependenciaExplicaOE">@ViewBag.dependenciaExplica</textarea>
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label">¿Vive con él?</label>
                    <select required class="form-control" name="AFVivenJuntosE" id="AFVivenJuntosE"
                            asp-items="@(new SelectList(ViewBag.listaVivenJuntos, "Value", "Text", @ViewBag.idVivenJuntos))">
                    </select>
                </div>
                <div style="padding-top:1%; display:none;" id="AFDireccionFamiliarE">
                    <label class="control-label">Dirección</label>
                    <input class="form-control" maxlength="200" name="AFDireccionFamiliarOE" id="AFDireccionFamiliarOE" type="text" value="@ViewBag.domicilio" />
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label">Teléfono (10 dígitos)</label>
                    <input name="AFtelefonoFamiliarE" id="AFtelefonoFamiliarE" type="tel" pattern="[0-9]{10}" maxlength="10" class="form-control" value="@ViewBag.telefono" />
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label" for="AFDependenciaExplica">Días y horarios en que se encuentra</label>
                    <textarea maxlength="200" class="form-control" rows="2" name="AFLocalizacionE" id="AFLocalizacionE">@ViewBag.horarioLocalizacion</textarea>
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label">¿Enterado de su proceso penal?</label>
                    <select required class="form-control" name="AFEnteradoProcesoE" id="AFEnteradoProcesoE"
                            asp-items="@(new SelectList(ViewBag.listaEnteradoProceso, "Value", "Text", @ViewBag.idEnteradoProceso))">
                    </select>
                </div>
                <div style="padding-top:1%; display:none;" id="AFPuedeEnterarseE">
                    <label class="control-label">¿Se puede enterar?</label>
                    <select required class="form-control" name="AFPuedeEnterarseOE" id="AFPuedeEnterarseOE"
                            asp-items="@(new SelectList(ViewBag.listaPuedeEnterarse, "Value", "Text", @ViewBag.idPuedeEnterarse))">
                    </select>
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label" for="AFobservaciones">Observaciones</label>
                    <textarea maxlength="250" class="form-control" name="AFobservacionesE" id="AFobservacionesE">@ViewBag.AFobservaciones</textarea>
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-danger form-group col-xs-3 col-sm-2" id="btnDeleteFamiliar" name="btnDeleteSustancia">
                    <i class="fa fa-trash"></i> Borrar
                </button>
                <button type="button" class="btn btn-success" id="btnAgregarFamiliar" name="btnAgregarFamiliar">
                    <i class="fa fa-plus"></i>
                    Agregar
                </button>
                <button type="submit" class="btn btn-primary" id="btnSiguienteFamiliar" name="btnSiguienteFamiliar">
                    <i class="fa fa-arrow-right"></i>
                    Siguiente
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Agregar Asiento Familiar -->
<div class="modal fade" id="modalAgregarAsientoFamiliar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#0078A7;">
                <h5 class="modal-title" style="font-size: 30px; color:#fff;" id="textoAFRAgregar"></h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Nombre</label>
                    <input class="form-control" maxlength="150" name="AFNombreA" type="text" id="AFNombreA" />
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Relación</label>
                    <select class="form-control" name="AFRelacionA" id="AFRelacionA">
                        <option value="MAMA">Máma</option>
                        <option value="PAPA">Pápa</option>
                        <option value="ESPOSO (A)">Esposo(a)</option>
                        <option value="HERMANO (A)">Hermano(a)</option>
                        <option value="HIJO (A)">Hijo(a)</option>
                        <option value="ABUELO (A)">Abuelo(a)</option>
                        <option value="FAMILIAR 1 NIVEL">Familiar 1 nivel</option>
                        <option value="AMIGO">Amigo</option>
                        <option value="CONOCIDO">Conocido</option>
                        <option value="OTRO">Otro</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Edad</label>
                    <input class="form-control" value="0" name="AFEdadA" type="text" id="AFEdadA" />
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Genero</label>
                    <select required class="form-control" name="AFSexoA" id="AFSexoA">
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                        <option value="N">Prefiero no decirlo</option>
                    </select>
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label">¿Depende en algo de él?</label>
                    <select required class="form-control" name="AFDependenciaA" id="AFDependenciaA">
                        <option value="NO">No</option>
                        <option value="SI">Si</option>
                    </select>
                </div>
                <div style="padding-top:1%; display:none;" id="AFDependenciaExplicaA">
                    <label class="control-label" for="AFDependenciaExplicaA">Explicar en que depende de él y cada cuanto</label>
                    <textarea maxlength="250" class="form-control" rows="2" name="AFDependenciaExplicaOA" id="AFDependenciaExplicaOA"></textarea>
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label">¿Vive con él?</label>
                    <select required class="form-control" name="AFVivenJuntosA" id="AFVivenJuntosA">
                        <option value="SI">Si</option>
                        <option value="NO">No</option>
                    </select>
                </div>
                <div style="padding-top:1%; display:none;" id="AFDireccionFamiliarA">
                    <label class="control-label">Dirección</label>
                    <input class="form-control" maxlength="200" name="AFDireccionFamiliarOA" id="AFDireccionFamiliarOA" type="text" />
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label">Teléfono (10 dígitos)</label>
                    <input name="AFtelefonoFamiliarA" id="AFtelefonoFamiliarA" type="tel" pattern="[0-9]{10}" maxlength="10" class="form-control" />
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label" for="AFDependenciaExplica">Días y horarios en que se encuentra</label>
                    <textarea maxlength="200" class="form-control" rows="2" name="AFLocalizacionA" id="AFLocalizacionA"></textarea>
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label">¿Enterado de su proceso penal?</label>
                    <select required class="form-control" name="AFEnteradoProcesoA" id="AFEnteradoProcesoA">
                        <option value="SI">Si</option>
                        <option value="NO">No</option>
                    </select>
                </div>
                <div style="padding-top:1%; display:none;" id="AFPuedeEnterarseA">
                    <label class="control-label">¿Se puede enterar?</label>
                    <select required class="form-control" name="AFPuedeEnterarseOA" id="AFPuedeEnterarseOA">
                        <option value="NA">NA</option>
                        <option value="NO">No</option>
                        <option value="SI">Si</option>
                    </select>
                </div>
                <div style="padding-top:1%;">
                    <label class="control-label" for="AFobservaciones">Observaciones</label>
                    <textarea maxlength="250" class="form-control" rows="2" name="AFobservacionesA" id="AFobservacionesA"></textarea>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnCloseAF">
                    <i class="fa fa-close"></i>
                    Cerrar
                </button>
                <button type="button" class="btn btn-primary" id="btnGuardarFamiliar" name="btnGuardarFamiliar">
                    <i class="fa fa-save"></i>
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>