@model scorpioweb.Models.Domicilio


    <script type="text/javascript">
        var tipo = 0;
    $(document).ready(function () {
        //#region -Municipios-
        var items = "<option value='0'>Selecciona</option>";
        $('#municipioD').html(items);
        $('#estadoD').change(function () {
            var url = '@Url.Content("~/")' + "Personas/GetMunicipio";
            var ddlsource = '#estadoD';
            //alert("url: " + url + " ddlsource val: " + $(ddlsource).val());
            $.getJSON(url, { EstadoId: $(ddlsource).val() }, function (data) {
                //alert("entrando en JSON");
                var items = '';
                $("#municipioD").empty();
                $.each(data, function (i, municipio) {
                    items += "<option value='" + municipio.value + "'>" + municipio.text + "</option>";
                });
                $('#municipioD').html(items);
            });
        });
        $('#paisD').change(function () {
            var selectedCountry = $(this).children("option:selected").val();
            if (selectedCountry != "MEXICO") {
                 $("#estadoD").val(0);
                var items = "<option value='0'>Selecciona</option>";
                $('#municipioD').html(items);
                $("#municipioD").val(0);
                $("#EstadoD").css("display", "none");
                $("#MunicipioD").css("display", "none");
                $("#PaisD").removeClass("col-md-4");
                $("#PaisD").addClass("col-md-12");
            }
            else {
                $("#EstadoD").css("display", "block");
                $("#MunicipioD").css("display", "block");
                $("#PaisD").removeClass("col-md-12");
                $("#PaisD").addClass("col-md-4");
            }

        });

        //#endregion
    });
    </script>



@{
    ViewData["Title"] = "EditDomicilio";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Domicilio</h2>
<h3>@ViewData["Nombre"]</h3>




<hr />
<div class="row">
    <div class="col-lg-12">
        <form asp-action="EditDomicilio">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdDomicilio" />
            <div class="form-group col-lg-12">
                <label class="control-label">Tipo de Domicilio</label>
                <select class="form-control" name="tipoDomicilio" id="tipoDomicilio"
                        asp-items="@(new SelectList(ViewBag.listatDomicilio, "Value", "Text", @ViewBag.idtDomicilio))">
                </select>
            </div>
            <div class="form-group col-lg-5">
                <label asp-for="Calle" class="control-label"></label>
                <input asp-for="Calle" class="form-control" />
                <span asp-validation-for="Calle" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-2">
                <label asp-for="No" class="control-label"></label>
                <input asp-for="No" class="form-control" />
                <span asp-validation-for="No" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-5">
                <label class="control-label">Colonia/Fraccionamiento</label>
                <input asp-for="TipoUbicacion" class="form-control" />
                <span asp-validation-for="TipoUbicacion" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-12">
                <label class="control-label">Nombre de Colonia/Fraccionamiento</label>
                <input asp-for="NombreCf" class="form-control" />
                <span asp-validation-for="NombreCf" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4" id="PaisD">
                <label class="control-label">País</label>
                <select class="form-control" name="Pais" id="paisD"
                        asp-items="@(new SelectList(ViewBag.ListaPaisD, "Value", "Text", @ViewBag.idPaisD))">
                </select>
            </div>

            <div class="form-group col-md-4" id="EstadoD">
                <label class="control-label">Estado</label>
                <select class="form-control" name="Estado" id="estadoD"
                        asp-items="@(new SelectList(ViewBag.ListaEstadoD, "Id", "Estado", @ViewBag.idEstadoD))">
                </select>
            </div>
            <div class="form-group col-md-4" id="MunicipioD">
                <label class="control-label">Municipio</label>
                <select class="form-control" name="Municipio" id="municipioD"
                        asp-items="@(new SelectList(ViewBag.ListaMunicipio, "Id", "Municipio",  @ViewBag.idMunicipioD))">
                </select>
            </div>
            <div class="form-group col-md-4" id="Temporalidad">
                <label class="control-label">¿Cuánto tiempo ha vivido en este domicilio?</label>
                <select class="form-control" name="Temporalidad" id="Temporalidad"
                        asp-items="@(new SelectList(ViewBag.ListaTemporalidad,  "Value", "Text", @ViewBag.idTemporalidadD))">
                </select>
            </div>
            <div class="form-group col-lg-4">
                <label class="control-label">Tipo de Domicilio</label>
                <select class="form-control" name="ResidenciaHabitual" id="ResidenciaHabitual"
                        asp-items="@(new SelectList(ViewBag.listaResidenciaHabitual, "Value", "Text", @ViewBag.idResidenciaHabitual))">
                </select>
            </div>
            <div class="form-group col-lg-4">
                <label asp-for="Cp" class="control-label"></label>
                <input asp-for="Cp" class="form-control" />
                <span asp-validation-for="Cp" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-12">
                <label asp-for="Referencias" class="control-label"></label>
                <input asp-for="Referencias" class="form-control" />
                <span asp-validation-for="Referencias" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-12">
                <label asp-for="Horario" class="control-label"></label>
                <input asp-for="Horario" class="form-control" />
                <span asp-validation-for="Horario" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-12">
                <label class="control-label">¿Cuenta con domicilio secundario?</label>
                <select asp-for="DomcilioSecundario" class="form-control" name="DomcilioSecundario" id="DomcilioSecundario"
                        asp-items="@(new SelectList(ViewBag.listacuentaDomicilioSecundario, "Value", "Text", @ViewBag.idcuentaDomicilioSecundario))">
                </select>
            </div>
            <div class="form-group col-lg-12">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-12">
                <label asp-for="PersonaIdPersona" class="control-label"></label>
                <input asp-for="PersonaIdPersona" class="form-control" />
                <span asp-validation-for="PersonaIdPersona" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-12">
                <input type="submit" value="Guardar cambios" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MenuEdicion" asp-route-id="@Model.PersonaIdPersona">Regresar</a>
</div>



