
@{
    Layout = null;
}
<script type="text/javascript">
 //* Modal EditdomicilioSecundario*/
        $('#estadoEDS').change(function () {
            var url = '@Url.Content("~/")' + "Personas/GetMunicipio";
            var ddlsource = '#estadoEDS';
            //alert("url: " + url + " ddlsource val: " + $(ddlsource).val());
            $.getJSON(url, { EstadoId: $(ddlsource).val() }, function (data) {
                //alert("entrando en JSON");
                var items = '';
                $("#municipioEDS").empty();
                $.each(data, function (i, municipio) {
                    items += "<option value='" + municipio.value + "'>" + municipio.text + "</option>";
                });
                $('#municipioEDS').html(items);
            });
        });
        $('#paisEDS').change(function () {
            var p = document.getElementById("paisEDS");
            alert("js" + p);
            var selectedCountry = $(this).children("option:selected").val();
            if (selectedCountry != "MEXICO") {
                 $("#estadoEDS").val(0);
                var items = "<option value='0'>Selecciona</option>";

                $('#municipioEDS').html(items);
                $("#municipioEDS").val(0);
                $("#DivEstadoEDS").css("display", "none");
                $("#DivMunicipioEDS").css("display", "none");
                $("#DivPaisEDS").removeClass("col-md-4");
                $("DivPaisEDS").addClass("col-md-12");
            }
            else {
                $("#DivEstadoEDS").css("display", "block");
                $("#DivMunicipioEDS").css("display", "block");
                $("#DivPaisEDS").removeClass("col-md-12");
                $("#DivPaisEDS").addClass("col-md-4");
            }
        });
        //#endregion
        //*Combobox Modal AdddomicilioSecundario*/
        var items = "<option value='0'>Selecciona</option>";
            $('#MunicipioM').html(items);
        $('#EstadoM').change(function () {
            var url = '@Url.Content("~/")' + "Personas/GetMunicipioED";
            var ddlsource = '#EstadoM';
            //alert("url: " + url + " ddlsource val: " + $(ddlsource).val());
            $.getJSON(url, { EstadoId: $(ddlsource).val() }, function (data) {
                //alert("entrando en JSON");
                var items = '';
                $("#MunicipioM").empty();

                $.each(data, function (i, municipio) {
                    items += "<option value='" + municipio.value + "'>" + municipio.text + "</option>";
                });
                $('#MunicipioM').html(items);
            });
        });

        $('#PaisM').change(function () {
        var selectedCountry = $(this).children("option:selected").val();
        if (selectedCountry != "MEXICO") {
            $("#EstadoM").val(0);
            var items = "<option value='0'>Selecciona</option>";
            $('#MunicipioM').html(items);
            $("#MunicipioM").val(0);
            $("#DivEstadoM").css("display", "none");
            $("#DivMunicipioM").css("display", "none");

        }
        else {
            $('#MunicipioM').html(items);
            $("#MunicipioM").val(0);
            $("#DivEstadoM").css("display", "block");
            $("#DivMunicipioM").css("display", "block");

            }

        });
        //#endregion

        //region Guardar AdddomicilioModal
            $('#btnGuardarDomiSecu').on("click", function (e) {
                e.preventDefault();
                var IdDomicilio = document.getElementById("IdDomicilio").value;
                var td = document.getElementById("TipoDomicilioM");
                var TipoDomicilio = td.options[td.selectedIndex].value;
                //alert("json" + TipoDomicilio);
                var Calle = document.getElementById("CalleM").value;
                var No = document.getElementById("NoM").value;
                var TipoUbicacion = document.getElementById("TipoUbicacionM").value;
                var NombreCf = document.getElementById("NombreCfM").value;
                var p = document.getElementById("PaisM");
                var Pais = p.options[p.selectedIndex].value;
                var e = document.getElementById("EstadoM");
                var Estado = e.options[e.selectedIndex].value;
                var m = document.getElementById("MunicipioM");
                var Municipio = m.options[m.selectedIndex].value;
                var te = document.getElementById("TemporalidadM");
                var Temporalidad = te.options[te.selectedIndex].value;
                var rh = document.getElementById("ResidenciaHabitualM");
                var ResidenciaHabitual = rh.options[rh.selectedIndex].value;
                var Cp = document.getElementById("CpM").value;
                var Referencias = document.getElementById("ReferenciasM").value;
                var Motivo = document.getElementById("MotivoM").value;
                var Horario = document.getElementById("HorarioM").value;
                var Observaciones = document.getElementById("ObservacionesM").value;

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/Personas/CrearDomicilioSecundario",
                    traditional: true,
                    data: {
                        datosDomicilio: [IdDomicilio, TipoDomicilio, Calle, No, TipoUbicacion, NombreCf, Pais, Estado, Municipio, Temporalidad, ResidenciaHabitual, Cp, Referencias, Motivo, Horario, Observaciones],
                    },
                    success: function (response) {
                        alert("Datos Guardados con exito");
                        location.reload();
                    },
                    error: function (response) {
                        alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                        location.reload();
                    }
                });
            });
        //#endregion

</script>
<br />
@{int i = 0;}
@foreach (var item in ViewData["joinTablesDomcilioSec"] as IEnumerable<scorpioweb.Models.PersonaViewModel>)
{
    i++;
    <div class="form-group col-md-12">
        <form asp-action="EditDomSecundario">
            <div>
                <h4>Domicilio Secundario<span>@i</span> </h4>
            </div>
            <div class="form-group col-md-6">
                <input name="IdDomicilioSecundario" id="IdDomicilioSecundario" value="@item.domicilioSecundarioVM.IdDomicilioSecundario" class="form-control" readonly />
            </div>
            <div class="form-group col-lg-6">
                <input name="IdDomicilio" id="IdDomicilio" value="@item.domicilioSecundarioVM.IdDomicilio" class="form-control" readonly />
            </div>
            <div class="form-group col-lg-12">
                <label class="control-label">Tipo de Ubiacion</label>
                <select class="form-control" name="TipoDomicilio" id="tipoDomicilio"
                        asp-items="@(new SelectList(ViewBag.listatDomicilio, "Value", "Text",@item.domicilioSecundarioVM.TipoDomicilio))">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Calle</label>
                <input name="Calle" id="Calle" value=" @item.domicilioSecundarioVM.Calle" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">No</label>
                <input name="No" id="No" value="@item.domicilioSecundarioVM.No" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Tipo de  Ubicacion</label>
                <input name="TipoUbicacion" id="TipoUbicacion" value="@item.domicilioSecundarioVM.TipoUbicacion" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Nombre de Colonia/Fracionamiento</label>
                <input name="NombreCf" id="NombreCf" value="@item.domicilioSecundarioVM.NombreCf" class="form-control" />
            </div>
            <div class="form-group col-md-4" id="DivPaisEDS">
                <label class="control-label">País</label>
                <select class="form-control" name="Pais" id="paisEDS"
                        asp-items="@(new SelectList(ViewBag.ListaPaisED, "Value", "Text", @item.domicilioSecundarioVM.Pais))">
                </select>
            </div>
            <div class="form-group col-md-4" id="DivEstadoEDS">
                <label class="control-label">Estado</label>
                <select class="form-control" name="Estado" id="estadoEDS"
                        asp-items="@(new SelectList(ViewBag.ListaEstadoED, "Id", "Estado",@item.domicilioSecundarioVM.Estado))">
                </select>
            </div>
            <div class="form-group col-md-4" id="DivMunicipioEDS">
                <label class="control-label">Estado</label>
                <select class="form-control" name="Municipio" id="municipioEDS"
                        asp-items="@(new SelectList(ViewBag.ListaMunicipioED, "Id", "Municipio",@item.domicilioSecundarioVM.Municipio))">
                </select>
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Temporalidad</label>
                <select class="form-control" name="Temporalidad" id="Temporalidad"
                        asp-items="@(new SelectList(ViewBag.ListaTemporalidad, "Value", "Text",@item.domicilioSecundarioVM.Temporalidad))">
                </select>
            </div>

            <div class="form-group col-md-6">
                <label class="control-label">ResidenciaHabitual</label>
                <select class="form-control" name="ResidenciaHabitual" id="ResidenciaHabitual"
                        asp-items="@(new SelectList(ViewBag.listaResidenciaHabitual, "Value", "Text",@item.domicilioSecundarioVM.ResidenciaHabitual))">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Cp</label>
                <input name="Cp" id="Cp" value="@item.domicilioSecundarioVM.Cp" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Referencias</label>
                <input name="Referencias" id="Referencias" value="@item.domicilioSecundarioVM.Referencias" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Horario</label>
                <input name="Horario" id="Horario" value="@item.domicilioSecundarioVM.Horario" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Observaciones</label>
                <input name="Observaciones" id="Observaciones" value="@item.domicilioSecundarioVM.Observaciones" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i> Guardar
                </button>
                <button id="btnDomSecu" name="btnDomSecu" type="button" data-toggle="modal" data-target="#modalAddDomSecundario" class="btn btn-success">
                    <i class="fa fa-plus"></i> Añadir Domicilio
                </button>
                <button asp-action="DeleteConfirmedDom" asp-route-id="@item.domicilioSecundarioVM.IdDomicilioSecundario" onclick="return update();" class="btn btn-danger" type="submit">
                    <i class="fa fa-trash"></i> Borrar
                </button>
            </div>
        </form>
    </div>
    <hr width=90>
}


<!-- Modal Creacion de nuevo domicilio <i class="fa fa-arrow-right" aria-hidden="true">-->
<div class="modal fade" id="modalAddDomSecundario" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#0078A7;">
                <h5 class="modal-title" style="font-size: 30px; color:#fff;">Añadir Nuevo Domicilio Secundario</h5>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <input type="hidden" name="IdDomicilioSecundario" type="text" class="form-control" />
                </div>
                @foreach (var item in ViewData["joinTablesDomcilioSec"] as IEnumerable<scorpioweb.Models.PersonaViewModel>)
                {
            <div class="form-group">
                <label class="control-label">Id Domicilio</label>
                <input readonly name="IdDomicilio" id="IdDomicilio" class="form-control" value="@item.domicilioSecundarioVM.IdDomicilio" />
            </div>
                    break;
                }
                    

                <div class="form-group col-md-12">
                    <label class="control-label">TipoDomicilio</label>
                    <select required class="form-control" name="TipoDomicilio" id="TipoDomicilioM">
                        <option value="RENTADA">Rentada</option>
                        <option value="PRESTADA">Prestada</option>
                        <option value="PROPIA">Propia</option>
                        <option value="FAMILIAR">Familiar</option>
                        <option value="SITACION DE CALLE">Situación de calle</option>
                        <option value="IRREGULAR">Irregular</option>
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label">Calle</label>
                    <input id="CalleM" name="Calle" type="text" class="form-control" />
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label">No</label>
                    <input id="NoM" name="No" type="text" class="form-control" />
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label">TipoUbicacion</label>
                    <input id="TipoUbicacionM" name="TipoUbicacion" type="text" class="form-control" />
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label">NombreCf</label>
                    <input id="NombreCfM" name="NombreCf" type="text" class="form-control" />
                </div>
                <div class="form-group col-md-12" id="DivPaisM">
                    <label class="control-label">País</label>
                    <select class="form-control" name="Pais" id="PaisM"
                            asp-items="@(new SelectList(ViewBag.ListaPaisM, "Value", "Text"))">
                    </select>
                </div>
                <div class="form-group col-md-6" id="DivEstadoM">
                    <label class="control-label">Estado</label>
                    <select class="form-control" name="Estado" id="EstadoM"
                            asp-items="@(new SelectList(ViewBag.ListaEstadoM, "Id", "Estado"))">
                    </select>
                </div>
                <div class="form-group col-md-6" id="DivMunicipioM">
                    <label class="control-label">Minucipio</label>
                    <select class="form-control" name="Municipio" id="MunicipioM"
                            asp-items="@(new SelectList( ViewBag.ListaMunicipioM, "Id", "Municipio"))">
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label">Temporalidad</label>
                    <select required class="form-control" name="Temporalidad" id="TemporalidadM">
                        <option value="MAS DE 10 AÑOS">Más de 10 años</option>
                        <option value="ENTRE 5 Y 10 AÑOS">Entre 5 y 10 años</option>
                        <option value="ENTRE 2 Y 5 AÑOS">Entre 2 y 5 años</option>
                        <option value="ENTRE 6 MESES Y 2 AÑOS">Entre 6 meses y 2 años</option>
                        <option value="MENOS DE 6 MESES">Menos de 6 meses</option>
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label">ResidenciaHabitual</label>
                    <select required class="form-control" name="ResidenciaHabitual" id="ResidenciaHabitualM">
                        <option value="Si">Si</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label">Cp</label>
                    <input id="CpM" name="Cp" type="text" class="form-control" />
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label">Referencias</label>
                    <input id="ReferenciasM" name="Referencias" type="text" class="form-control" />
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label">Horario</label>
                    <input id="HorarioM" name="Horario" type="text" class="form-control" />
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label">Motivo</label>
                    <input id="MotivoM" name="Motivo" type="text" class="form-control" />
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label">Ovservaciones</label>
                    <input id="ObservacionesM" name="observa" type="text" class="form-control" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="btnGuardarDomiSecu" name="btnGuardarDomiSecu">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>