@model scorpioweb.Models.Estudios
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    @{
        ViewData["Title"] = "Escolaridad";
        Layout = "/Views/Shared/_Layout.cshtml";
    }

    <script type="text/javascript">
        var tipo = 0;
        $(document).ready(function () {
            $('#estudia').change(function () {
                var dat = $(this).children("option:selected").val();
                if (dat == "SI") {
                    $("#DivGradoEstudios").css("display", "block");
                    $("#DivInstitucionE").css("display", "block");
                    $("#DivHorario").css("display", "block");
                    $("#DivDireccion").css("display", "block");
                    $("#DivTelefono").css("display", "block");
                    $("#DivObservaciones").css("display", "block");
                }
                else {
                    $("#DivInstitucionE").css("display", "none");
                    $("#DivHorario").css("display", "none");
                    $("#DivDireccion").css("display", "none");
                    $("#DivTelefono").css("display", "none");
                   
                }
            });

        });
    </script>

    <h2>Escolaridad</h2>
    <h3>@ViewData["Nombre"]</h3>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="EditEscolaridad">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdEstudios" />
                <input type="hidden" asp-for="PersonaIdPersona">
                <div class="form-group col-md-3">
                    <label class="control-label">¿Actualmente estudia?</label>
                    <select class="form-control" name="Estudia" id="estudia"
                            asp-items="@(new SelectList(ViewBag.listaEstudia, "Value", "Text", @ViewBag.idEstudia))">
                    </select>
                </div>
                @if (ViewBag.estudia == "SI")
                {
                    <div class="form-group col-md-3" id="DivGradoEstudios">
                        <label class="control-label">Último grado de estudios</label>
                        <select class="form-control" name="GradoEstudios"
                                asp-items="@(new SelectList(ViewBag.listaGradoEstudios, "Value", "Text", @ViewBag.idGradoEstudios))">
                        </select>
                    </div>
                    <div class="form-group col-md-6" id="DivInstitucionE">
                        <label class="control-label">Nombre de la institución donde realiza(ó) sus estudios</label>
                        <input asp-for="InstitucionE" class="form-control" />
                        <span asp-validation-for="InstitucionE" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12" id="DivHorario">
                        <label asp-for="Horario" class="control-label"></label>
                        <input asp-for="Horario" class="form-control" />
                        <span asp-validation-for="Horario" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6" id="DivDireccion">
                        <label asp-for="Direccion" class="control-label"></label>
                        <input asp-for="Direccion" class="form-control" />
                        <span asp-validation-for="Direccion" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6" id="DivTelefono">
                        <label class="control-label">Teléfono (10 dígitos)</label>
                        <input asp-for="Telefono" type="tel" pattern="[0-9]{10}" maxlength="10" class="form-control" />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12" id="DivObservaciones">
                        <label asp-for="Observaciones" class="control-label"></label>
                        <input asp-for="Observaciones" class="form-control" />
                        <span asp-validation-for="Observaciones" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <div class="form-group col-md-3" id="DivGradoEstudios">
                        <label class="control-label">Último grado de estudios</label>
                        <select class="form-control" name="GradoEstudios"
                                asp-items="@(new SelectList(ViewBag.listaGradoEstudios, "Value", "Text", @ViewBag.idGradoEstudios))">
                        </select>
                    </div>
                    <div class="form-group col-md-6" style="display:none" id="DivInstitucionE">
                        <label class="control-label">Nombre de la institución donde realiza(ó) sus estudios</label>
                        <input asp-for="InstitucionE" class="form-control" />
                        <span asp-validation-for="InstitucionE" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12" style="display:none" id="DivHorario">
                        <label asp-for="Horario" class="control-label"></label>
                        <input asp-for="Horario" class="form-control" />
                        <span asp-validation-for="Horario" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6" style="display:none" id="DivDireccion">
                        <label asp-for="Direccion" class="control-label"></label>
                        <input asp-for="Direccion" class="form-control" />
                        <span asp-validation-for="Direccion" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6" style="display:none" id="DivTelefono">
                        <label class="control-label">Teléfono (10 dígitos)</label>
                        <input asp-for="Telefono" type="tel" pattern="[0-9]{10}" maxlength="10" class="form-control" />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12" id="DivObservaciones">
                        <label asp-for="Observaciones" class="control-label"></label>
                        <input asp-for="Observaciones" class="form-control" />
                        <span asp-validation-for="Observaciones" class="text-danger"></span>
                    </div>
                }

                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-save"></i>
                            Guardar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="MenuEdicion" asp-route-id="@Model.PersonaIdPersona" class="btn btn-link">
            Regresar
        </a>
    </div>

