@model scorpioweb.Models.Persona

<script type="text/javascript">
    var tipo = 0;
    $(document).ready(function () {
        //#region -Municipios-
        var items = "<option value='0'>Selecciona</option>";
        $('#municipioD').html(items);

        $('#lnEstado').change(function () {
            var url = '@Url.Content("~/")' + "Personas/GetMunicipio";
            var ddlsource = '#lnEstado';
            //alert("url: " + url + " ddlsource val: " + $(ddlsource).val());
            $.getJSON(url, { EstadoId: $(ddlsource).val() }, function (data) {
                //alert("entrando en JSON");
                var items = '';
                $("#lnMunicipio").empty();
                $.each(data, function (i, municipio) {
                    items += "<option value='" + municipio.value + "'>" + municipio.text + "</option>";
                });
                $('#lnMunicipio').html(items);
            });
        });

        $('#lnpais').change(function () {
            var selectedCountry = $(this).children("option:selected").val();
            if (selectedCountry != "MEXICO") {
                $("#lnEstado").val(0);
                var items = "<option value='0'>Selecciona</option>";
                $('#lnMunicipio').html(items);
                $("#lnMunicipio").val(0);
                $("#Estado").css("display", "none");
                $("#Municipio").css("display", "none");
                $("#Pais, #Localidad").removeClass("col-md-3");
                $("#Pais, #Localidad").addClass("col-md-6");
            }
            else {
                $("#Estado").css("display", "block");
                $("#Municipio").css("display", "block");
                $("#Pais, #Localidad").removeClass("col-md-6");
                $("#Pais, #Localidad").addClass("col-md-3");
            }
        });


        $('#sexo').change(function () {
            var gen = $(this).children("option:selected").val();
            if (gen == "F") {
                $("#embarazo").css("display", "block");
            }
            else {
                $("#embarazo").css("display", "none");
            }
        });
        //#endregion
    });
</script>

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Datos Generales</h2>
<h3>@Model.Paterno @Model.Materno @Model.Nombre</h3>

<hr />
<div class="row">
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPersona" />
            <div class="form-group col-md-4">
                <label asp-for="Paterno" class="control-label"></label>
                <input asp-for="Paterno" class="form-control" />
                <span asp-validation-for="Paterno" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Materno" class="control-label"></label>
                <input asp-for="Materno" class="form-control" />
                <span asp-validation-for="Materno" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Alias" class="control-label"></label>
                <input asp-for="Alias" class="form-control" />
                <span asp-validation-for="Alias" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Género</label>
                <select class="form-control" name="sexo" id="sexo"
                        asp-items="@(new SelectList(ViewBag.listaGenero, "Value", "Text", @ViewBag.idGenero))">
                </select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Edad" class="control-label"></label>
                <input asp-for="Edad" class="form-control" />
                <span asp-validation-for="Edad" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Fecha de nacimiento</label>
                <input asp-for="Fnacimiento" type="date" class="form-control" />
                <span asp-validation-for="Fnacimiento" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-3" id="Pais">
                <label class="control-label">País de nacimiento</label>
                <select class="form-control" name="Lnpais" id="lnpais"
                        asp-items="@(new SelectList(ViewBag.listaLnpais, "Value", "Text", @ViewBag.idLnpais))">
                </select>
            </div>
            <div class="form-group col-lg-3" id="Estado">
                <label class="control-label">Estado</label>
                <select class="form-control" name="lnEstado" id="lnEstado"
                        asp-items="@(new SelectList(ViewBag.ListadoEstados, "Id", "Estado", @ViewBag.idEstado))">
                </select>
            </div>
            <div class="form-group col-lg-3" id="Municipio">
                <label class="control-label">Municipio</label>
                <select class="form-control" name="lnMunicipio" id="lnMunicipio"
                        asp-items="@(new SelectList(ViewBag.ListadoMunicipios, "Id", "Municipio",  @ViewBag.idMunicipio))">
                </select>
            </div>
            <div class="form-group col-lg-3">
                <label class="control-label">Localidad de nacimiento</label>
                <input asp-for="Lnlocalidad" class="form-control" />
                <span asp-validation-for="Lnlocalidad" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-6">
                <label class="control-label">Estado Civil</label>
                <select class="form-control" name="EstadoCivil"
                        asp-items="@(new SelectList(ViewBag.listaEstadoCivil, "Value","Text",@ViewBag.idEstadoCivil))">
                </select>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="Duracion" class="control-label"></label>
                <input asp-for="Duracion" class="form-control" />
                <span asp-validation-for="Duracion" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-6">
                <label class="control-label">¿Habla otro idioma, lengua o dialecto, distinto al español?</label>
                <select class="form-control" name="OtroIdioma"
                        asp-items="@(new SelectList(ViewBag.listaOtroIdioma, "Value", "Text", @ViewBag.idOtroIdioma))">
                </select>
            </div>
            <div class="form-group col-lg-6">
                <label class="control-label">Especifque idioma</label>
                <input asp-for="EspecifiqueIdioma" class="form-control" />
                <span asp-validation-for="EspecifiqueIdioma" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label">Datos generales colonia</label>
                <input asp-for="DatosGeneralescol" class="form-control" />
                <span asp-validation-for="DatosGeneralescol" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-12">
                <label class="control-label">¿Sabe leer y escribir?</label>
                <select class="form-control" name="LeerEscribir"
                        asp-items="@(new SelectList(ViewBag.listaLeerEscribir, "Value","Text",@ViewBag.idLeerEscribir))">
                </select>
            </div>
            <div class="form-group col-lg-6">
                <label class="control-label">¿Requiere de traductor o interprete?</label>
                <select class="form-control" name="Traductor"
                        asp-items="@(new SelectList(ViewBag.listaTraductor, "Value", "Text", @ViewBag.idTraductor))">
                </select>
            </div>
            <div class="form-group col-lg-6">
                <label class="control-label">Especifque Traductor</label>
                <input asp-for="EspecifiqueTraductor" class="form-control" />
                <span asp-validation-for="EspecifiqueTraductor" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-6">
                <label class="control-label">Telefono Fijo</label>
                <input asp-for="TelefonoFijo" class="form-control"type="tel" pattern="[0-9]{10}" maxlength="10" />
                <span asp-validation-for="TelefonoFijo" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="Celular" class="control-label"></label>
                <input asp-for="Celular" class="form-control" type="tel" pattern="[0-9]{10}" maxlength="10" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-6">
                <label class="control-label">¿Tiene hijos?</label>
                <select class="form-control" name="Hijos"
                        asp-items="@(new SelectList(ViewBag.listaHijos, "Value", "Text", @ViewBag.idHijos))">
                </select>
            </div>
            <div class="form-group col-lg-6">
                <label class="control-label">Numero de hijos</label>
                <input asp-for="Nhijos" class="form-control" />
                <span asp-validation-for="Nhijos" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label">Numero de personas con quien vive</label>
                <input asp-for="NpersonasVive" class="form-control" />
                <span asp-validation-for="NpersonasVive" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-12">
                <label class="control-label">¿Cuenta con propiedades en otra localidad, municipio y/o en otro estado o país?</label>
                <select class="form-control" name="Propiedades"
                        asp-items="@(new SelectList(ViewBag.listaPropiedades, "Value", "Text", @ViewBag.idPropiedades))">
                </select>
            </div>
            <div class="form-group col-lg-12">
                <label asp-for="Curp" class="control-label"></label>
                <input asp-for="Curp" class="form-control" />
                <span asp-validation-for="Curp" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label">Consume Sustancias</label>
                <select class="form-control" name="ConsumoSustancias"
                        asp-items="@(new SelectList(ViewBag.listaConsumoSustancias, "Value","Text",@ViewBag.idConsumoSustancias))">
                </select>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label">Ultima Actualización</label>
                <input asp-for="UltimaActualización" class="form-control" />
                <span asp-validation-for="UltimaActualización" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-12">
                <label asp-for="UltimaActualización" class="control-label"></label>
                <input asp-for="UltimaActualización" class="form-control" />
                <span asp-validation-for="UltimaActualización" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-12">
                <label asp-for="Supervisor" class="control-label"></label>
                <input asp-for="Supervisor" class="form-control" />
                <span asp-validation-for="Supervisor" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <input type="submit" value="Guardar Cambios" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MenuEdicion" asp-route-id="@Model.IdPersona">Regresar</a>
</div>

