
@{
    ViewData["Title"] = "Medidas Cautelares y Suspensión Condicional del Proceso";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@{ bool adminUser = false;
    bool oficialia = false;}

@foreach (var item in ViewBag.RolesUsuario)
{
    if (item == "AdminMCSCP" || item == "Director" || item == "Administrador")
    {
        adminUser = true;
    }
    if (item == "Oficialia" || item == "Asistente")
    {
        oficialia = true;
    }
}
@* Necesario para los modales en el servidor *@
@*<script src="~/js/jquery-1.11.1.min.js"></script>*@


<script>   
    //function myFunction() {       
    //    window.open("/Personas/Contacto", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,left=3000,width=1100, height=2000");
    //    //window.open("/Personas/Contacto", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=600,left=3000,width=1100,height=700");
    //}
   

    function openFullScreenWindow() {
        const screenWidth = window.screen.availWidth;
        const screenHeight = window.screen.availHeight;

        const newWindow = window.open("/Personas/Contacto", "_blank", `fullscreen=yes,toolbar=yes,scrollbars=yes,resizable=yes,width=${screenWidth},height=${screenHeight}`);
    }
</script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

@if (ViewBag.WarningsUser > 0)
{
    <a href="/Archivo/ArchivoPrestamoDigital" class="link-archivo">
        <h3 style="text-align:right; color:blue">Tu solicitud fue atendida</h3>
    </a>
   
}
@*@if (User.IsInRole("AdminMCSCP") || User.IsInRole("SupervisorMCSCP") && User.Identity.Name.EndsWith("@dgepms.com"))
{
    <a href="/Personas/Create" class="link-archivo">
    <h3 style="text-align:left; color:lightseagreen">Proximo Supervisor: @ViewBag.sigueinteSuperviosor</h3>
    </a>
}*@

<div id="persona">

</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script>
    var cone = new
</script>


<div class="card-group" style="padding-top:2%">
  
    @if (User.IsInRole("AdminMCSCP") || User.IsInRole("Masteradmin"))
    {
        <div class="col-sm-3 col-md-3 card text-center">

            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Personas" asp-action="AsignacionSupervision">
                        <img class="card-img-top" src="~/images/asignacion.png" alt="Card image cap" style="padding-bottom:5%;" />
                        Asignación de Supervisión
                    </a>
                </h4>
                <p class="card-text">
                    Asignación de nuevas supervisiones
                </p>
            </div>
        </div>
    }

    <div class="col-sm-3 col-md-3 card text-center">
        <div class="card-body">
            <h4 class="card-title">
                <a asp-controller="Personas" asp-action="Index">
                    <img class="card-img-top" src="~/images/persona.png" alt="Card image cap" style="padding-bottom:5%;">
                    Supervisados
                </a>
            </h4>
            <p class="card-text">
                Base de datos de todos los supervisados
            </p>
        </div>
    </div>

    @if (!User.IsInRole("Asistentes"))
    {
        <div class="col-sm-3 col-md-3 card text-center">
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Causaspenales" asp-action="ListadeCausas">
                        <img class="card-img-bottom" src="~/images/cp.png" alt="Card image cap" style="padding-bottom:5%;">
                        Control de Causas Penales
                    </a>
                </h4>
                <p class="card-text">
                    Base de datos de todos los supervisados
                </p>
            </div>
        </div>
    }



    @if (!oficialia)
    {
        <div class="col-sm-3 col-md-3 card text-center">
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Supervisiones" asp-action="PersonaSupervision">
                        <img class="card-img-bottom" src="~/images/supervision.png" alt="Card image cap" style="padding-bottom:5%;">
                        Control de Supervisión
                    </a>
                </h4>
                <p class="card-text">
                    Control y seguimiento de personas supervisadas
                </p>
            </div>
        </div>
    }

    @if (User.IsInRole("ArchivoMCSCP") || User.IsInRole("Masteradmin"))
    {
        <div class="col-sm-3 col-md-3 card text-center">

            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Personas" asp-action="MenuArchivoMCySCP">
                        <img class="card-img-top" src="~/images/archive.png" alt="Card image cap" style="padding-bottom:5%;" />
                        Archivo MC y SCP
                    </a>
                </h4>
                <p class="card-text">
                    Ubicación de expedientes que se encuentran en la base
                </p>
            </div>
        </div>
    }

    @if (ViewBag.Warnings != 0)
    {
        <div class="col-sm-3 col-md-3 card text-center">
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Personas" asp-action="WarningSupervisor">
                        <img class="card-img-bottom" src="~/images/warning.png" alt="Card image cap" style="padding-bottom:5%;">
                        Alertas <span class="badge" style="background-color:red">@ViewBag.Warnings</span>
                    </a>
                </h4>
                <p class="card-text">
                    Supervisados que deben de ser revisados de manera inmediata
                </p>
            </div>
        </div>
    }


    @if (User.IsInRole("AdminMCSCP") || User.IsInRole("Masteradmin") || @ViewBag.Usuario == "ana.valles@dgepms.com" || @ViewBag.Usuario == "yoena@dgepms.com")
    {
        <div class="col-sm-3 col-md-3 card text-center">
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Personas" asp-action="Colaboraciones">
                        <img class="card-img-bottom" src="~/images/especiales.png" alt="Card image cap" style="padding-bottom:5%;">
                        Casos Especiales
                    </a>
                </h4>
                @if (User.IsInRole("AdminMCSCP") || User.IsInRole("Masteradmin"))
                {
                    <p class="card-text">
                        Resguardo Domiciliario, TTA, Colaboraciones
                    </p>
                }
                else if (@ViewBag.Usuario == "ana.valles@dgepms.com")
                {
                    <p class="card-text">
                        Resguardo Domiciliario
                    </p>
                }
                else if (@ViewBag.Usuario == "yoena@dgepms.com")
                {
                    <p class="card-text">
                        TTA
                    </p>
                }
            </div>
        </div>
    }

    @if (@ViewBag.Usuario == "esmeralda.vargas@dgepms.com")
    {
        <div class="col-sm-3 col-md-3 card text-center">
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Personas" asp-action="RazondeArchivo">
                        <img class="card-img-top" src="~/images/archive.png" alt="Card image cap" style="padding-bottom:5%;" />
                        Archivo MC y SCP
                    </a>
                </h4>
                <p class="card-text">
                    Ubicación de expedientes que se encuentran en la base
                </p>
            </div>
        </div>
        <div class="col-sm-3 col-md-3 card text-center">
            <div class="card-body">
                <h4 class="card-title">
                    <a href="http://10.6.60.216/scorpio/">
                        <img class="card-img-top" src="~/images/statistics.png" alt="Card image cap" style="padding-bottom:5%;" />
                        Estadisticas MC y SCP
                    </a>
                </h4>
                <p class="card-text">
                    Estadísticas generales del área de MC Y SCP
                </p>
            </div>
        </div>
    }
</div>
<div class="bg-light clearfix" id="seccionBotones">
    
    @if (User.IsInRole("Masteradmin") || User.IsInRole("AdminMCSCP") || User.IsInRole("SupervisorMCSCP") && User.Identity.Name.EndsWith("@dgepms.com"))
        {
            <section class="buttons" style="padding-right: 1em;">
                <a asp-controller="Calendarios" asp-action="Index" asp-route-origen="1" class="fa fa-calendar float-right" id="calendario"></a>        
            </section>
        }
    <section class="buttons" style="padding-right: 1em;">
        <a onclick="openFullScreenWindow()" class="fa fa-address-book float-right" id="agenda" title="Contactos"></a>
    </section>
    <section class="buttons" style="padding-right: 1em;">
        @if (User.IsInRole("Masteradmin") || User.IsInRole("AdminMCSCP") )
        {
            @if(ViewBag.MensajesAdmin>0){
                <a class="fa fa fa-comment float-right" asp-action="MensajesSistema" id="mensajeSistema">@ViewBag.MensajesAdmin</a>
            }
             
        } 
        else
        {
            @if(ViewBag.MensajesUsuario>0){
                <a class="fa fa fa-comment float-right" asp-action="MensajesSistema" id="mensajeSistema">@ViewBag.MensajesUsuario</a>
            }
        }
        @if (User.IsInRole("Masteradmin") || User.IsInRole("AdminLC") || User.IsInRole("AdminMCSCP") || User.IsInRole("SupervisorMCSCP") || User.IsInRole("SupervisorLC") && User.Identity.Name.EndsWith("@dgepms.com"))
        {
            <a asp-action="libronegro" class="fa fa-book float-right" style="color:black" id="libronegro" title="Libro negro"></a>
        }
    </section>
</div>

<style>
    .buttons a {
        text-decoration: none;
        font-size: 28px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;        
        color: #f1f1f1;
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
        transition: all .4s ease-in-out;
    }

    .buttons a:hover {
        transform: scale(1.2);
    }

    #agenda {
        background: #314652;
        margin-left: 20px;
    }

    #calendario {
        background: #00B812;
        margin-left: 20px;
    }

    #mensajeSistema {
        background: #0078A7;
        margin-left: 20px;
    } 
    #libronegro {
        background: #fff;
        margin-left: 20px;
    }

    #seccionBotones{
        padding-top: 1em;
        
    }

</style>



