
@{
    ViewData["Title"] = "Medidas Cautelares y Suspensión Condicional del Proceso";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@{ bool adminUser = false;
    bool oficialia = false;}

@foreach (var item in ViewBag.RolesUsuario)
{
    if (item == "AdminMCSCP" || item == "Director" || item == "Administrador")
    {
        adminUser = true;
    }
    if (item == "Oficialia" || item == "Asistente")
    {
        oficialia = true;
    }
}
@* Necesario para los modales en el servidor *@
@*<script src="~/js/jquery-1.11.1.min.js"></script>*@


<script>
    function myFunction() {
        window.open("https://10.6.60.190/Personas/Contacto", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=600,left=3000,width=900,height=400");
    //window.open("https://localhost:44359/Personas/Contacto", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=600,left=3000,width=1100,height=700");

    }
</script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card-group" style="padding-top:2%">

    @if (User.IsInRole("AdminMCSCP") || User.IsInRole("Masteradmin"))
    {
        <div class="col-sm-3 col-md-3 card text-center">

            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Personas" asp-action="AsignacionSupervision">
                        <img class="card-img-top" src="~/images/asignacion.png" alt="Card image cap" style="padding-bottom:5%;" />
                        Asignación de Supervisión
                    </a>
                </h4>
                <p class="card-text">
                    Asignación de nuevas supervisiones
                </p>
            </div>
        </div>
    }
    <div class="col-sm-3 col-md-3 card text-center">
        <div class="card-body">
            <h4 class="card-title">
                <a asp-controller="Personas" asp-action="Index">
                    <img class="card-img-top" src="~/images/persona.png" alt="Card image cap" style="padding-bottom:5%;">
                    Supervisados
                </a>
            </h4>
            <p class="card-text">
                Base de datos de todos los supervisados
            </p>
        </div>
    </div>

    @if (!User.IsInRole("Asistentes"))
    {
        <div class="col-sm-3 col-md-3 card text-center">
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Causaspenales" asp-action="ListadeCausas">
                        <img class="card-img-bottom" src="~/images/cp.png" alt="Card image cap" style="padding-bottom:5%;">
                        Control de Causas Penales
                    </a>
                </h4>
                <p class="card-text">
                    Base de datos de todos los supervisados
                </p>
            </div>
        </div>
    }



    @if (!oficialia)
    {
        <div class="col-sm-3 col-md-3 card text-center">
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Supervisiones" asp-action="PersonaSupervision">
                        <img class="card-img-bottom" src="~/images/supervision.png" alt="Card image cap" style="padding-bottom:5%;">
                        Control de Supervisión
                    </a>
                </h4>
                <p class="card-text">
                    Control y seguimiento de personas supervisadas
                </p>
            </div>
        </div>
    }

    @if (User.IsInRole("ArchivoMCSCP") || User.IsInRole("Masteradmin"))
    {
        <div class="col-sm-3 col-md-3 card text-center">

            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Personas" asp-action="MenuArchivoMCySCP">
                        <img class="card-img-top" src="~/images/archive.png" alt="Card image cap" style="padding-bottom:5%;" />
                        Archivo MC y SCP
                    </a>
                </h4>
                <p class="card-text">
                    Ubicación de expedientes que se encuentran en la base
                </p>
            </div>
        </div>
    }

    @if (ViewBag.Warnings != 0)
    {
        <div class="col-sm-3 col-md-3 card text-center">
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Personas" asp-action="WarningSupervisor">
                        <img class="card-img-bottom" src="~/images/warning.png" alt="Card image cap" style="padding-bottom:5%;">
                        Alertas <span class="badge" style="background-color:red">@ViewBag.Warnings</span>
                    </a>
                </h4>
                <p class="card-text">
                    Supervisados que deben de ser revisados de manera inmediata
                </p>
            </div>
        </div>
    }


    @if (User.IsInRole("AdminMCSCP") || User.IsInRole("Masteradmin"))
    {
        <div class="col-sm-3 col-md-3 card text-center">
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Personas" asp-action="Colaboraciones">
                        <img class="card-img-bottom" src="~/images/especiales.png" alt="Card image cap" style="padding-bottom:5%;">
                        Casos Especiales
                    </a>
                </h4>
                <p class="card-text">
                    Resguardo Domiciliario, TTA, Colaboraciones
                </p>
            </div>
        </div>
    }

    @if (@ViewBag.Usuario == "esmeralda.vargas@dgepms.com" | @ViewBag.Usuario == "claudia.armendariz@dgepms.com")
    {
        <div class="col-sm-3 col-md-3 card text-center">
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Personas" asp-action="RazondeArchivo">
                        <img class="card-img-top" src="~/images/archive.png" alt="Card image cap" style="padding-bottom:5%;" />
                        Archivo MC y SCP
                    </a>
                </h4>
                <p class="card-text">
                    Ubicación de expedientes que se encuentran en la base
                </p>
            </div>
        </div>
    }
</div>
<div class="bg-light clearfix" id="seccionBotones">
    <section class="buttons" style="padding-right: 1em;">
        <a asp-controller="Calendarios" asp-action="Index" class="fa fa-calendar float-right" id="calendario"></a>        
    </section>
    <section class="buttons" style="padding-right: 1em;">
        <a onclick="myFunction()" class="fa fa-address-book float-right" id="agenda"></a>        
    </section>
    <section class="buttons" style="padding-right: 1em;">
        @if(User.IsInRole("Masteradmin") || User.IsInRole("AdminMCSCP"))
        {
            @if(ViewBag.MensajesAdmin>0){
                <a class="fa fa fa-comment float-right" asp-action="MensajesSistema" id="mensajeSistema">@ViewBag.MensajesAdmin</a>
            }            
        }
        else
        {
            @if(ViewBag.MensajesUsuario>0){
                <a class="fa fa fa-comment float-right" asp-action="MensajesSistema" id="mensajeSistema">@ViewBag.MensajesUsuario</a>
            }            
        }

    </section>
</div>

<style>
    .buttons a {
        text-decoration: none;
        font-size: 28px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;        
        color: #f1f1f1;
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
        transition: all .4s ease-in-out;
    }

    .buttons a:hover {
        transform: scale(1.2);
    }

    #agenda {
        background: #314652;
    }

    #calendario {
        background: #00B812;
    }

    #mensajeSistema {
        background: #0078A7;
    }

    #seccionBotones{
        padding-top: 1em;
    }



</style>



