@model IEnumerable<scorpioweb.Models.PresentacionPeriodicaPersona>

    @{
    ViewData["Title"] = "Presentaciones Periodicas";
    Layout = "/Views/Shared/_Layout.cshtml";
    }

<script>
    $(document).ready(function () {
        var invitado = @Html.Raw(Json.Serialize(ViewBag.Invitado));

        if (invitado === true) {
            $('#BotonGuardar').hide(); // Using jQuery to hide the button
            $('#ComentarioFirma').prop('readOnly', true); // Using jQuery to set textarea as read-only
        }
    });
</script>



        @foreach (var item in ViewData["joinTablasPresentacion"] as IEnumerable<scorpioweb.Models.PresentacionPeriodicaPersona>)
            {
            <h2>Nombre: @Html.DisplayFor(modelItem => item.personaVM.NombreCompleto) </h2>
            break;
        }

        <table class="table">
            <thead>
                <th>
                    Presentación Periódica
                </th>

                <th>
                    Comentario
                </th>
            </thead>
            <tbody>
                @foreach (var item2 in ViewData["joinTablasPresentacion"] as IEnumerable<scorpioweb.Models.PresentacionPeriodicaPersona>)
                {
                <tr>
                    <form asp-action="EditComentario" style="font-size:10px">   
                        <input name="IdPersona" id="IdPersona" readonly style="display:none" value="@item2.personaVM.IdPersona" />
                        <input name="FechaFirma" id="FechaFirma" readonly style="display:none" value="@item2.presentacionperiodicaVM.FechaFirma" />
                        <input name="RegistroidHuella" id="RegistroidHuella" readonly style="display:none" value="@item2.presentacionperiodicaVM.RegistroidHuella" />
                        <input name="IdpresentacionPeriodica" id="IdpresentacionPeriodica" readonly style="display:none" value="@item2.presentacionperiodicaVM.IdpresentacionPeriodica" />
                        <td>
                            @if (item2.presentacionperiodicaVM.FechaFirma != null)
                            {
                                @(item2.presentacionperiodicaVM.FechaFirma.Value.ToString("dd MMMM yyyy HH:mm"))
                            }
                        </td>
                        <td>
                            <div class="form-group">
                                <textarea class="form-control" name="ComentarioFirma" id="ComentarioFirma" rows="3" style="width:800px;">@item2.presentacionperiodicaVM.ComentarioFirma</textarea>
                            </div>
                            
                            <td>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" id="BotonGuardar">
                                    <i class="fa fa-save"></i>
                                    Guardar
                                </button>
                            </div>
                            </td>
                        </td>
                    </form>
                </tr>
            }
            </tbody>
        </table>
        @foreach (var item in ViewData["joinTablasPresentacion"] as IEnumerable<scorpioweb.Models.PresentacionPeriodicaPersona>)
        {
            <div class="form-group">
                <a type="button" title="Imprimir" asp-controller="Api" asp-action="ImprimirPP" asp-route-id="@item.personaVM.IdPersona">
                    <i class="btn btn-info fa fa-print"> Imprimir</i>
                </a>
            </div>
            break;
        }
        <a asp-action="Index" class="btn btn-link">
            Regresar al listado completo
        </a>
