@*@model IEnumerable<scorpioweb.Models.SupervisionPyCP>*@

@{
    ViewData["Title"] = "Procesos";
    Layout = "/Views/Shared/_Layout.cshtml";
}


@foreach (var item in  ViewData["joinTbalasProceso1"] as IEnumerable<scorpioweb.Models.Procesos>)
{
    <h3>Nombre: @Html.DisplayFor(modelItem => item.personaVM.NombreCompleto) </h3>
        break;
}
 
<table class="table">
    <thead>
        <tr>
            <th>Causa Penal</th>
            <th>Figura Judicial</th>
            <th>Periodicidad de firma</th>
            <th>Fecha de ultimo Contacto</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewData["joinTbalasProceso1"] as IEnumerable<scorpioweb.Models.Procesos>)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.causapenalVM.CausaPenal)
                </th>
                @if(item.fraccionesimpuestasVM == null)
                {
                    <td>
                        NA
                    </td>
                }
                else
                {
                  <td>
                    @Html.DisplayFor(modelItem => item.fraccionesimpuestasVM.FiguraJudicial) 
                </td>
                }
                @if(item.planeacionestrategicaVM == null)
                {
                    <td>
                        NA
                    </td>
                    <td>
                        NA
                    </td>
                }
                else
                {
                   <td>
                        @Html.DisplayFor(modelItem => item.planeacionestrategicaVM.PeriodicidadFirma)
                   </td>
                   <td>
                        @Html.DisplayFor(modelItem => item.planeacionestrategicaVM.FechaUltimoContacto)
                   </td> 
                }
                
                
                
                <td>
                    <a class="btn btn-primary" asp-controller="Supervisiones" asp-action="Supervision" asp-route-id="@item.supervisionVM.IdSupervision">
                        <i class="fa fa-cog"></i>
                        Supervisión
                    </a>
                </td>
            </tr>
        }

    </tbody>
</table>
<a asp-action="Index" class="btn btn-link">
    Regresar al listado completo
</a>