@model IEnumerable<scorpioweb.Models.ReinsercionVM>

@{
    ViewData["Title"] = "Ejes de Reincercion";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@{
    var ejesReinsercion = ViewData["EjesReinsercion"] as IEnumerable<scorpioweb.Models.ReinsercionVM>;
}

<style>
    .TituloPrincipal {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 40rem;
        width: 100%;
        max-width: fit-content;
        margin-inline: auto;
        position: relative;
        top: 5px;
    }

        .TituloPrincipal h1 {
            text-align: center;
            margin-bottom: 1rem;
        }

        .TituloPrincipal .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        .TituloPrincipal button {
            position: absolute;
            bottom: 15px;
            right: 0;
            padding: 10px 16px;
        }

    .separar {
        margin-top: 10px;
    }
    /* Estilos personalizados */
    .custom-success {
        background-color: #44BBA4;
        color: #000;
    }

        .custom-success th, .custom-success td {
            border-color: #44BBA4;
        }

    * {
        box-sizing: border-box;
    }

    body {
        font: 16px Arial;
    }

    /*the container must be positioned relative:*/
    .autocomplete {
        position: relative;
        display: inline-block;
    }

    input {
        border: 2px solid #f2f2f2;
        border-radius: 5px;
        padding: 10px;
        font-size: 16px;
    }

        input[type=text] {
            width: 100%;
        }

        input[type=submit] {
            background-color: DodgerBlue;
            color: #f2f2f2;
            cursor: pointer;
        }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
    }

        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

            /*when hovering an item:*/
            .autocomplete-items div:hover {
                background-color: #e9e9e9;
            }

    /*when navigating through the items using the arrow keys:*/
    .autocomplete-active {
        background-color: DodgerBlue !important;
        color: #f2f2f2;
    }


    .my-toast {
        font-size: 35px;
    }

    .my-toast-content {
        padding: 40px;
    }

    .swal2-popup {
        font-size: 1.6rem;
        max-width: 800px;
    }

</style>


<script>
    function retraso(url, delay) {
        setTimeout(function () {
            window.location.href = url;
        }, delay);
    }
    //region Borrar EjeReinsercion
    function BorrarGeneral(id) {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: "btn btn-success",
                cancelButton: "btn btn-danger"
            },
            buttonsStyling: false
        });
        swalWithBootstrapButtons.fire({
            title: "Estas seguro de borrar?",
            text: "Los cambios no se podran revertir",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Si, borrar!",
            cancelButtonText: "No, cancelar!",
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                BorrarEje(id)
            } else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {
                swalWithBootstrapButtons.fire({
                    title: "Cancelado",
                    text: "Uff! Cancelado con exito  :)",
                    icon: "error"
                });
            }
        });
    }

    function BorrarEje(id) {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Reinsercion/BorrarEje",
            traditional: true,
            data: {
                id
            },
            success: function (response) {
                if (response.borrar == true) {
                    Swal.fire({
                        title: "Borrado!",
                        text: "Tu registro ha sido borrado",
                        icon: "success"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            retraso(response.viewUrl, 70);
                        } else {
                            retraso(response.viewUrl, 70);
                        }
                    });
                } else {
                    Swal.fire({
                        title: "Error al Borrar",
                        text: "Contacte con el administrador del sistema:\n" + response.message,
                        icon: "error"
                    });

                    //alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema" + response.error);
                }
            },
            error: function (response) {
                alert(response.error);

            }
        });
    }
    //Endregion Borrar EjeReinsercion

    //Region Editar Ejes
    function EditEjes(idEje, name, valor) {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Reinsercion/EditEjes",
            traditional: true,
            data: {
                idEje: idEje,
                Campo: name,
                Valor: valor
            },
            success: function (response) {
                const Toast = Swal.mixin({
                    toast: true,
                    position: "top-end",
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.onmouseenter = Swal.stopTimer;
                        toast.onmouseleave = Swal.resumeTimer;
                    }
                });
                Toast.fire({
                    icon: "success",
                    title: "Datos guardados con exito",

                });

            },
            error: function (response) {
                console.error('Error al editar', response);
                location.reload();
            }
        });
    }
    //Endregion

    //Region Guardar EjeReinsercion
    function GuardarEje() {
        var ejesSelect = new Array;
        ejesSelect.push(document.getElementById("ejesSelect").value);
        var ejesLugar = document.getElementById("ejesLugar").value;
        var ejesObs = document.getElementById("ejesObs").value;
        var idReinsercion = document.getElementById('IdReinsercion').value;
        var estado = 'ACTIVO';
        var datosFichaCanalizacion = { TipoCanalizacion: 'EJESREINSERCION', idReinsercion: idReinsercion, datos: null };
        datosFichaCanalizacion.datos = {
            EjesSeleccionados: ejesSelect,
            EspecificarOtroEje: "",
            Observaciones: ejesObs,
            Lugar: ejesLugar,
            Estado: estado,
            FechaCanalizacion: new Date()
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            async: true,
            url: "/Reinsercion/CrearFichaCanalizacion",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(datosFichaCanalizacion),
            success: function (response) {
                if (response.success == true) {
                    Swal.fire({
                        title: "Guardado",
                        text: "Tu registro se ha guardado",
                        icon: "success"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            retraso(response.viewUrl, 70);
                        } else {
                            retraso(response.viewUrl, 70);
                        }
                    });
                } else {
                    Swal.fire({
                        title: "Error al Borrar",
                        text: "Contacte con el administrador del sistema " + response.error,
                        icon: "error"
                    });

                    //alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema" + response.error);
                }
            },
            error: function (response) {
                alert(response.error);

            }
        });
    }



    //Endregion Guardar EjeReinsercion
    $(document).ready(function () {
        function autocomplete(inp, arr) {
            var currentFocus;
            inp.addEventListener("input", function (e) {
                var a, b, i, val = this.value;
                closeAllLists();
                if (!val) { return false; }
                currentFocus = -1;
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                this.parentNode.appendChild(a);
                for (i = 0; i < arr.length; i++) {
                    if (arr[i].toUpperCase().includes(val.toUpperCase())) {
                        b = document.createElement("DIV");
                        b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                        b.innerHTML += arr[i].substr(val.length);
                        b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>"; b.addEventListener("click", function (e) {
                            inp.value = this.getElementsByTagName("input")[0].value;

                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                }
            });

            inp.addEventListener("keydown", function (e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {

                    currentFocus++;

                    addActive(x);
                } else if (e.keyCode == 38) { //up

                    currentFocus--;

                    addActive(x);
                } else if (e.keyCode == 13) {

                    e.preventDefault();
                    if (currentFocus > -1) {

                        if (x) x[currentFocus].click();
                    }
                }
            });
            function addActive(x) {

                if (!x) return false;

                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);

                x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {

                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                }
            }
            function closeAllLists(elmnt) {
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }

        //https://stackoverflow.com/questions/50056518/ijsonhelper-does-not-contain-a-definition-for-encode
        var ejes = JSON.parse('@Html.Raw(Json.Serialize(@ViewBag.listaEjes))');
        autocomplete(document.getElementById("ejesSelect"), ejes);
        var lugar = JSON.parse('@Html.Raw(Json.Serialize(@ViewBag.listaLugar))');
        autocomplete(document.getElementById("ejesLugar"), lugar);

    });

    const ListaDinamicaEstados = {
        "TERAPIA": ["ACTIVO", "ALTA(CONCLUIDO)", "BAJA", "ESPERA", "TERMINO"],
        "JORNADA": ["ACTIVO", "CANCELADO", "CONCLUIDO", "CUMPLIO", "EN ESPERA"],
        "EDUCATIVA": ["ACTIVO", "CANCELADO", "CERTIFICADO", "EN ESPERA"],
        "LABORAL": ["ACTIVO", "CANCELADO", "CONCLUIDO", "CONTRATADO", "EN ESPERA"],
        "EXTRAORDINARIOS": ["ACTIVO", "CANCELADO", "CONCLUIDO", "EN ESPERA", "SATISFACTORIO"],
        "ANTIDOPING": ["CONCLUIDO", "EN TRÁMITE", "NO REALIZADO"],
    };

    function obtenerListaEstados(tipo) {

        const listaEstados = ListaDinamicaEstados[tipo];

        // Si el tipo existe, devolver la lista de estados correspondientes
        if (listaEstados) {
            return listaEstados;
        } else {
            // Si el tipo no existe, devolver las opciones "VIGENTE" y "CONCLUIDO"
            return ["VIGENTE", "CONCLUIDO"];
        }

        //return ListaDinamicaEstados[tipo] || [];
    }
</script>


@{
    var id = 0;
}

<body>
    <h1 style="text-align:center" class="blockquote text-center">Ejes de Reincercion</h1>
    <div style="margin-block:30px">
        <div style="text-align:right;">
            <button type="button" style="margin-top:6px;" class="btn btn-primary fa fa-plus" title="Add Ejes de Reincercion" data-toggle="modal" data-target="#form-modal">Add Ejes de Reincercion
        </div>
    </div>
    @*<select id="Estado_130" name="miSelect"></select>*@
    <input readonly style="display:none" name="IdReinsercion" id="IdReinsercion" type="text" class="form-control" value="@ViewBag.idReinsercion" />
    <form asp-action="Create" enctype="multipart/form-data" id="form">
        <div class="container sub-page form">
            <div class="container">
                @foreach (var item in ejesReinsercion)
                {
                    var panelId = "collapse" + item.ejesreinsercionVM.IdejesReinsercion; // ID único para cada panel colapsable
                    var estadoSelectId = "Estado_" + item.ejesreinsercionVM.IdejesReinsercion; // ID único para el select de estados
                    var idEjes = item.ejesreinsercionVM.IdejesReinsercion;

                    <div class="panel-group">
                        <div id="datosSalud" class="panel panel panel-primary" style="border-color:#000;">
                            <div style="color:#000; background-color:#44BBA4; text-align:right; padding-right:30px; padding-top:10px">
                                <a class="button fa fa-trash" style="font-size:30px;color:black" onclick="BorrarGeneral(@item.ejesreinsercionVM.IdejesReinsercion)" title="Borrar Servicio de Reinsercion"></a>
                            </div>
                            <div class="panel-heading" style="color:#000; background-color:#44BBA4; border-color:#44BBA4;" data-toggle="collapse" href="#@panelId" onclick="mostrar">
                                <h4 class="panel-title">
                                    <p id="tipo" name="tipo" text style="margin-bottom:unset; text-align:center">@item.ejesreinsercionVM.Tipo</p>
                                </h4>
                            </div>

                            <div id="@panelId" class="panel-collapse collapse" style="padding-top:1%;">
                                <table class="table table-hover">
                                    <thead>
                                        <tr style="color:#000">
                                            <th>Fecha de Canalizacion</th>
                                            <th>Lugar</th>
                                            <th>Estado</th>
                                            <th>Observaciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input onchange="EditEjes(@item.ejesreinsercionVM.IdejesReinsercion,name, value)" style="font-size: 15px" name="FechaCanalizacion" id="FechaCanalizacion" class="form-control" asp-for="@item.ejesreinsercionVM.FechaCanalizacion" asp-format="{0:yyyy-MM-ddTHH:mm}" /></td>
                                            <td>
                                                <select onchange="EditEjes(@item.ejesreinsercionVM.IdejesReinsercion, name, value)" class="form-control" name="Lugar" id="Lugar" style="font-size: 15px"
                                                        asp-items="@(new SelectList(ViewBag.listaLugar, item.ejesreinsercionVM.Lugar))">
                                                </select>
                                            </td>
                                            <td>
                                                <select onchange="EditEjes(@item.ejesreinsercionVM.IdejesReinsercion, name, value)" class="form-control" name="Estado" id="@estadoSelectId" style="font-size: 15px">
                                                    <option selected>@item.ejesreinsercionVM.Estado</option>
                                                </select>
                                            </td>
                                            <td><input onchange="EditEjes(@item.ejesreinsercionVM.IdejesReinsercion, name, value)" type="text" class="form-control" name="Observaciones" value="@item.ejesreinsercionVM.Observaciones" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table style="margin-top:2rem;" class="table table-bordered mi-tabla-bordes">
                                    <thead>
                                        <tr>
                                            <th colspan="6" style="text-align: center; font-weight: 700; background-color:#d8e4f2;;">
                                                <div class="TituloPrincipal">
                                                    <div class="header">
                                                        <h3>Monitoreos</h3>
                                                        <button class="btn btn-primary" type="button"
                                                                onclick="abrirModalMonitoreo(@item.ejesreinsercionVM.IdejesReinsercion)">
                                                            <i class="fa fa-plus"></i> Añadir monitoreo
                                                        </button>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>Id Monitoreo</th>
                                            <th>Comentario</th>
                                            <th>Fecha</th>
                                            <th>Metodo verificacion</th>
                                            <th>idEjesReinsercion</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ejesReinsercion.SelectMany(m => m.Monitoreos).Any(mon => mon.IdEjeReinsercion == idEjes))
                                        {
                                            @foreach (var monitoreo in ejesReinsercion.Where(m => m.Monitoreos.Any(mon => mon.IdEjeReinsercion == idEjes)).SelectMany(m => m.Monitoreos))
                                            {
                                                <tr>
                                                    <td>@monitoreo.Idmonitoreo</td>
                                                    <td>@monitoreo.Comentario</td>
                                                    <td>@monitoreo.Fecha</td>
                                                    <td>@monitoreo.MetodoVerificacion</td>
                                                    <td>@monitoreo.IdEjeReinsercion</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr style="background-color:#db635a;;">
                                                <td></td>
                                                <td>Sin monitoreos</td>
                                                <td>Sin monitoreos</td>
                                                <td>Sin monitoreos</td>
                                                <td>Sin monitoreos</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <script type="text/javascript">
                        $(document).ready(function () {
                            const tipo = "@item.ejesreinsercionVM.Tipo";
                            const listaEstados = obtenerListaEstados(tipo);
                            const selectId = "@estadoSelectId"; @*// Usamos el ID único generado*@
                                                                                if (listaEstados.length != 0) {
                                console.log(listaEstados);
                                agregarEstadosASelect(selectId, listaEstados);
                            }
                        });
                    </script>
                }
            </div>
        </div>
    </form>
</body>

<div style="margin-top:20px">
    <a asp-action="Menusupervision" asp-controller="Reinsercion" asp-route-id="@id">Regresar a Menu</a>
</div>

@****************ZONA DE MODAL***************@
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="overflow-y: scroll; background-color: rgba(0, 0, 0, 0.5)" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#000;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-close"></i>
                </button>
                <h5 class="modal-title" style="font-size: 30px; color:#fff;">Agregar Servicio de Reinserción</h5>
            </div>
            <div class="modal-body">
                <div class="col-md-12 separar autocomplete">
                    <label class="control-label">Tipo de Eje</label>
                    <input required name="ejesSelect" id="ejesSelect" type="text" class="form-control" />
                </div>
                <div class="col-md-12 separar autocomplete">
                    <label class="control-label">Lugar</label>
                    <input required name="ejesLugar" id="ejesLugar" type="text" class="form-control" />
                </div>
                <div class="col-md-12 separar">
                    <label class="control-label">Observaciones </label>
                    <input required name="ejesObs" id="ejesObs" type="text" class="form-control" />
                </div>

                <div class="col-md-12 separar">
                    <button onclick="GuardarEje()" class="btn btn-primary fa fa-save"> Guardar</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal monitoreo -->
<div class="modal fade" id="ModalMonitoreo" tabindex="-1" role="dialog" aria-labelledby="ModalMonitoreo" style="overflow-y: scroll; background-color: rgba(0, 0, 0, 0.5)" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#0078A7;">
                <h5 class="modal-title" id="exampleModalLabel" style="font-size: 30px; color:#fff;">Añadir Monitoreo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <input type="text" style="display:none;"  id="idEjeModalMonitoreo" />
            </div>
            <div class="modal-body">
                <div class="form-group col-md-6">
                    <label class="control-label">Comentario:</label>
                    <input required placeholder="Escribe aqui" type="text" oninput="this.value = this.value.toUpperCase()" id="ComentarioMonitoreo" class="form-control" />
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">Metodo de verificacion:</label>
                    <input required placeholder="Escribe aqui" type="text" oninput="this.value = this.value.toUpperCase()" id="MetodoVerificacionMonitoreo" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" onclick="GuardarMonitoreo()" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<script>
    function agregarEstadosASelect(selectId, listaEstados) {
        var select = document.getElementById(selectId); // Selecciona el select por su ID único
        listaEstados.forEach(estado => {
            const option = document.createElement('option');
            option.value = estado;
            option.textContent = estado;
            select.appendChild(option);
        });
    }

    function abrirModalMonitoreo(idEjes) {

        $('#idEjeModalMonitoreo').val(idEjes);
        $('#ModalMonitoreo').modal('show');


    }

    function GuardarMonitoreo() {

        var datosMonitoreo = {
            Comentario: $('#ComentarioMonitoreo').val(),
            Fecha: new Date(),
            MetodoVerificacion: $('#MetodoVerificacionMonitoreo').val(),
            IdEjeReinsercion: $('#idEjeModalMonitoreo').val()
        };

        var idJornada = $('#idEjeModalMonitoreo').val();


        $.ajax({
            url: '/Reinsercion/CrearMonitoreo',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(datosMonitoreo),
            success: function (response) {
                console.log("Response received:", response);
                if (response.success) {
                    $('#ModalMonitoreo').modal('toggle');
                    Swal.fire({
                        icon: 'success',
                        title: response.message,
                        showConfirmButton: false,
                        timer: 1300,
                        customClass: {
                            popup: 'swal2-popup'
                        }
                    }).then(() => {
                        location.reload();
                    });

                } else {
                    $('#ModalMonitoreo').modal('toggle');
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Comuníquese con el administrador del sistema.Error: ' + response.message,
                        customClass: {
                            popup: 'swal2-popup'
                        }
                    });
                }
            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
                var errorMessage = "Error al procesar la solicitud.";

                // Verificar si hay un mensaje de error específico en la respuesta JSON
                if (xhr.responseJSON && xhr.responseJSON.message) {
                    errorMessage = xhr.responseJSON.message;
                }
                Swal.fire({
                    icon: "error",
                    title: "ERROR",
                    text: "Hubo un problema al procesar la solicitud. Comuníquese con el administrador del sistema.",
                    footer: errorMessage,
                    customClass: {
                        popup: 'my-custom-popup',
                        content: 'my-custom-content'
                    }
                });
            }
        });
    }


</script>