<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/FichaCanalizacion.css">
    <link rel="stylesheet" href="~/css/sweetalert2.css">
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <input id="IdReinsercion" style="display:none;" value="@ViewBag.idReinsercion" />
    <h1>Proceso de Canalizacion</h1>
    <br>
    <div class="process-wrapper">
        <div id="progress-bar-container">
            <ul id="ProgresionPasos">
                <li class="step01 active">
                    <div class="step-inner">Tipo de canalizacion</div>
                </li>
            </ul>
            <div id="line">
                <div id="line-progress"></div>
            </div>
        </div>
        <div id="progress-content-section">
            <div class="section-content tipoCanalizacion active">
                <div class="ContenidoPrincipalTarjeta">
                    <h2>Seleccione el tipo de canalizacion</h2>
                    <div class="form-group">
                        <select class="form-control" id="selectTipoCanalizacion">
                            <option selected disabled>Selecciona una opción</option>
                            <option value="TERAPIA">Terapia</option>
                            <option value="EJESREINSERCION">Ejes de reinsercion</option>
                        </select>
                    </div>
                </div>

                <div class="divBotones" id="divBotonPaso1">
                    <button id="btnSiguientePrimeraFicha" class="step botonSiguiente fa fa-arrow-right">  Siguiente</button>
                </div>
            </div>

            @*EJES DE REINSERCION*@
            <div class="section-content EjesPaso2">
                <h2>Seleccione el tipo de servicio</h2>
                <div class="ContenidoPrincipalTarjeta">
                    <div class="divCheckBoxesEjes">
                        <label class="labelCheckbox">
                            Laboral
                            <input type="checkbox" id="CheckboxLaboral" value="LABORAL">
                            <span class="checkmark"></span>
                        </label>
                        <label class="labelCheckbox">
                            Educativa
                            <input type="checkbox" id="CheckboxEducativa" value="EDUCATIVA">
                            <span class="checkmark"></span>
                        </label>

                        <label class="labelCheckbox">
                            Antidoping
                            <input type="checkbox" id="CheckboxAntidoping" value="ANTIDOPING">
                            <span class="checkmark"></span>
                        </label>
                        <label class="labelCheckbox">
                            Otros
                            <input type="checkbox" id="CheckboxOtroEje" value="OTRO">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div id="divInputOtroEje">
                        <span class="input-group-text" style="font-weight:bold;">Especifique el tipo de servicio: </span>
                        <input id="InputOtroEje" type="text" class="form-control">
                    </div>
                    <div id="divInputObsevarciones" class="form-group">
                        <label class="control-label">Observaciones</label>
                        <input required id="InputObservacionesEjes" type="text" placeholder="Sin observaciones" class="form-control" />
                    </div>
                </div>
                <div class="divBotones">
                    <button class="step botonVolver fa fa-arrow-left" data-value3=".step01" data-value2=".tipoCanalizacion" data-value="0%">   Volver</button>
                    <button id="btnFinalizarEjes" class="step botonFinalizar fa fa-check">  Finalizar ficha</button>
                </div>
            </div>


            @*TERAPIA*@

            <div class="section-content TerapiaPaso2">
                <div class="ContenidoPrincipalTarjeta">
                    <h2>Seleccione el tipo de terapia</h2>
                    <div class="divCheckBoxesTerapia">
                        <label class="labelCheckbox">
                            Violencia
                            <input type="checkbox" id="CheckboxViolencia" value="VIOLENCIA">
                            <span class="checkmark"></span>
                        </label>
                        <label class="labelCheckbox">
                            Adicciones
                            <input type="checkbox" id="CheckboxAdiciones" value="ADICCIONES">
                            <span class="checkmark"></span>
                        </label>

                        <label class="labelCheckbox">
                            Vivir sin golpes
                            <input type="checkbox" id="CheckboxVSGolpes" value="VIVIR SIN GOLPES">
                            <span class="checkmark"></span>
                        </label>
                        <label class="labelCheckbox">
                            Otros
                            <input type="checkbox" id="CheckboxOtraTerapia" value="OTRO">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div id="divInputOtroTipoTerapia">
                        <span class="input-group-text" style="font-weight:bold;">Especifique el tipo de terapia: </span>
                        <input id="InputOtroTipoTerapia" type="text" class="form-control">
                    </div>
                </div>

                <div class="divBotones">
                    <button class="step botonVolver fa fa-arrow-left" data-value3=".step01" data-value2=".tipoCanalizacion" data-value="0%">   Volver</button>
                    <button id="btnSiguienteTerapia" class="step botonSiguiente fa fa-arrow-right" data-value3=".step05" data-value2=".TerapiaPaso3" data-value="100%">  Siguiente</button>
                </div>
            </div>

            <div class="section-content TerapiaPaso3">
                <div class="ContenidoPrincipalTarjeta">
                    <h2>Datos de la terapia</h2>
                    <div class="form-group col-md-6">
                        <label class="control-label">Tiempo total de la terapia</label>
                        <input required id="tiempoTerapia" type="text" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Periodicidad de la terapia</label>
                        <select requiered class="form-control" id="selectPeriodicidadTerapia">
                            <option selected disabled>Seleccione una opción</option>
                            <option value="SEMANAL">Semanal</option>
                            <option value="MENSUAL">Mensual</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Fecha de inicio</label>
                        <input required id="fInicioTerapia" name="fInicioTerapia" type="date" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Fecha de termino</label>
                        <input required id="fTerminoTerapia" name="fTerminoTerapia" type="date" class="form-control" />
                    </div>
                    @{
                        var grupos = ViewBag.Grupos as List<Grupo>;
                    }
                    <div class="form-group col-md-6">
                        <label class="control-label">Seleccione un grupo</label>
                        <select required class="form-control" id="selectGrupo">
                            <option selected disabled>Seleccione una opción</option>
                            <option value="0">Pendiente por asignar</option>
                            @foreach (var grupo in grupos)
                            {
                                <option value="@grupo.IdGrupo">@grupo.NombreGrupo - Horario: @grupo.Horario</option>
                            }
                        </select>
                    </div>
                    @{
                        var terapeutas = ViewBag.Terapeutas as List<Terapeutas>;
                    }
                    <div class="form-group col-md-6">
                        <label class="control-label">Asigne un terapeuta:</label>
                        <select requiered class="form-control" id="selectTerapeuta">
                            <option selected disabled>Seleccione una opción</option>
                            <option value="PENDIENTE">Pendiente por asignar</option>
                            @foreach (var terapeuta in terapeutas)
                            {
                                <option value="@terapeuta.IdTerapeutas">@terapeuta.Nombre @terapeuta.Paterno @terapeuta.Materno - Tipo de terapia: @terapeuta.TipoTerapia </option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Observaciones</label>
                        <input required id="InputObservacionesTerapia" type="text" placeholder="Sin observaciones" class="form-control" />
                    </div>
                </div>
                <div class="divBotones">
                    <button class="step botonVolver fa fa-arrow-left" data-value3=".step03" data-value2=".TerapiaPaso2" data-value="50%">   Volver</button>
                    <button id="btnFinalizarTerapia" class="step botonFinalizar fa fa-check">  Finalizar ficha</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src='~/lib/sweetalert/sweetalert2.js'></script>
    <script src="~/js/FichaCanalizacion.js"></script>
</body>
</html>
