<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/FichaCanalizacion.css">
    <link rel="stylesheet" href="~/css/sweetalert2.css">
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <input id="IdReinsercion" style="display:none;" value="@ViewBag.idReinsercion" />
    <h1>Proceso de Canalizacion</h1>
    <br>
    <div class="process-wrapper">
        <div id="progress-bar-container">
            <ul id="ProgresionPasos">
                <li class="step01 active">
                    <div class="step-inner">Tipo de canalizacion</div>
                </li>
            </ul>
            <div id="line">
                <div id="line-progress"></div>
            </div>
        </div>
        <div id="progress-content-section">
            <div class="section-content tipoCanalizacion active">
                <div class="ContenidoPrincipalTarjeta">
                    <h2>Seleccione el tipo de canalizacion</h2>
                    <div class="form-group">
                        <select class="form-control" id="selectTipoCanalizacion">
                            <option selected disabled>Selecciona una opción</option>
                            <option value="TERAPIA">Terapia</option>
                            <option value="EJESREINSERCION">Ejes de reinsercion</option>
                        </select>
                    </div>
                </div>

                <div class="divBotones" id="divBotonPaso1">
                    <button id="btnSiguientePrimeraFicha" class="step botonSiguiente fa fa-arrow-right">  Siguiente</button>
                </div>
            </div>

            @*EJES DE REINSERCION*@
            <div class="section-content EjesPaso2">
                <h2>Seleccione el tipo de servicio</h2>
                <div class="ContenidoPrincipalTarjeta">
                    <div class="divCheckBoxesEjes">
                        <label class="labelCheckbox">
                            Laboral
                            <input type="checkbox" id="CheckboxLaboral" value="LABORAL">
                            <span class="checkmark"></span>
                        </label>
                        <label class="labelCheckbox">
                            Educativa
                            <input type="checkbox" id="CheckboxEducativa" value="EDUCATIVA">
                            <span class="checkmark"></span>
                        </label>

                        <label class="labelCheckbox">
                            Antidoping
                            <input type="checkbox" id="CheckboxAntidoping" value="ANTIDOPING">
                            <span class="checkmark"></span>
                        </label>
                        <label class="labelCheckbox">
                            Otros
                            <input type="checkbox" id="CheckboxOtroEje" value="OTRO">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div id="divInputOtroEje">
                        <span class="input-group-text" style="font-weight:bold;">Especifique el tipo de servicio: </span>
                        <input id="InputOtroEje" type="text" class="form-control">
                    </div>

                    <div id="divInputLugar" class="form-group">
                        <label class="control-label">Lugar de Canalizacion</label>
                        <input required id="InputLugarEjes" type="text" placeholder="DGEPMS" class="form-control" />
                    </div>

                    <div id="divInputMonitoreo" class="form-group">
                        <label class="control-label">Monitoreo</label>
                        <input required id="InputMonitoreoEjes" type="date" class="form-control" />
                    </div>
                     <div id="divInputFechaProgramada" class="form-group">
                        <label class="control-label">Fecha de Programada </label>
                        <input required id="InputFechaProgramada" type="date" class="form-control" />
                    </div>

                    <div id="divInputObsevarciones" class="form-group">
                        <label class="control-label">Observaciones</label>
                        <input required id="InputObservacionesEjes" type="text" placeholder="Sin observaciones" class="form-control" />
                    </div>
                </div>
                <div class="divBotones">
                    <button class="step botonVolver fa fa-arrow-left" data-value3=".step01" data-value2=".tipoCanalizacion" data-value="0%">   Volver</button>
                    <button id="btnFinalizarEjes" class="step botonFinalizar fa fa-check">  Finalizar ficha</button>
                </div>
            </div>


            @*TERAPIA*@

            <div class="section-content TerapiaPaso2">
                <div class="ContenidoPrincipalTarjeta">
                    <h2>Seleccione el tipo de terapia</h2>
                    <div class="divCheckBoxesTerapia">
                        <label class="labelCheckbox">
                            Violencia
                            <input type="checkbox" id="CheckboxViolencia" value="VIOLENCIA">
                            <span class="checkmark"></span>
                        </label>
                        <label class="labelCheckbox">
                            Adicciones
                            <input type="checkbox" id="CheckboxAdiciones" value="ADICCIONES">
                            <span class="checkmark"></span>
                        </label>

                        <label class="labelCheckbox">
                            Vivir sin golpes
                            <input type="checkbox" id="CheckboxVSGolpes" value="VIVIR SIN GOLPES">
                            <span class="checkmark"></span>
                        </label>
                        <label class="labelCheckbox">
                            Otros
                            <input type="checkbox" id="CheckboxOtraTerapia" value="OTRO">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div id="divInputOtroTipoTerapia">
                        <span class="input-group-text" style="font-weight:bold;">Especifique el tipo de terapia: </span>
                        <input id="InputOtroTipoTerapia" type="text" class="form-control">
                    </div>
                </div>

                <div class="divBotones">
                    <button class="step botonVolver fa fa-arrow-left" data-value3=".step01" data-value2=".tipoCanalizacion" data-value="0%">   Volver</button>
                    <button id="btnSiguienteTerapia" class="step botonSiguiente fa fa-arrow-right" data-value3=".step05" data-value2=".TerapiaPaso3" data-value="100%">  Siguiente</button>
                </div>
            </div>

            <div class="section-content TerapiaPaso3">
                <div class="ContenidoPrincipalTarjeta">
                    <h2>Datos de la terapia</h2>
                   @*
                       SE COMENTO POR QUE EL TIEMPO TOTAL DE  TERAPIA SE VA A OBTENER EN EL CONTROLADOR

                    <div class="form-group col-md-6">
                        <label class="control-label">Tiempo total de la terapia</label>
                        <input  id="tiempoTerapia" type="text" class="form-control" />
                    </div> *@
                    <div class="form-group col-md-6">
                        <label class="control-label">Periodicidad de la terapia</label>
                        <select requiered class="form-control" id="selectPeriodicidadTerapia">
                            <option selected disabled>Seleccione una opción</option>
                            <option value="SEMANAL">Semanal</option>
                            <option value="MENSUAL">Mensual</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Fecha de inicio</label>
                        <input required id="fInicioTerapia" name="fInicioTerapia" type="date" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Fecha de termino</label>
                        <input required id="fTerminoTerapia" name="fTerminoTerapia" type="date" class="form-control" />
                    </div>
                    @{
                        var grupos = ViewBag.Grupos as List<Grupo>;
                    }
                    <div class="form-group col-md-6">
                        <label class="control-label">Seleccione un grupo</label>
                        <select required class="form-control" id="selectGrupo">
                            <option selected disabled>Seleccione una opción</option>
                            <option value="0">Pendiente por asignar</option>
                            @foreach (var grupo in grupos)
                            {
                                <option value="@grupo.IdGrupo">@grupo.NombreGrupo - Horario: @grupo.Horario</option>
                            }
                        </select>
                    </div>
                    @{
                        var terapeutas = ViewBag.Terapeutas as List<Terapeutas>;
                    }
                    <div class="form-group col-md-6">
                        <label class="control-label">Asigne un terapeuta:</label>
                        <select requiered class="form-control" id="selectTerapeuta">
                            <option selected disabled>Seleccione una opción</option>
                            <option value="PENDIENTE">Pendiente por asignar</option>
                            @foreach (var terapeuta in terapeutas)
                            {
                                <option value="@terapeuta.IdTerapeutas">@terapeuta.Nombre @terapeuta.Paterno @terapeuta.Materno - Tipo de terapia: @terapeuta.TipoTerapia </option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Observaciones</label>
                        <input required id="InputObservacionesTerapia" type="text" placeholder="Sin observaciones" class="form-control" />
                    </div>
                </div>
                <div class="divBotones">
                    <button class="step botonVolver fa fa-arrow-left" data-value3=".step03" data-value2=".TerapiaPaso2" data-value="50%">   Volver</button>
                    <button id="btnFinalizarTerapia" class="step botonFinalizar fa fa-check">  Finalizar ficha</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src='~/lib/sweetalert/sweetalert2.js'></script>
    <script >
        $(document).ready(function () {

            var divBotonPaso1 = document.getElementById('divBotonPaso1');
            var idReinsercion = document.getElementById('IdReinsercion').value;
            var tipoCanalizacion = document.getElementById('selectTipoCanalizacion');
            //var monitoreo = document.getElementById('InputMonitoreoEjes');
            //var fechaprogramada = document.getElementById('InputFechaProgramada');
            var estado = "ACTIVO";//PUEDE CAMBIAR HASTA FUTURAS INSTRUCCIONES

            $(document).on('click', '.step', function () {
                var porcentajeBarra = $(this).data('value');
                var NombreClaseSiguientePunto = $(this).data('value2');
                var numeroPaso = $(this).data('value3');
                botonSiguiente(numeroPaso, NombreClaseSiguientePunto, porcentajeBarra);
            });



            //primera tarjeta de ficha de canalizacion
            $("#selectTipoCanalizacion").change(function () {
                divBotonPaso1.classList.add('visible');
                if (tipoCanalizacion.value === "TERAPIA")
                    generarPasosTerapia();
                else if (tipoCanalizacion.value === "EJESREINSERCION")
                    generarPasosEjesReinsercion();
            });


            //variables para ejes de reinsercion

            var checkboxesEjes = document.querySelectorAll('.divCheckBoxesEjes input[type="checkbox"]');
            var otroEjeCheckbox = document.getElementById('CheckboxOtroEje');

            var divInputOtroEje = document.getElementById('divInputOtroEje');
            var inputOtroEje = document.getElementById('InputOtroEje');

            var divInputObsevarciones = document.getElementById('divInputObsevarciones');
            var inputObservacionesEjes = document.getElementById('InputObservacionesEjes'); 
            
            var divInputLugar = document.getElementById('divInputLugar');
            var inputLugarEjes = document.getElementById('InputLugarEjes');

            var divInputMonitoreo = document.getElementById('divInputMonitoreo');
            var inputMonitoreoEjes = document.getElementById('InputMonitoreoEjes');
            
            var divInputFechaProgramada = document.getElementById('divInputFechaProgramada');
            var inputFechaProgramada = document.getElementById('InputFechaProgramada');

            checkboxesEjes.forEach(function (checkbox) {
                checkbox.addEventListener('change', function () {
                    var algunCheckboxSeleccionado = Array.from(checkboxesEjes).some(c => c.checked);
                    if (algunCheckboxSeleccionado){
                        divInputObsevarciones.classList.add('visible');
                        divInputLugar.classList.add('visible');
                        divInputMonitoreo.classList.add('visible');
                        divInputFechaProgramada.classList.add('visible');
                    }else{
                        divInputObsevarciones.classList.remove('visible');
                        divInputLugar.classList.remove('visible');
                        divInputMonitoreo.classList.remove('visible');
                        divInputFechaProgramada.classList.remove('visible');
                    }
                        
                });
            });

            document.getElementById('CheckboxOtroEje').addEventListener('change', function () {
                if (this.checked)
                    divInputOtroEje.classList.add('visible');
                else {
                    inputOtroEje.value = "";
                    divInputOtroEje.classList.remove('visible');
                }
            });

            $("#btnFinalizarEjes").on('click', function () {
                var todoVerificado = VerificarCamposEjesReinsercion();
                if (todoVerificado)
                    SweetAlertFinalizarFicha();
                else
                    SweetAlert("Error", "Selecciona un tipo de servico o especifica el servicio", "error");
            });

            function VerificarCamposEjesReinsercion() {
                var todosLosCamposRequeridos = true;

                checkboxesEjes.forEach(function (checkbox) {
                    var algunCheckboxSeleccionado = Array.from(checkboxesEjes).some(c => c.checked);
                    if (!algunCheckboxSeleccionado)
                        todosLosCamposRequeridos = false;
                });
                if (todosLosCamposRequeridos) {
                    if (otroEjeCheckbox.checked && inputOtroEje.value === "")
                        todosLosCamposRequeridos = false;
                }
                else
                    todosLosCamposRequeridos = false;

                return todosLosCamposRequeridos;
            }


            //variables para la segunda tarjeta de terapia
            var botonSiguienteTerapia = document.getElementById('btnSiguienteTerapia');
            var checkboxesTerapia = document.querySelectorAll('.divCheckBoxesTerapia input[type="checkbox"]');

            var divInputOtroTipoTerapia = document.getElementById('divInputOtroTipoTerapia');
            var otraTerapiaCheckbox = document.getElementById('CheckboxOtraTerapia');
            var inputOtroTipoTerapia = document.getElementById('InputOtroTipoTerapia');


            //variables para la tercera tarjeta de terapia
            //var tiempoTerapia = document.getElementById('tiempoTerapia');
            var selectPeriodicidadTerapia = document.getElementById('selectPeriodicidadTerapia');
            var fInicioTerapia = document.getElementById('fInicioTerapia');
            var fTerminoTerapia = document.getElementById('fTerminoTerapia');
            var selectGrupo = document.getElementById('selectGrupo');
            var selectTerapeuta = document.getElementById('selectTerapeuta');
            var inputObservacionesTerapia = document.getElementById('InputObservacionesTerapia')

            //segunda tarjeta de terapia
            checkboxesTerapia.forEach(function (checkbox) {
                checkbox.addEventListener('change', function () {
                    var algunCheckboxSeleccionado = Array.from(checkboxesTerapia).some(c => c.checked);
                    if (algunCheckboxSeleccionado) {
                        if (otraTerapiaCheckbox.checked && inputOtroTipoTerapia.value === "")
                            botonSiguienteTerapia.classList.remove('visible');
                        else
                            botonSiguienteTerapia.classList.add('visible');
                    }
                    else
                        botonSiguienteTerapia.classList.remove('visible');
                });
            });

            document.getElementById('CheckboxOtraTerapia').addEventListener('change', function () {
                if (this.checked)
                    divInputOtroTipoTerapia.classList.add('visible');
                else {
                    inputOtroTipoTerapia.value = "";
                    divInputOtroTipoTerapia.classList.remove('visible');
                }
            });

            $('#InputOtroTipoTerapia').on('change', function () {
                if (otraTerapiaCheckbox.checked) {
                    if (inputOtroTipoTerapia.value === "")
                        botonSiguienteTerapia.classList.remove('visible');
                    else
                        botonSiguienteTerapia.classList.add('visible');
                }
            });

            //verificar datos tercera tarjeta de terapia
            function verificarCampos(campos) {
                var todosLosCamposValidos = true;
                var camposVacios = [];

                campos.forEach(function (item) {
                    if (item.campo === null) {
                        alert(item.campo);
                        camposVacios.push(item.nombre);
                        todosLosCamposValidos = false;
                    }
                    else if (item.campo.value.trim() === '' || item.campo.value === 'Seleccione una opción' || item.campo.value === null) {
                        camposVacios.push(item.nombre);
                        todosLosCamposValidos = false;
                    }
                });
                if (todosLosCamposValidos)
                    SweetAlertFinalizarFicha();
                else
                    SweetAlert("Error", "Estos valores necesitan ser llenados: " + camposVacios.join(', '), "error")
                return todosLosCamposValidos;
            }

            $("#btnFinalizarTerapia").on('click', function () {
                var campos = [

                    { campo: selectPeriodicidadTerapia, nombre: 'Periodicidad de la Terapia' },
                    { campo: fInicioTerapia, nombre: 'Fecha de inicio' },
                    { campo: fTerminoTerapia, nombre: 'Fecha de término' },
                    { campo: selectGrupo, nombre: 'Grupo' },
                    { campo: selectTerapeuta, nombre: 'Terapeuta' }
                ];
                verificarCampos(campos);
            });

            function generarPasosTerapia() {

                $("#divBotonPaso1").html(`
                                     <button  class="step botonSiguiente fa fa-arrow-right" data-value3=".step04" data-value2=".TerapiaPaso2" data-value="50%" style="margin-right: 20px;">  Siguiente</button>
                                `);
                $("#ProgresionPasos").html(`
                                     <li class="step01 active">
                                         <div class="step-inner">Terapia</div>
                                     </li>
                                     <li  class="step02" style="list-style: none; visibility: hidden;"></li>
                                     <li class="step03">
                                         <div class="step-inner">Tipo de terapia</div>
                                     </li>
                                     <li class="step04" style="list-style: none; visibility: hidden;">
                                     </li>
                                     <li class="step05">
                                         <div class="step-inner">Datos de terapia</div>
                                     </li>
                                `);
                mostrarPasosAnimacion(250);
            }

            function generarPasosEjesReinsercion() {
                $("#divBotonPaso1").html(`
                                   <button  class="step botonSiguiente fa fa-arrow-right" data-value3=".step05" data-value2=".EjesPaso2" data-value="100%" style="margin-right: 20px;">  Siguiente</button>
                                `);
                $("#ProgresionPasos").html(`
                                    <li class="step01 active">
                                        <div class="step-inner">Ejes de reinsercion</div>
                                    </li>
                                    <li  class="step02" style="list-style: none; visibility: hidden;"></li>
                                    <li  class="step03" style="list-style: none; visibility: hidden;"></li>
                                    <li  class="step04" style="list-style: none; visibility: hidden;"></li>
                                    <li class="step05">
                                       <div class="step-inner">Servicios de vinculacion</div>
                                    </li>
                                `);
                mostrarPasosAnimacion(120);
            }

            function mostrarPasosAnimacion(delayEnviado) {
                var delay = 0;
                $("#ProgresionPasos li").each(function () {
                    $(this).delay(delay).fadeIn(delayEnviado);
                    delay += delayEnviado;
                });
            }

            function botonSiguiente(numeroPaso, NombreClaseSiguientePunto, porcentajeBarra) {
                $(numeroPaso).addClass("active").prevAll().addClass("active");
                $(numeroPaso).nextAll().removeClass("active");

                $("#line-progress").css("width", porcentajeBarra);
                $(NombreClaseSiguientePunto).addClass("active").siblings().removeClass("active");
            }


            function SweetAlert(Titulo, Mensaje, Icono) {
                Swal.fire({
                    title: Titulo,
                    text: Mensaje,
                    icon: Icono
                });
            }

            function SweetAlertFinalizarFicha() {
                Swal.fire({
                    icon: "question",
                    title: "¿Deseas guardar la ficha de canalizacion?",
                    showDenyButton: true,
                    showCancelButton: true,
                    confirmButtonText: "Guardar",
                    denyButtonText: `Cancelar`
                }).then((result) => {

                    if (result.isConfirmed)
                        CrearFichaDeCanalizacion(tipoCanalizacion);
                    else if (result.isDenied)
                        Swal.fire("Cancelaste el guardado de la ficha", "", "info");

                });
            }

            function CrearFichaDeCanalizacion() {
                //variable que se llena para el modelo DatosFichaCanalizacion

                var datosFichaCanalizacion = { TipoCanalizacion: tipoCanalizacion.value, IdReinsercion: idReinsercion, datos: null };

                if (tipoCanalizacion.value === "TERAPIA") {
                    var tiposTerapiaSeleccionados = Array.from(checkboxesTerapia)
                        .filter(checkbox => checkbox.checked)
                        .map(checkbox => checkbox.value);

                    datosFichaCanalizacion.datos = {
                        TiposTerapiaSeleccionados: tiposTerapiaSeleccionados,
                        EspecificarOtraTerapia: inputOtroTipoTerapia.value,
                        Terapeuta: selectTerapeuta.value,
                        FechaCanalizacion: new Date(),
                        //TiempoTerapia: tiempoTerapia.value,
                        FechaInicio: fInicioTerapia.value,
                        FechaTermino: fTerminoTerapia.value,
                        FechaTerapia: fInicioTerapia.value, //es la fecha en la que se presenta a las terapias al principio es igual que la fecha de inicio
                        PeriodicidadTerapia: selectPeriodicidadTerapia.value,
                        Estado: estado,
                        GrupoId: selectGrupo.value,
                        Observaciones: inputObservacionesTerapia.value

                    };
                }
                else if (tipoCanalizacion.value === "EJESREINSERCION") {
                    var ejesSeleccionados = Array.from(checkboxesEjes)
                        .filter(checkbox => checkbox.checked)
                        .map(checkbox => checkbox.value);

                    datosFichaCanalizacion.datos = {
                        EjesSeleccionados: ejesSeleccionados,
                        EspecificarOtroEje: inputOtroEje.value,
                        Observaciones: inputObservacionesEjes.value,
                        Lugar: inputLugarEjes.value,
                        Monitoreo: inputMonitoreoEjes.value,
                        Fechaprogramada: inputFechaProgramada.value,
                        Estado: estado,
                        FechaCanalizacion: new Date()
                    };
                }

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    async: true,
                    url: "/Reinsercion/CrearFichaCanalizacion",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(datosFichaCanalizacion),
                    success: function (response) {
                        //PENDIENTE: POSIBLEMENTE DEBE DE REDIRIGIR A OTRA VISTA
                        Swal.fire("Éxito", response.responseText, "success");

                        setTimeout(function () {
                            window.location.href = response.viewUrl;
                        }, 1700);
                    },
                    error: function (xhr, status, error) {
                        console.error('Error al enviar datos al controlador:', status, error);
                        Swal.fire("Error", "Hubo un problema al enviar los datos, comuniquese con el administrador del sistema", "error");
                    }
                });
            }
        });

    </script>
</body>
</html>
