@model IEnumerable<scorpioweb.Models.Reinsercion>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdTabla)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tabla)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lugar)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdTabla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tabla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lugar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdReinsercion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdReinsercion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdReinsercion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
