@model PaginatedList<scorpioweb.Models.ReinsercionMCYSCPLCCURSVM>


@{
    ViewData["Title"] = "Personas por canalizar";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<script>

    function AlertCanalizacion(IdPersona, tabla) {
        Swal.fire({
            title: "¿Deseas canalizar a la persona?",
            icon: "question",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Si"
        }).then((result) => {
            if (result.isConfirmed) {
                var datos = {
                    IdTabla: IdPersona,
                    Tabla: tabla,
                    Lugar: "DGEPMS",
                    Estado: "ACTIVO"
                };
                AjaxCrearReinsercion(datos);
            }
        });
    }
    function AjaxCrearReinsercion(datos) {
        $.ajax({
            type: "POST",
            dataType: "json",
            async: true,
            url: "/Reinsercion/CrearReinsercionPorSupervisor",
            traditional: true,
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(datos),
            success: function (response) {
                console.log('Respuesta del controlador:', response);
                sweetAlertAjax(true, response.responseText);

                setTimeout(function () {
                    window.location.href = response.viewUrl;
                }, 1700);
            },
            error: function (xhr, status, error) {
                console.error('Error al enviar datos al controlador:', status, error);
                sweetAlertAjax(false, error);
            }
        });
    }
    function sweetAlertAjax(isSuccess, respuestaAjax, callback) {
        if (isSuccess) {
            Swal.fire({
                icon: "success",
                title: "Persona canalizada!",
                text: respuestaAjax,
                showConfirmButton: false,
                timer: 1500
            });
        }
        else {
            Swal.fire({
                icon: "error",
                title: "la persona no ha sido canalizada!",
                text: "Comuniquese con el administrador del sistema, Error: " + respuestaAjax
            });
        }
    }

    showModal = (url, title, id) => {
        $.ajax({
            type: "GET",
            url: url,
            success: function (res) {
                $("#form-modal .modal-body").html(res);
                $("#form-modal .modal-title").html(title);
                $("#form-modal").modal('show');
                $("#form-modal").find(".modal-dialog").removeClass("modal-lg modal-sm").addClass("modal-lg");
            },
            //data: {
            //    datosBitacora: [IdFracciones],
            //},
            error: function (res) {
          
            }
        })
    }

</script>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<div>
    <h1 style="font-family: cursive; text-align:center;">Personas por Canalizar</h1>
</div>
<body>
    <form asp-action="index" method="get">
        <div class="form-actions no-color">
            <p>
                Búsqueda: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                <button type="submit" class="btn btn-default">
                    <i class="fa fa-search"></i>
                    Buscar
                </button> |
                <a asp-action="index">Regresar al listado completo</a>
            </p>
        </div>
    </form>
<table class="table">
    <thead>
        <tr>
                <th>
                   IdTabla
                </th>
                <th>
                   Nombre
                </th>
                <th>
                    Causa Penal
                </th>
                <th>
                    Delito
                </th>
                <th>
                    Area
                </th>
                <th>
                   Supervisor
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdTabla</td>
                <td>@item.Paterno @item.Materno @item.Nombre</td>
                <td>@item.Causapenal</td>
                <td>@item.Delito</td>
                <td>@item.NomTabla</td>
                <td>@item.Supervisor</td>
                <td>
                    <button type="button" class="btn btn-info fa fa-share" title="Canalizar" onclick="AlertCanalizacion(@item.IdTabla,'@item.NomTabla')">
                        Canalizar
                    </button>  
                @*    <a type="button" title="Información" onclick="showModal('@Url.Action("Details", "/" +item.NomTabla + "s")','Detalles',@item.IdTabla )">
                            <i class="btn btn-primary fa fa-file"> Mas informacion</i>
                    </a>*@
                        <a onclick="showModal('@Url.Action("Details", item.tabla + "s", new {id=item.IdTabla}, Context.Request.Scheme)','Detalles Generales',null )" class="btn btn-primary fa fa-eye" title="Datos Generales" style="margin-top:6px"> Datos Generales</a>
                </td>
            </tr>
        }
    </tbody>
</table>

    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <p>
        Página @(Model.TotalPages < Model.PageIndex ? 0 : Model.PageIndex) de @Model.TotalPages
    </p>

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        Anterior
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Siguiente
    </a>
    <br />
    <div style="margin-top:20px">
        <a asp-action="MenuReinsercion">Regresar a Menu</a>
    </div>
   

</body>
</html>
