@model PaginatedList<scorpioweb.Models.ReinsercionMCYSCPLCCURSVM>


@{
    ViewData["Title"] = "Personas Canalizadas";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<style>
    .swal2-popup {
        font-size: 1.6rem; /* Ajusta el tamaño de fuente */
        width: 600px !important; /* Ajusta el ancho */
        height: auto !important; /* Ajusta la altura automáticamente */
    }

    #lista tr{
        text-align:center;
    }
</style>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<div>
    <h1 style="font-family: cursive; text-align:center;">Personas Canalizadas</h1>
</div>
<body>
    <form asp-action="Reinsercion" method="get">
        <div class="form-actions no-color">
            <p>
                Búsqueda: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                <button type="submit" class="btn btn-default">
                    <i class="fa fa-search"></i>
                    Buscar
                </button> |
                <a asp-action="Reinsercion">Regresar al listado completo</a>
            </p>
        </div>
    </form>
<table class="table">
    <thead>
        <tr>
                <th>
                   IdTabla
                </th>
                <th>
                   Nombre Completo
                </th>
                <th>
                   Causa penal
                </th>
                <th>
                   Delito
                </th>
                <th>
                    Estado de Supervisión
                </th>
                <th>
                    Tabla
                </th>
                <th>
                    Estado de Vinculación
                </th>
                
            <th></th>
        </tr>
    </thead>
    <tbody id="lista">
        @foreach (var item in Model)
        {
                string rowColor = "";

                switch (item.EstadoVinculacion)
                {
                    case "VIGENTE":
                        rowColor = "#FDDEDE";
                        break;
                    case "INACTIVO":
                        rowColor = "lightgray";
                        break;
                    case "ACTIVO":
                        rowColor = "#DCFFD2";
                        break;
                    // Añade más casos según sea necesario
                    default:
                        rowColor = "white";
                        break;
                }
                <tr style="background-color:@rowColor">
                <td>@item.IdTabla</td>
                <td>@item.Nombre</td>
                <td>@item.Causapenal</td>
                <td>@item.Delito</td>
                <td>@item.EstadoSupervision</td>
                <td>@item.NomTabla</td>
                <td>@item.EstadoVinculacion</td>
                <td>
                    <a type="button" title="Menu Supervision" class="btn btn-success fa fa-cogs"  asp-action="Menusupervision" asp-route-id="@item.IdReinsercion">
                        Supervisión
                    </a>  

                    <a type="button" title="Borrar" style="margin-top:10px" class="btn btn-danger fa fa-trash" onclick="borrarRegistro(@item.IdReinsercion)">
                        Borrar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <p>
        Página @(Model.TotalPages < Model.PageIndex ? 0 : Model.PageIndex) de @Model.TotalPages
    </p>

    <a asp-action="Reinsercion"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        Anterior
    </a>
    <a asp-action="Reinsercion"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Siguiente
    </a>
    <br />
    <div style="margin-top:20px">
        <a asp-action="MenuReinsercion">Regresar a Menu</a>
    </div>
</body>
<script>
    function borrarRegistro(idReinsercion) {
 
        Swal.fire({
            title: "¿Desea borrar el registro?",
            text: "No podras revertir esto!",
            icon: "warning",
            customClass: {
                popup: 'swal2-popup'
            },
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            cancelButtonText: "cancelar",
            confirmButtonText: "Si, borrar!"
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: '/Reinsercion/BorrarRegistroReinsercion',
                    data: { idReinsercion: idReinsercion },    
                    success: function (response) {
                        if (response.success)
                        {
                            Swal.fire({
                                title: "Registro borrado con exito",
                                text: response.message,
                                icon: "success",
                                allowOutsideClick: false
                            }).then(() => {
                                location.reload();
                            });
                            
                        }  
                        else
                        {
                            Swal.fire({
                                title: "Ha ocurrido un error!",
                                text: "ERROR: " + response.message,
                                icon: "error",
                                allowOutsideClick: false
                            });
                        }
                    },
                    error: function (response) {
                        Swal.fire({
                            title: "Ha ocurrido un error!",
                            text: "ERROR: " + response.message,
                            icon: "error",
                            allowOutsideClick: false
                        });
                    }
                });
            }
        });
    }
</script>
</html>

