@model PaginatedList<scorpioweb.Models.Persona>

@{
    ViewData["Title"] = "Asignación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/jquery-1.11.1.min.js"></script>

<script>
    
</script>

<h1>Asignación</h1>
<h2>Causa Penal @ViewBag.CausaPenal</h2>


<form asp-action="Asignacion" method="get">
    <div class="form-actions no-color">
        <p>
            Búsqueda por nombre: <input type="text" name="SearchString" id="SearchString" value="@ViewData["currentFilter"]" />
            <button type="submit" id="buscar" class="btn btn-default">
                <i class="fa fa-search"></i>
                Buscar
            </button>
            <a asp-action="Asignacion" class="btn btn-link">
                Regresar al listado completo
            </a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                IdPersona
            </th>
            <th>
                Nombre Completo
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPersona)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paterno) @Html.DisplayFor(modelItem => item.Materno) @Html.DisplayFor(modelItem => item.Nombre)
                </td>             
                <td>
                    <form onsubmit="return confirm('¿Desea asignar esta causa penal?');" style="margin-top: 10px" asp-action="Asignacion" asp-route-PersonaAsignada="@item.IdPersona" asp-route-idcp="@ViewBag.idCausaPenal">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-arrow-circle-o-up"></i> Asignar
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<p>
    Página @(Model.TotalPages < Model.PageIndex ? 0 : Model.PageIndex) de @Model.TotalPages
</p>
<a asp-action="Asignacion"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Anterior
</a>
<a asp-action="Asignacion"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Siguiente
</a>