@model scorpioweb.Models.Causapenal

    @{
        ViewData["Title"] = "Details";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Detalles Causa Penal  @Html.DisplayFor(model => model.IdCausaPenal)</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cnpp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cnpp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Juez)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Juez)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cambio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cambio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Distrito)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Distrito)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CausaPenal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CausaPenal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditCausas" asp-route-id="@Model.IdCausaPenal">Editar</a> |
    <a asp-action="Index">Regresar a lista</a>
</div>
