@*@model scorpioweb.Models.Causapenal
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var tipo = 0;
    $(document).ready(function () {
        $('#btnGuardarDelito').on("click", function (e) {
            e.preventDefault();

            var tipodel = document.getElementById("tipoD").value;
            var modalidad = document.getElementById("modalidadD").value;
            var especificarD = document.getElementById("Edelito").value;
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/Causaspenales/GuardarDelito",
                traditional: true,
                data: {
                    datosDelito: [tipodel, modalidad, especificarD],
                },
                success: function (response) {
                    if (response.success) {
                        alert(response.responseText);
                        document.ready = document.getElementById("tipoD").value = '';
                        document.ready = document.getElementById("modalidadD").value = '';
                        document.ready = document.getElementById("Edelito").value = '';
                        var otraDelito = confirm("¿Agregar otro delito?");
                        if (otraDelito == true) {
                            alert("Coloque los datos correspondientes");
                        } else {
                            $("#modalDelito").modal('hide');
                        }
                    } else {
                        alert(response.responseText);
                    }
                },
                error: function (response) {
                    alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                }
            });
        });
    });
</script>

<h2>Edit</h2>

<h4>Causapenal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCausaPenal" />
            <div class="form-group">
                <label class="control-label">Cnpp</label>
                <select class="form-control" name="Cnpp"
                        asp-items="@(new SelectList(ViewBag.listaCnpp, "Value", "Text", @ViewBag.idCnpp))">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Juez" class="control-label"></label>
                <input asp-for="Juez" class="form-control" />
                <span asp-validation-for="Juez" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Cambio</label>
                <select class="form-control" name="Cambio"
                        asp-items="@(new SelectList(ViewBag.listaCambio, "Value", "Text", @ViewBag.idCambio))">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Distrito" class="control-label"></label>
                <input asp-for="Distrito" class="form-control" />
                <span asp-validation-for="Distrito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CausaPenal" class="control-label"></label>
                <input asp-for="CausaPenal" class="form-control" />
                <span asp-validation-for="CausaPenal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="CreateDelito" asp-route-id="@Model.IdCausaPenal" class="btn btn-primary">Crear Delito</a>
            </div>
            <div class="form-group">
                <a asp-action="delitos" asp-route-id="@Model.IdCausaPenal" class="btn btn-primary">Delitos</a>
            </div>
            <div class="form-group">
                <a data-toggle="modal" data-target="#modalDelito">Ver Delitos</a>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@


