@model IEnumerable<scorpioweb.Models.CausaDelitoViewModel>

@{
    ViewData["Title"] = "Causa Penal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* Necesario para los modales en el servidor *@
<script src="~/js/jquery-1.11.1.min.js"></script>

<script>
    showModal = (url, title, id) => {
        $.ajax({
            type: "GET",
            url: url + "?id=" + id,
            success: function (res) {
                $("#form-modal .modal-body").html(res);
                $("#form-modal .modal-title").html(title);
                $("#form-modal").modal('show');
            },
            error: function (res) {

            }
        })
    }
</script>



@foreach (var item in ViewData["joinTablesCausa"] as IEnumerable<scorpioweb.Models.CausaDelitoViewModel>)
{
<div class="row">
    <div>
        <h1>Causa Penal @item.causaPenalVM.CausaPenal</h1>
    </div>
    <div class="form-group col-md-4">
        <form asp-action="EditCausas">
            <div class="form-group">
                <input name="IdCausaPenal" id="IdCausaPenal" value="@item.causaPenalVM.IdCausaPenal" class="form-control" style="display:none " readonly />
            </div>
            <div class="form-group">
                <label class="control-label">Cnpp</label>
                <select class="form-control" name="Cnpp"
                        asp-items="@(new SelectList(ViewBag.listaCnpp, "Value", "Text", @ViewBag.idCnpp))">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Juez</label>
                <input name="Juez" id="Juez" value="@item.causaPenalVM.Juez" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Cambio</label>
                <select class="form-control" name="Cambio"
                        asp-items="@(new SelectList(ViewBag.listaCambio, "Value", "Text", @ViewBag.idCambio))">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Distrito</label>
                <select class="form-control" name="Distrito"
                        asp-items="@(new SelectList(ViewBag.listaDistrito, "Value", "Text", @ViewBag.idDistrito))">
                </select>
            </div>

            <div class="form-group">
                <label class="control-label">Causa Penal</label>
                <input name="CausaPenal" id="CausaPenal" value="@item.causaPenalVM.CausaPenal" class="form-control" />
            </div>
            <div class="form-group">
                <a id="btnVer" onclick="showModal('@Url.Action("CreateDelito","Causaspenales",null,Context.Request.Scheme)','Crear Delito',@item.causaPenalVM.IdCausaPenal)" class="btn btn-success">
                    <i class="fa fa-plus"></i> Crear Delito
                </a>
                @if (ViewBag.tieneDelitos == true)
                {
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalDelito">
                        <i class="fa fa-eye"></i> Ver Delitos
                    </button>

                }
                else
                {
                    <button style="display:none" type="button" class="btn btn-info" data-toggle="modal" data-target="#modalDelito">
                        <i class="fa fa-eye"></i> Ver Delitos
                    </button>
                }
            </div>
            <div class="form-group">
                <button type="submit" id="btnguardarEdit" class="btn btn-primary">
                    <i class="fa fa-save"></i> Guardar
                </button>
            </div>
        </form>
        <a asp-action="Index">Regresar a lista</a>
    </div>
</div>

    break;
}


<!-- Modal Familiares Extranjero -->
<div class="modal fade" id="modalDelito" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#0078A7;">
                <h5 class="modal-title" style="font-size: 30px; color:#fff;">Delitos asociados a la causa</h5>
            </div>
            <div class="modal-body">
                @foreach (var item in ViewData["joinTablesCausaDelito"] as IEnumerable<scorpioweb.Models.CausaDelitoViewModel>)
                {
                <table class="table table-bordered">
                    <tr>
                        <td style="width: 25%;background-color: #E2E2E2;border-color: #fff;color: #000;">Tipo</td>
                        <td style="width: 65%;">@item.delitoVM.Tipo</td>
                    </tr>
                    <tr>
                        <td style="background-color:#E2E2E2; border-color: #fff; color: #000;">Modalidad</td>
                        <td>@item.delitoVM.Modalidad</td>
                        <td style="border-right: solid White;
                                       border-bottom: solid White;
                                       border-top: solid White;">
                            <a class="btn btn-primary" asp-action="Delito" asp-route-id="@item.delitoVM.IdDelito">
                                <i class="fa fa-pencil"></i> Editar
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #E2E2E2;border-color: #fff;color: #000;">Especifique delito</td>
                        <td>@item.delitoVM.EspecificarDelito</td>
                    </tr>
                </table>

                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="fa fa-close"></i> Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

