@model IEnumerable<scorpioweb.Models.Causapenal>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cnpp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Juez)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cambio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CausaPenal)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cnpp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Juez)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cambio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CausaPenal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCausaPenal">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCausaPenal">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCausaPenal">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
