@model PaginatedList<scorpioweb.Models.Causapenal>

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

    <h2>Control de causas penales</h2>
    <p>
        <a asp-action="Create" class="btn btn-primary">Crea nueva Causa Penal</a>
    </p>

<form asp-action="ListadeCausas" method="get">
    <div class="form-actions no-color">
        <p>
            Búsqueda: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Buscar" class="btn btn-default" /> |
            <a asp-action="ListadeCausas">Regresar al listado completo</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                CNPP
            </th>
            <th>
                <a asp-action="ListadeCausas" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Juez</a>
            </th>
            <th>
                Cambio
            </th>
            <th>
                Distrito
            </th>
            <th>
                <a asp-action="ListadeCausas" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Causa Penal</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.Cnpp)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Juez)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Cambio)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Distrito)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.CausaPenal)
            </th>

            <td>
                <a asp-action="EditCausas" asp-route-id="@item.IdCausaPenal">Editar Causa</a> |
                <a asp-action="DetailsCP" asp-route-id="@item.IdCausaPenal">Personas Asignadas</a> |
                <a asp-action="Asignacion" asp-route-id="@item.IdCausaPenal" asp-route-cp="@item.CausaPenal">Asignación</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasNextPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Anterior
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Siguiente
</a>

