@model PaginatedList<scorpioweb.Models.Causapenal>

@{
    ViewBag.Title = "Causas Penales";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@* Necesario para los modales en el servidor *@
<script src="~/js/jquery-1.11.1.min.js"></script>

<script type="text/javascript">
    function borrarCp(id) {
        var idcp = id;
        var usuario = '@ViewBag.user';
        var cambiar = confirm("¿Desea borrar el registro?");
        if (cambiar == true) {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Causaspenales/antesdelete",
            traditional: true,
            data: {
                datocp: [idcp],
            },
            success: function (response) {
                if (response.borrar == false) {
                    alert("No se ha borrado porque ya esta asignada a una persona");
                } else {
                    function borrarcp(id) {
                        var usuario = '@ViewBag.user';
                        let razon = prompt("Porque desea borrar el registro?", "");
                        if (razon == null || razon == "") {
                            return;
                            text = "NA";
                        } else {
                            text = razon;
                        }
                        $.ajax({
                            type: "POST",
                            dataType: "json",
                            url: "/Causaspenales/deletecp",
                            traditional: true,
                            data: {
                                datocp: [id, razon, usuario],
                            },
                            success: function (response) {
                                if (response.borrar == true) {
                                    alert("El Registro ha sido borrado");
                                    location.reload();
                                } else {
                                    alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                                }
                            },
                            error: function (response) {
                                alert(response.error);

                            }
                        });
                    };
                    borrarcp(id);
                }
            },
            error: function (response) {
                alert(response.error);
                alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
            }
        });
        }
        return innerFunc;
    }
</script>




<h2>Control de Causas Penales</h2>
@if (User.IsInRole("Masteradmin") || User.IsInRole("SupervisorMCSCP") || User.IsInRole("AdminMCSCP") || User.IsInRole("Oficialia"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">
            <i class="fa fa-plus"></i> Crea nueva causa penal
        </a>
    </p>
}


<form asp-action="ListadeCausas" method="get">
    <div class="form-actions no-color">
        <p>
            Búsqueda: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <button type="submit" class="btn btn-default">
                <i class="fa fa-search"></i>
                Buscar
            </button> |
            <a asp-action="ListadeCausas">Regresar al listado completo</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                CNPP
            </th>
            <th>
                <a asp-action="ListadeCausas" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Juez</a>
            </th>
            <th>
                Cambio
            </th>
            <th>
                Distrito
            </th>
            <th>
                <a asp-action="ListadeCausas" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Causa Penal</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Cnpp)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Juez)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Cambio)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Distrito)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.CausaPenal)
                </th>

                <td>
                    <from>
                        <a style="margin-bottom:5px;width: 100%" class="btn btn-success" asp-action="EditCausas" asp-route-id="@item.IdCausaPenal">
                            <i class="fa fa-pencil"></i> Editar Causa
                        </a>
                    </from>
                    <form>
                        <a style="margin-bottom:5px;width: 100%" class="btn btn-info" asp-action="DetailsCP" asp-route-id="@item.IdCausaPenal">
                            <i class="fa fa-eye"></i> Personas Asignadas
                        </a>
                    </form>
                    @if (User.IsInRole("Masteradmin") || User.IsInRole("SupervisorMCSCP") || User.IsInRole("AdminMCSCP") || User.IsInRole("Oficialia"))
                    {
                        <form>
                            <a style="margin-bottom:5px;width: 100%" class="btn btn-primary" asp-action="Asignacion" asp-route-id="@item.IdCausaPenal" asp-route-cp="@item.CausaPenal">
                                <i class="fa fa-plus"></i>  Asignación
                            </a>
                        </form> 
                    }
                </td>
                    @if (User.IsInRole("Masteradmin") || User.IsInRole("SupervisorMCSCP") || User.IsInRole("AdminMCSCP") || User.IsInRole("Oficialia"))
                    {
                    <td>
                        <form>
                            <a style="margin-bottom:5px" class="btn btn-danger hidden-md-down" onclick="borrarCp(@item.IdCausaPenal)">
                                <i class="fa fa-trash"></i> Borrar
                            </a>
                        </form>
                    </td>
                    }
            </tr>
        }
    </tbody>
</table>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<p>
    Página @(Model.TotalPages < Model.PageIndex ? 0 : Model.PageIndex) de @Model.TotalPages
</p>
<a asp-action="ListadeCausas"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Anterior
</a>
<a asp-action="ListadeCausas"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Siguiente
</a>