@model PaginatedList<scorpioweb.Models.ArchivoControlPrestamo>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

@{
    ViewBag.Title = "Archivo Prestamo Digital";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<script>

    showModal = (url, title, id) => { 
        $.ajax({
            type: "GET",
            url: url + "?id="+id,
            success: function (res) {
                $("#form-modal .modal-body").html(res);
                $("#form-modal .modal-title").html(title);
                $("#form-modal").modal('show');
            },
            //data: {
            //    datosBitacora: [IdFracciones],
            //},
            error: function (res) {

            }
        })
    }


    function Borrar(id) {
        var idsuper = id;
        var usuario = '@ViewBag.user';
        var cambiar = confirm("¿Desea borrar el registro?");
        if (cambiar == true) {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Archivo/antesdelete",
            traditional: true,
            data: {
                id,
            },
            success: function (response) {
                if (response.borrar == false) {
                    alert("No puede borrar el registro porque tiene archivos");
                } else {
                    function borrarcp(id) {
                        var usuario = '@ViewBag.user';
                        let razon = prompt("Porque desea borrar el registro?", "");
                        if (razon == null || razon == "") {
                            return;
                            text = "NA";
                        } else {
                            text = razon;
                        }
                        $.ajax({
                            type: "POST",
                            dataType: "json",
                            url: "/Archivo/deletesuper",
                            traditional: true,
                            data: {
                                datosuper: [id, razon, usuario],
                            },
                            success: function (response) {
                                if (response.borrar == true) {
                                    alert("El Registro ha sido borrado");
                                    location.reload();
                                } else {
                                    alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                                }
                            },
                            error: function (response) {
                                alert(response.error);

                            }
                        });
                    };
                    borrarcp(id);
                }
            },
            error: function (response) {
                alert(response.error);
                alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
            }
        });
        }
        return innerFunc;
    };




</script>
<br />
<br />
<h1>Control de Archivo Prestamo Digital </h1>

<form asp-action="ArchivoPrestamoDigital" method="get">
    <div>
        <div class="col-md-12">
            <label>
                Búsqueda por nombre o idarchivo
                <input type="text" name="SearchString" value="@ViewData["currentFilter"]" /> 
            </label>
            <button type="submit" class="btn btn-default" style="margin-left:60px">
                <i class="fa fa-search"></i>
                Buscar
            </button>
            <a asp-action="ArchivoPrestamoDigital">Regresar al listado completo</a>
        </div>
    </div>        
</form>
<table class="table" style="font-size:10px">
    <thead>
        <tr>
            <th>
                Id Archivo
            </th>
            <th>
                Nombre Completo
            </th>
            @if (User.IsInRole("Masteradmin") || User.IsInRole("Archivo"))
            {
                <th>
                    Asignado a:
                </th>                
            }            
            <th>
                Fecha termino préstamo digital
            </th>
            <th>
                Expediente
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (User.IsInRole("Archivo") || User.IsInRole("Masteradmin") || ViewBag.User == item.archivoprestamodigitalVM.Usuario.ToLower() )
            {
                <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.archivoVM.IdArchivo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.archivoVM.Paterno) @Html.DisplayFor(modelItem => item.archivoVM.Materno) @Html.DisplayFor(modelItem => item.archivoVM.Nombre)
                </td>
                    @if (User.IsInRole("Masteradmin") || User.IsInRole("Archivo"))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.archivoprestamodigitalVM.Usuario)
                        </td>
                    }                
                <td>
                    @Html.DisplayFor(modelItem => item.archivoprestamodigitalVM.FechaCierre)
                </td>
                 <td>
                    @if (item.archivoVM.Urldocumento != null)
                    {
                            <a style="font-size: x-large;" id="btnEditar" href="~/ExpedientesDigitales?idArchivoRegistro=@item.archivoVM.IdArchivo&urlArchivo=@item.archivoVM.Urldocumento&tipo=1" target="_blank">
                            <i class="fa fa-paperclip fa-9x"></i>
                        </a>
                    }
                </td>
                <td>
                    <a onclick="showModal('@Url.Action("ArchivoCausas", "Archivo", new {id=@item.archivoVM.IdArchivo}, Context.Request.Scheme)','Expediente digital',null )" class="btn btn-primary fa fa-folder" title="Agregar archivo"> Ver archivos </a> 
                </td>   
            </tr>
            }
        }
    </tbody>
</table> 

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<p style="margin-top:30px">
    Página @(Model.TotalPages < Model.PageIndex ? 0 : Model.PageIndex) de @Model.TotalPages
</p>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-estadoSuper="@ViewData["EstadoS"]"
   asp-route-figuraJudicial="@ViewData["FiguraJ"]"
   class="btn btn-default @prevDisabled">
    Anterior
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-estadoSuper="@ViewData["EstadoS"]"  
   asp-route-figuraJudicial="@ViewData["FiguraJ"]"
   class="btn btn-default @nextDisabled">
    Siguiente
</a>
 <br />
    <div style="margin-top:20px">
        <a asp-action="ArchivoMenu">Regresar al Menu</a>
    </div>
