@model PaginatedList<scorpioweb.Models.ArchivoControlPrestamo>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

@{
    ViewBag.Title = "Control Archivo";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<script>
    showModal = (url, title, id) => {
        $.ajax({
            type: "GET",
            url: url + "?id=" + id,
            success: function (res) {
                $("#form-modal .modal-body").html(res);
                $("#form-modal .modal-title").html(title);
                $("#form-modal").modal('show');
            },
            //data: {
            //    datosBitacora: [IdFracciones],
            //},
            error: function (res) {
            }
        })
    }
    function Borrar(id) {
        var idsuper = id;
        var usuario = '@ViewBag.user';
        var cambiar = confirm("¿Desea borrar el registro?");
        if (cambiar == true) {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/Archivo/antesdelete",
                traditional: true,
                data: {
                    id,
                },
                success: function (response) {
                    if (response.borrar == false) {
                        alert("No puede borrar el registro porque tiene archivos");
                    } else {
                        function borrarcp(id) {
                            var usuario = '@ViewBag.user';
                            let razon = prompt("Porque desea borrar el registro?", "");
                            if (razon == null || razon == "") {
                                return;
                                text = "NA";
                            } else {
                                text = razon;
                            }
                            $.ajax({
                                type: "POST",
                                dataType: "json",
                                url: "/Archivo/deletesuper",
                                traditional: true,
                                data: {
                                    datosuper: [id, razon, usuario],
                                },
                                success: function (response) {
                                    if (response.borrar == true) {
                                        alert("El Registro ha sido borrado");
                                        location.reload();
                                    } else {
                                        alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                                    }
                                },
                                error: function (response) {
                                    alert(response.error);
                                }
                            });
                        };
                        borrarcp(id);
                    }
                },
                error: function (response) {
                    alert(response.error);
                    alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                }
            });
        }
        return innerFunc;
    };
    function BuscarAR() {
        var SearchString = document.getElementById("SearchString").value.toUpperCase();
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Archivo/BuscarAR",
            traditional: true,
            data: {
                var_buscar: SearchString,
            },
            success: function (response) {
                $('#tblbusqueda').html('');
                var row = '';
                if (response.busqueda.length == 0) {
                    alert("No se encontro ningún registro que coincida")
                    return;
                }
                for (let i = 0; i < response.busqueda.length; i++) {
                    row = row
                        + "<tr>"
                        + "<td>" + response.busqueda[i].id + "</td>"
                        + "<td>" + response.busqueda[i].paterno + " " + response.busqueda[i].materno + " " + response.busqueda[i].nombre + "</td>"
                        + "<td>" + response.busqueda[i].otro + "</td>"
                    row = row + "</tr>";
                };
                if (row != '') {
                    $('#tblBusqueda').append(row);
                }
                $("#myModal").modal();
                var str = "Resultados de  " + SearchString;
                $("#modal_body").html(str);
            },
            error: function (response) {
                //alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                //location.reload();
            }
        });
    };

    function solicitud(id, estado, user) {
        var idArchivo = id;
        let text;
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Archivo/solicitud",
            traditional: true,
            data: {
                datosoli: [estado, idArchivo, user],
            },
            success: function (response) {
                if (estado == true) {
                    alert("Solicitud hecha con exito, Espere a que se atienda");
                } else {
                    alert("Solicitud Cancelada!");
                }

                location.reload();
            },
            error: function (response) {
                location.reload();
            }
        });
    };


     function miFuncionEnPaginaPrincipal(nombre) {
        // ACCIONES LLEGAN DESDE LA VISTA PARCIAL, LLEGA UN VALOR "nombre" SE COLOCA EN EL BUSCADOR Y SE SIMULA UN CLICK
        //alert("Función activada desde la vista parcial" + nombre);
        document.getElementById("SearchString").value = nombre;
        var boton = document.getElementById("buscar");
        boton.click();
        document.getElementById("SearchString").value = "";
    }


</script>
<br />
<br />
<h1>Control de Archivo  </h1>
@if (User.IsInRole("Archivo") || User.IsInRole("Masteradmin"))
{
    if (@ViewBag.Warnings > 0)
    {
        <a href="@Url.Action("SolicitudesPrestamo")" class="link-archivo">
            <h4 style="text-align:right; color:red">Total de Solicitudes: @ViewBag.Warnings</h4>
        </a>
    }
}



<form asp-action="Index" method="get">
    <div>
        <div class="col-md-6">
            <label>
                Búsqueda por nombre o idarchivo
                <input type="text" name="SearchString" id="SearchString" value="@ViewData["currentFilter"]" />
            </label>
            <button type="submit" id="buscar" name="buscar" class="btn btn-default" style="margin-left:10px">
                <i class="fa fa-search"></i>
                Buscar
            </button>
        </div>
    </div>
</form>
<div class="col-md-6">
    <button class="btn btn-default" onclick="BuscarAR()">
        <i class="fa fa-search"></i>
        Buscar en Archivo Registro
    </button>
    <a style="margin-left: 20px" asp-action="Index">Regresar al listado completo</a>
</div>


<table class="table" style="font-size:10px">
    <thead>
        <tr>
            <th>
                Id Archivo
            </th>
            <th>
                Nombre Completo
            </th>
            <th>
                Estatus
            </th>
            <th>
                Area
            </th>
            <th>
                Expediente
            </th>
            <th>
                Y/O
            </th>
            <th>
                Condición Especial
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.archivoVM.IdArchivo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.archivoVM.Paterno) @Html.DisplayFor(modelItem => item.archivoVM.Materno) @Html.DisplayFor(modelItem => item.archivoVM.Nombre)
                </td>
                @if (item.archivoprestamoVM == null || (item.archivoprestamoVM != null && item.archivoprestamoVM.Estatus != "PRESTADO"))
                {
                    <td style="color:black">
                        @Html.DisplayFor(modelItem => item.archivoprestamoVM.Estatus)
                    </td>
                    <td></td>
                }
                else
                {
                    <td style="color:red">
                        @Html.DisplayFor(modelItem => item.archivoprestamoVM.Estatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.archivoprestamoVM.Area)
                    </td>
                }

                @if (item.archivoVM.Urldocumento != null)
                {
                    <td>
                        <a style="font-size: x-large;" id="btnEditar" href="~/Expedientes/@Html.DisplayFor(modelItem => item.archivoVM.Urldocumento)" target="_blank">
                            <i class="fa fa-paperclip fa-9x"></i>
                        </a>
                    </td>
                }
                else
                {
                    <td></td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.archivoVM.Yo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.archivoVM.CondicionEspecial)
                </td>

                @if (User.IsInRole("Archivo") || User.IsInRole("Masteradmin"))
                {
                    <td>
                        @if (item.archivoprestamoVM == null || (item.archivoprestamoVM != null && item.archivoprestamoVM.Estatus != "PRESTADO"))
                        {
                            <a onclick="showModal('@Url.Action("CreatePrestamo", "Archivo", new {id=@item.archivoVM.IdArchivo}, Context.Request.Scheme)','Prestamo de Archivo',null )" class="btn btn-warning fa fa-file" title="Prestar"> Prestar</a>
                        }
                        <a onclick="showModal('@Url.Action("CreateArchivo", "Archivo", new {id=@item.archivoVM.IdArchivo}, Context.Request.Scheme)','Crear Archivo',null )" class="btn btn-primary fa fa-folder" title="Agregar archivo"> Agregar archivo</a>
                        <a onclick="showModal('@Url.Action("Edit", "Archivo", new {id=@item.archivoVM.IdArchivo}, Context.Request.Scheme)','Editar Archivo',null )" class="btn btn-success fa fa-pencil" title="Editar"> Edit</a>
                        <a type="button" id="borrar" title="borrar" class="btn btn-danger" onclick="Borrar(@item.archivoVM.IdArchivo)">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                }
                @if (!User.IsInRole("Archivo"))
                {
                    <td>
                        @if (item.archivoVM.Solucitud == 0)
                        {
                            <a onclick="solicitud(@item.archivoVM.IdArchivo, true, '@ViewBag.User')" class="btn btn-danger fa fa-file-pdf-o"> Solicitar </a>
                        }
                        else
                        {
                            <a onclick="solicitud(@item.archivoVM.IdArchivo, true,  '@ViewBag.User')" class="btn btn-primary fa fa-file-pdf-o" title="Solicitado Por @item.archivoVM.QuienSolicita">  En Solicitud </a>
                            <a onclick="solicitud(@item.archivoVM.IdArchivo, false,'')" class="btn btn-warning fa fa-close" style="margin-left:10px" title="Cancelar Solicitud"> Cancelar Solicitud</a>
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>


<div id="myModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="text-right">
                <button type="button" class="btn btn-secondary" hrf data-dismiss="modal">x</button>
            </div>
            <div class="modal-header float-center">
                <h3 id="modal_body"></h3>
            </div>
            <div class="modal-body">
                <div>
                    <table class="table" name="tblBusqueda" id="tblBusqueda">
                        <thead>
                            <tr>
                                <th>Id Archivo Registro</th>
                                <th>Nombre</th>
                                <th>Otro</th>
                            </tr>
                        </thead>
                        <tbody id="tblBusqueda">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary fa fa-close" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
@if (User.IsInRole("Archivo") || User.IsInRole("Masteradmin"))
{
    <a onclick="showModal('@Url.Action("Create", "Archivo", Context.Request.Scheme)','Crear Archivo',null )"><img src="~/images/addArchivo.png" height="60" width="60" /></a>
}

<p style="margin-top:30px">
    Página @(Model.TotalPages < Model.PageIndex ? 0 : Model.PageIndex) de @Model.TotalPages
</p>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-estadoSuper="@ViewData["EstadoS"]"
   asp-route-figuraJudicial="@ViewData["FiguraJ"]"
   class="btn btn-default @prevDisabled">
    Anterior
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-estadoSuper="@ViewData["EstadoS"]"
   asp-route-figuraJudicial="@ViewData["FiguraJ"]"
   class="btn btn-default @nextDisabled">
    Siguiente
</a>
<br />
<div style="margin-top:20px">
    <a asp-action="ArchivoMenu">Regresar al Menu</a>
</div>