@model IEnumerable<scorpioweb.Models.Archivo>

@{
    ViewBag.Title = "Solicitud de Prestamo";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<script>
    showModal = (url, title, id) => {
        $.ajax({
            type: "GET",
            url: url + "?id=" + id,
            success: function (res) {
                $("#form-modal .modal-body").html(res);
                $("#form-modal .modal-title").html(title);
                $("#form-modal").modal('show');
            },
            //data: {
            //    datosBitacora: [IdFracciones],
            //},
            error: function (res) {

            }
        })
    }
    function Prestar(archivoIdArchivo, usuario, tiporestamo) {
        // alert(archivoIdArchivo);
        // alert(usuario);
        // alert(tiporestamo);
        // if (tiporestamo === "FISICO") {

        //     // showModal(
        //     //     '/Archivo/CreatePrestamo?id=' + archivoIdArchivo,
        //     //     'Prestamo de Archivo',
        //     //     null
        //     // );
        //     alert(1);
        // showModal = (url, title, archivoIdArchivo) => {
        //     $.ajax({
        //         type: "GET",
        //         url: "/Archivo/CreatePrestamo?id=" + archivoIdArchivo,
        //         success: function (res) {
        //             $("#form-modal .modal-body").html(res);
        //             $("#form-modal .modal-title").html(title);
        //             $("#form-modal").modal('show');
        //         },
        //         //data: {
        //         //    datosBitacora: [IdFracciones],
        //         //},
        //         error: function (res) {

        //         }
        //     })
        // }

        //     return;
        // }

        // Préstamo digital → continúa con AJAX
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Archivo/Prestar",
            traditional: true,
            data: {
                archivoIdArchivo: archivoIdArchivo,
                usuario: usuario
            },
            success: function (response) {
                location.reload();
            },
            error: function (response) {
                location.reload();
            }
        });
    }

    function cancelarSolicitud(id) {
        var idArchivo = id;
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Archivo/cancelarSolicitud",
            traditional: true,
            data: {
                datosoli: [idArchivo],
            },
            success: function (response) {
                Swal.fire({
                  position: "top-end",
                  icon: "success",
                  title: response.responseText,
                  showConfirmButton: false,
                  timer: 2500
                });
            location.reload();
            },
            error: function (response) {
                location.reload();
            }
        });
    };
</script>


<!DOCTYPE html>

<html>
<body>
    <h1>Solicitudes de Prestamo Digital</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Nombre Completo
                </th>
                <th>
                    Y/O
                </th>
                <th>
                    Condicion Especial 
                </th> 
                <th>
                    Quien solicita  
                </th>
                <th>
                    Tipo de solicitud
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdArchivo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Paterno) @Html.DisplayFor(modelItem => item.Materno) @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Yo)
                    </td> 
                    <td>
                        @Html.DisplayFor(modelItem => item.CondicionEspecial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuienSolicita)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Urldocumento)
                    </td>
                    <td>
                        <a onclick="Prestar(@item.IdArchivo ,'@item.QuienSolicita', '@item.Urldocumento')" class="btn btn-success fa fa-file-pdf-o" style="margin-top:10px" title="Prestar"> Prestar</a>
                        <a onclick="cancelarSolicitud(@item.IdArchivo)" class="btn btn-warning fa fa-file-pdf-o" style="margin-top:10px" title="Cancelar Solicitud"> Cancelar Solicitud</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
 