@model scorpioweb.Models.Causapenal

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Causapenal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cnpp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cnpp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Juez)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Juez)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cambio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cambio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CausaPenal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CausaPenal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCausaPenal">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
