@model scorpioweb.Models.Trabajocl
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
@{
    ViewData["Title"] = "Trabajo";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var tipo = 0;
    $(document).ready(function () {
        $('#trabajo').change(function () {
            var dat = $(this).children("option:selected").val();
            if (dat == "SI") {
                $("#DivTipoOcupacion").css("display", "block");
                $("#DivPuesto").css("display", "block");
                $("#DivEmpledorJefe").css("display", "block");
                $("#DivEnteradoProceso").css("display", "block");
                $("#DivSePuedeEnterar").css("display", "block");
                $("#DivTiempoTrabajando").css("display", "block");
                $("#DivSalario").css("display", "block");
                $("#DivTemporalidadSalario").css("display", "block");
                $("#DivDireccion").css("display", "block");
                $("#DivHorario").css("display", "block");
                $("#DivTelefono").css("display", "block");
                $("#DivObservaciones").css("display", "block");
            }
            else {
                $("#DivTipoOcupacion").css("display", "none");
                $("#DivPuesto").css("display", "none");
                $("#DivEmpledorJefe").css("display", "none");
                $("#DivEnteradoProceso").css("display", "none");
                $("#DivSePuedeEnterar").css("display", "none");
                $("#DivTiempoTrabajando").css("display", "none");
                $("#DivSalario").css("display", "none");
                $("#DivTemporalidadSalario").css("display", "none");
                $("#DivDireccion").css("display", "none");
                $("#DivHorario").css("display", "none");
                $("#DivTelefono").css("display", "none");

            }
        });

        $('#PropuestaLaboral').change(function () {
            var consume = $(this).children("option:selected").val();
            if (consume == "SI") {
                $("#CualPropuestaT").css("display", "block");
                $("#PropuestaLaboralT").removeClass("col-md-12");
                $("#PropuestaLaboralT").addClass("col-md-6");
            }
            else {
                $("#CualPropuestaT").css("display", "none");
                $("#CualPropuesta").val("NA");
                $("#PropuestaLaboralT").removeClass("col-md-6");
                $("#PropuestaLaboralT").addClass("col-md-12");
            }
        });

        $('#TrabajoCentro').change(function () {
            var consume = $(this).children("option:selected").val();
            if (consume == "SI") {
                $("#CualTrabajoCentroT").css("display", "block");
                $("#TrabajoCentroT").removeClass("col-md-12");
                $("#TrabajoCentroT").addClass("col-md-6");
            }
            else {
                $("#CualTrabajoCentroT").css("display", "none");
                $("#CualTrabajoCentro").val("NA");
                $("#TrabajoCentroT").removeClass("col-md-6");
                $("#TrabajoCentroT").addClass("col-md-12");

            }
        });

        $('#Capacitacion').change(function () {
            var consume = $(this).children("option:selected").val();
            if (consume == "SI") {
                $("#CualCapacitacionT").css("display", "block");
                $("#CapacitacionT").removeClass("col-md-12");
                $("#CapacitacionT").addClass("col-md-6");
            }
            else {
                $("#CualCapacitacionT").css("display", "none");
                $("#CualCapacitacion").val("NA");
                $("#CapacitacionT").removeClass("col-md-6");
                $("#CapacitacionT").addClass("col-md-12");
            }
        });
        
        if ('@ViewBag.siNoCentro' === "SI") {
            $("#AntesdeCentroT").css("display", "block");
            $("#TrabajoCentroT").css("display", "block");
        } else {
            $("#AntesdeCentroT").css("display", "none");
            $("#TrabajoCentroT").css("display", "none");
            $("#CualTrabajoCentroT").css("display", "none");
            $("#CualTrabajoCentro").val("NA");
        }


        //#region cualtratamiento
        var ct = document.getElementById("TrabajoCentro")
            if (ct.value == "SI") {
                $("#CualTrabajoCentroT").css("display", "block");
                $("#TrabajoCentroT").removeClass("col-md-12");
                $("#TrabajoCentroT").addClass("col-md-6");
            }
            else {
                $("#CualTrabajoCentroT").css("display", "none");
                $("#CualTrabajoCentro").val("NA");
                $("#TrabajoCentroT").removeClass("col-md-6");
                $("#TrabajoCentroT").addClass("col-md-12");

            }
        //#endregion    
        // 
        //#region cualtratamiento
        var ct = document.getElementById("PropuestaLaboral")
            if (ct.value == "SI") {
                $("#CualPropuestaT").css("display", "block");
                $("#PropuestaLaboralT").removeClass("col-md-12");
                $("#PropuestaLaboralT").addClass("col-md-6");
            }
            else {
                $("#CualPropuestaT").css("display", "none");
                $("#CualPropuesta").val("NA");
                $("#PropuestaLaboralT").removeClass("col-md-6");
                $("#PropuestaLaboralT").addClass("col-md-12");
            }
        //#endregion

        // //#region cualtratamiento
        var capa = document.getElementById("Capacitacion")
            if (capa.value == "SI") {
                $("#CualCapacitacionT").css("display", "block");
                $("#CapacitacionT").removeClass("col-md-12");
                $("#CapacitacionT").addClass("col-md-6");
            }
            else {
                $("#CualCapacitacionT").css("display", "none");
                $("#CualCapacitacion").val("NA");
                $("#CapacitacionT").removeClass("col-md-6");
                $("#CapacitacionT").addClass("col-md-12");
            }
        //#endregion

    });
</script>

<h2>Trabajo</h2>
<h3>@ViewData["Nombre"]</h3>

<div class="row">
    <div class="col-md-12">
        <form asp-action="EditTrabajo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTrabajoCl" />
            <input type="hidden" asp-for="PersonaClIdPersonaCl" />
            <div class="form-group col-md-4">
                <label class="control-label">¿Trabaja actualmente?</label>
                <select class="form-control" name="Trabaja" id="trabajo"
                        asp-items="@(new SelectList(ViewBag.listaTrabaja, "Value", "Text", @ViewBag.idTrabaja))">
                </select>
            </div>
            @if (ViewBag.trabaja == "SI")
            {
                <div class="form-group col-md-8" id="DivTipoOcupacion">
                    <label class="control-label">Tipo de ocupación</label>
                    <select class="form-control" name="TipoOcupacion"
                            asp-items="@(new SelectList(ViewBag.listaTipoOcupacion, "Value", "Text", @ViewBag.idTipoOcupacion))">
                    </select>
                </div>
                <div class="form-group col-md-6" id="DivPuesto">
                    <label asp-for="Puesto" class="control-label"></label>
                    <input asp-for="Puesto" class="form-control" />
                    <span asp-validation-for="Puesto" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6" id="DivEmpledorJefe">
                    <label class="control-label">Empleador/Jefe inmediato</label>
                    <input asp-for="EmpledorJefe" class="form-control" />
                    <span asp-validation-for="EmpledorJefe" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6" id="DivEnteradoProceso">
                    <label class="control-label">¿Esta enterado(a) de su proceso penal?</label>
                    <select class="form-control" name="EnteradoProceso"
                            asp-items="@(new SelectList(ViewBag.listaEnteradoProceso, "Value", "Text", @ViewBag.idEnteradoProceso))">
                    </select>
                </div>
                <div class="form-group col-md-6" id="DivSePuedeEnterar">
                    <label class="control-label">¿Se puede enterar?</label>
                    <select class="form-control" name="SePuedeEnterar"
                            asp-items="@(new SelectList(ViewBag.listaSePuedeEnterart, "Value", "Text", @ViewBag.idSePuedeEnterart))">
                    </select>
                </div>
                <div class="form-group col-md-12" id="DivTiempoTrabajando">
                    <label class="control-label">Tiempo</label>
                    <select class="form-control" name="TiempoTrabajando"
                            asp-items="@(new SelectList(ViewBag.listaTiempoTrabajando, "Value", "Text", @ViewBag.idTiempoTrabajando))">
                    </select>
                </div>
                <div class="form-group col-md-6" id="DivSalario">
                    <label asp-for="Salario" class="control-label"></label>
                    <input asp-for="Salario" class="form-control" />
                    <span asp-validation-for="Salario" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6" id="DivTemporalidadSalario">
                    <label class="control-label">Cada cuando le pagan</label>
                    <select class="form-control" name="TemporalidadSalario"
                            asp-items="@(new SelectList(ViewBag.listaTemporalidadSalario, "Value", "Text", @ViewBag.idTemporalidadSalario))">
                    </select>
                </div>
                <div class="form-group col-md-12" id="DivDireccion">
                    <label asp-for="Direccion" class="control-label"></label>
                    <input asp-for="Direccion" class="form-control" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6" id="DivHorario">
                    <label asp-for="Horario" class="control-label"></label>
                    <input asp-for="Horario" class="form-control" />
                    <span asp-validation-for="Horario" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6" id="DivTelefono">
                    <label asp-for="Telefono" class="control-label"></label>
                    <input asp-for="Telefono" type="tel" pattern="[0-9]{10}" maxlength="10" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>

            }
            else
            {
                <div class="form-group col-md-8" style="display:none" id="DivTipoOcupacion">
                    <label class="control-label">Tipo de ocupación</label>
                    <select class="form-control" name="TipoOcupacion"
                            asp-items="@(new SelectList(ViewBag.listaTipoOcupacion, "Value", "Text", @ViewBag.idTipoOcupacion))">
                    </select>
                </div>
                <div class="form-group col-md-6" style="display:none" id="DivPuesto">
                    <label asp-for="Puesto" class="control-label"></label>
                    <input asp-for="Puesto" class="form-control" />
                    <span asp-validation-for="Puesto" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6" style="display:none" id="DivEmpledorJefe">
                    <label asp-for="EmpledorJefe" class="control-label"></label>
                    <input asp-for="EmpledorJefe" class="form-control" />
                    <span asp-validation-for="EmpledorJefe" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6" style="display:none" id="DivEnteradoProceso">
                    <label class="control-label">¿Esta enterado(a) de su proceso penal?</label>
                    <select class="form-control" name="EnteradoProceso"
                            asp-items="@(new SelectList(ViewBag.listaEnteradoProceso, "Value", "Text", @ViewBag.idEnteradoProceso))">
                    </select>
                </div>
                <div class="form-group col-md-6" style="display:none" id="DivSePuedeEnterar">
                    <label class="control-label">¿Se puede enterar?</label>
                    <select class="form-control" name="SePuedeEnterar"
                            asp-items="@(new SelectList(ViewBag.listaSePuedeEnterart, "Value", "Text", @ViewBag.idSePuedeEnterart))">
                    </select>
                </div>
                <div class="form-group col-md-12" style="display:none" id="DivTiempoTrabajando">
                    <label class="control-label">Tiempo</label>
                    <select class="form-control" name="TiempoTrabajando"
                            asp-items="@(new SelectList(ViewBag.listaTiempoTrabajando, "Value", "Text", @ViewBag.idTiempoTrabajando))">
                    </select>
                </div>
                <div class="form-group col-md-6" style="display:none" id="DivSalario">
                    <label asp-for="Salario" class="control-label"></label>
                    <input asp-for="Salario" class="form-control" />
                    <span asp-validation-for="Salario" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6" style="display:none" id="DivTemporalidadSalario">
                    <label class="control-label">Cada cuando le pagan</label>
                    <select class="form-control" name="TemporalidadSalario"
                            asp-items="@(new SelectList(ViewBag.listaTemporalidadSalario, "Value", "Text", @ViewBag.idTemporalidadSalario))">
                    </select>
                </div>
                <div class="form-group col-md-12" style="display:none" id="DivDireccion">
                    <label asp-for="Direccion" class="control-label"></label>
                    <input asp-for="Direccion" class="form-control" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6" style="display:none" id="DivHorario">
                    <label asp-for="Horario" class="control-label"></label>
                    <input asp-for="Horario" class="form-control" />
                    <span asp-validation-for="Horario" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6" style="display:none" id="DivTelefono">
                    <label asp-for="Telefono" class="control-label"></label>
                    <input asp-for="Telefono" type="tel" pattern="[0-9]{10}" maxlength="10" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
               
            }

            <div class="form-group col-md-12" id="ConocimientoHabilidadT">
                <label class="control-label">¿Cuales consideras que son tus mejores habilidades o conocimientos que te ayuden a generar un ingreso económico?</label>
                <input asp-for="ConocimientoHabilidad" class="form-control" id="ConocimientoHabilidad" name="ConocimientoHabilidad" />
                <span asp-validation-for="ConocimientoHabilidad" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12" id="PropuestaLaboralT">
                <label class="control-label">¿Cuentas con una propuesta laboral actualmente?</label>
                <select class="form-control" name="PropuestaLaboral" id="PropuestaLaboral"
                        asp-items="@(new SelectList(ViewBag.listaPropuestaLaboral, "Value", "Text", @ViewBag.idPropuestaLaboral))">
                </select>
            </div>
            <div class="form-group col-md-6" id="CualPropuestaT" style="display:none">
                <label class="control-label">¿Donde?</label>
                <input asp-for="CualPropuesta" class="form-control" id="CualPropuesta" name="CualPropuesta" />
                <span asp-validation-for="CualPropuesta" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12" id="AntesdeCentroT" style="display:none">
                <label class="control-label">¿A que se dedicaba antes de ingresar al centro penitenciario?</label>
                <input asp-for="AntesdeCentro" class="form-control" id="AntesdeCentro" name="AntesdeCentro" />
                <span asp-validation-for="AntesdeCentro" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12" id="TrabajoCentroT" style="display:none">
                <label class="control-label">¿Realizo algún trabajo dentro del centro?</label>
                <select class="form-control" name="TrabajoCentro" id="TrabajoCentro"
                        asp-items="@(new SelectList(ViewBag.listaTrabajoCentro, "Value", "Text", @ViewBag.idTrabajoCentro))">
                </select>
            </div>
            <div class="form-group col-md-6" id="CualTrabajoCentroT" style="display:none">
                <label class="control-label">¿Cual?</label>
                <input asp-for="CualTrabajoCentro" class="form-control" id="CualTrabajoCentro" name="CualTrabajoCentro" />
                <span asp-validation-for="CualTrabajoCentro" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12" id="CapacitacionT">
                <label class="control-label">¿Le gustaría recibir capacitación para algún empleo?</label>
                <select class="form-control" name="Capacitacion" id="Capacitacion"
                        asp-items="@(new SelectList(ViewBag.listaCapacitacion, "Value", "Text", @ViewBag.idCapacitacion))">
                </select>
            </div>
            <div class="form-group col-md-6" id="CualCapacitacionT" style="display:none">
                <label class="control-label">¿Cual?</label>
                <input asp-for="CualCapacitacion" class="form-control" id="CualCapacitacion" name="CualCapacitacion" />
                <span asp-validation-for="CualCapacitacion" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12" id="DivObservaciones">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i>
                        Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MenuEdicion" asp-route-id="@Model.PersonaClIdPersonaCl" class="btn btn-link">
        Regresar
    </a>
</div>


