@model IEnumerable<scorpioweb.Models.Presentacionperiodicacl>

@{
    ViewData["Title"] = "Presentaciones Periodicas";
    Layout = "/Views/Shared/_Layout.cshtml";
}




@foreach (var item in ViewData["joinTablasPresentacion"] as IEnumerable<scorpioweb.Models.PresentacionPeriodicaclPersonacl>)
{
    <h2>Nombre: @Html.DisplayFor(modelItem => item.personaVM.NombreCompleto) </h2>
    break;
}

<table class="table">
    <thead>
    <th>
        Presentación Periódica
    </th>

    <th>
        Comentario
    </th>
    </thead>
    <tbody>
        @foreach (var item2 in ViewData["joinTablasPresentacion"] as IEnumerable<scorpioweb.Models.PresentacionPeriodicaclPersonacl>)
        {
            <tr>
                <form asp-action="EditComentario" style="font-size:10px">
                    <input name="IdPersonaCl" id="IdPersonaCl" readonly style="display:none" value="@item2.personaVM.IdPersonaCl" />
                    <input name="FechaFirma" id="FechaFirma" readonly style="display:none" value="@item2.presentacionperiodicaVM.FechaFirma" />
                    <input name="IdregistroHuellacl" id="IdregistroHuellacl" readonly style="display:none" value="@item2.presentacionperiodicaVM.IdregistroHuellacl" />
                    <input name="IdpresentacionPeriodicacl" id="IdpresentacionPeriodicacl" readonly style="display:none" value="@item2.presentacionperiodicaVM.IdpresentacionPeriodicacl" />
                <td>
                        @if (item2.presentacionperiodicaVM.FechaFirma != null)
                        {
                            @(item2.presentacionperiodicaVM.FechaFirma.Value.ToString("dd MMMM yyyy HH:mm"))
                        }
                </td>
                <td>
                    <div class="form-group">
                        <textarea class="form-control" name="ComentarioFirma" id="ComentarioFirma" rows="3" style="width:800px;">@item2.presentacionperiodicaVM.ComentarioFirma</textarea>
                    </div>

                <td>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-save"></i>
                            Guardar
                        </button>
                    </div>
                </td>
                </td>
                </form>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Index" class="btn btn-link">
    Regresar al listado completo
</a>
